<div id="wrapper" class="blog-details list-blogs">
    <!-- content-->
    <div class="content">
        <!--  section  -->
        <section class="list-single-hero" data-scrollax-parent="true" id="sec1">
            <!-- [attr.data-bg]="blogDetail.image" -->
            <!-- "url("+blogDetail.image+")" -->
            <div class="bg par-elem" [style.background]="'url('+blogDetail.image+')'"  [attr.data-bg]="blogDetail.image" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="list-single-hero-title fl-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <!-- <div class="listing-rating-wrap">
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                </div> -->
                            <h2><span>{{blogDetail.title}}</span></h2>
                            <div class="list-single-header-contacts fl-wrap">
                                <ul>
                                    <li><i class="fa fa-comments-alt"></i><a href="#">{{blogDetail.reviews_count}}</a></li>
                                    <li><i class="fa fa-bookmark"></i><a href="#">{{blogDetail.reviews_count}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <!--  list-single-hero-details-->
                            <div class="list-single-hero-details fl-wrap">
                                <!--  list-single-hero-rating-->
                                <div class="list-single-hero-rating">
                                    <div class="rate-class-name">
                                        <div class="score"><strong>Likes</strong></div>
                                        <span>{{blogDetail.likes_count}}</span>
                                    </div>
                                </div>
                                <!--  list-single-hero-rating  end-->
                                <div class="clearfix"></div>
                                <!-- list-single-hero-links-->
                                <div class="list-single-hero-links">
                                    <a class="lisd-link" [class.active]="blogDetail.is_bookmarked" (click)="toggleBookmark()"><i class="fa fa-bookmark"></i>{{blogDetail.is_bookmarked ? 'Book Marked' : 'Book Mark'}}</a>
                                    <a class="lisd-link" [class.active]="blogDetail.is_liked" (click)="toggleLike()"><i class="fa fa-heart"></i> {{blogDetail.is_liked ? 'Liked' : 'Like'}}</a>
                                    <a class="custom-scroll-link lisd-link" (click)="goAddReview()"><i class="fal fa-comment-alt-check"></i> Add Comments</a>
                                </div>
                                <!--  list-single-hero-links end-->
                            </div>
                            <!--  list-single-hero-details  end-->
                        </div>
                    </div>
                    <div class="breadcrumbs-hero-buttom fl-wrap">
                        <div class="breadcrumbs"><a href="/">Home</a><a routerLink="/blogs">Blogs</a><a>{{blogDetail?.subcategory?.category?.name}}</a><span>{{blogDetail?.subcategory?.name}}</span></div>
                        <!-- <div class="list-single-hero-price follow-us"><a class="lisd-link" href="#"><i class="fal fa-arrow-right"></i> Follow Us</a></div> -->
                    </div>
                </div>
            </div>
        </section>
        <!--  section  end-->
        <!--  section  -->
        <section class="grey-blue-bg small-padding scroll-nav-container" id="sec2">
            <!--   container  -->
            <div class="container">
                <!--   row  -->
                <div class="row">
                    <!--   datails -->
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="list-single-main-container">
                            <!-- fixed-scroll-column  -->
                            <div class="fixed-scroll-column">
                                <div class="fixed-scroll-column-item fl-wrap">
                                    <div class="showshare sfcs fc-button fb-share"><i class="fab fa-facebook-f"></i><span>Share</span></div>
                                    <div class="showshare sfcs fc-button twitter-share"><i class="fab fa-twitter"></i><span>Share</span></div>
                                    <div class="showshare sfcs fc-button google-share"><i class="fab fa-google-plus-g"></i><span>Share</span></div>
                                    <div class="showshare sfcs fc-button linkedin-share"><i class="fab fa-linkedin-in"></i><span>Share</span></div>
                                    <div class="share-holder fixed-scroll-column-share-container">
                                        <div class="share-container  isShare"></div>
                                    </div>
                                    <a class="fc-button custom-scroll-link review-btn" href="#sec6"><i class="fa fa-comment-alt-check"></i> <span> Add review </span></a>
                                    <a class="fc-button like-btn" href="#"><i class="fa fa-heart"></i> <span>Save</span></a>
                                    <a class="fc-button bookmark-btn" href="#"><i class="fa fa-bookmark"></i> <span> Book Now </span></a>
                                </div>
                            </div>
                            <!--   list-single-main-item -->
                            <div class="list-single-main-item fl-wrap blog-content" [innerHTML]="blogDetail.description">
                                <!-- <div>
                                    <p>Parenting is hard and requires a strong will. Sometimes your children will not like you, but you must accept that and recognize it is for their own good. If your children’s bad behaviours continue after working with them or it begins to escalate, something more serious might be going on.&nbsp;</p>
                                    <p>There are some important ways to correct your child behaviour:</p>
                                    <ul>
                                        <li><strong>Appreciate your child:&nbsp;</strong>Appreciate your children, even when they are tried. Because not everyone is correct, at least they are making an effort to make it.</li>
                                        <li><strong>Never underestimate or overestimate your child's ability.</strong></li>
                                        <li><strong>Follow your own rules:&nbsp;</strong>Children see what you do and will tend to copy your actions and behaviours. If they see you neglecting to follow an expectation you made, they will assume they can disregard it as well.</li>
                                        <li><strong>Be proactive!:&nbsp;</strong>Preventing bad behaviour before it even begins is critical. Learn the patterns of your child’s behaviour so you can be prepared to take action.</li>
                                        <li><strong>Reward good behaviour:&nbsp;</strong>Children seek and need attention, and will look for it in both positive and negative ways. Providing positive reinforcement helps your child learn what they are doing well, and makes them want to repeat that good behaviour.</li>
                                    </ul>
                                </div>
                                <div>
                                    <p>We are born and raised in a society that has been heavily conditioned by norms which are passed on from generation to generation. The do’s and don’ts, the good and bad, the right and wrong. Well, the list is endless.&nbsp;</p>
                                    <p>When a couple gets into wedlock (love or arranged), their mental conditioning, which is a result of their upbringing, plays a vital role in their relationship, and eventually affects their role as parents. The father-to-be has his own set of belief systems, his own personality, his own perceptions, his own strengths and weaknesses, and above all, his own distinct traits absorbed straight from the DNA of his parents. The mother-to-be has her own of all those characteristics mentioned above.</p>
                                    <p>Therefore, it is very important that every couple understands the gap that prevails between them as individuals, and the presence of a marked difference in their personalities, resulting from the traits their respective parents who raised them and also due to the traits of their lineage. That’s why acceptance should be born before the child. 'The wedding is over. Quick, let’s have a child.' The couple is driven by a parental urge. If not, their families start pressurizing them. Their friends and neighbours start dropping hints.&nbsp;</p>
                                    <p>Today, parental issues arise because couples become parents before they are psychologically mature to give birth to a child. &nbsp; And only acceptance can give birth to maturity:</p>
                                    <ul>
                                        <li>Acceptance of the varied individual characteristics between the father-to-be and the mother-to-be.</li>
                                        <li>Acceptance of their differences in upbringing.</li>
                                        <li>Acceptance of each other’s families and friends.</li>
                                        <li>Acceptance of one another’s aspirations and goals.</li>
                                        <li>Acceptance of their religious beliefs.</li>
                                        <li>Acceptance of their social standing.&nbsp;</li>
                                        <li>And above all, acceptance of their differences, which will lay a strong foundation for a happy marital life.</li>
                                    </ul>
                                    <p>In a nutshell, acceptance of every single aspect that is going to deeply influence the holistic well being of their child. &nbsp;</p>
                                    <p>Understanding the mounting Neuro-Scientific evidence about the nature and importance of early brain development enables both parents and those who work with their child to know what the child needs most in order to lead a happy life.&nbsp;</p>
                                    <p>Nurturing, responsive, reliable and trusting relationships. Regular, predictable and consistent routines. Interactive language experiences. A physically and an emotionally safe and conducive environment. And opportunities to explore and to learn through experimentation. This is truly the secret of successful parenting. But by no means is it easy. It requires an individualistic approach, a flexible attitude, an evolving mentality and an elevated state of mind that is open to unlearning and conditioning. &nbsp; &nbsp;&nbsp;</p>
                                    <p>Indeed a colossal effort by both the parents-to-be. Now, don’t you agree that parenting is no kid stuff</p>
                                    <p>Happy Parenting!</p>
                                </div> -->
                            </div>
                            <!--   list-single-main-item end -->
                            <!--   list-single-main-item -->
                            <div class="list-single-main-item fl-wrap" *ngIf="blogDetail?.blog_tags?.length>0" id="sec3">
                                <div class="list-single-main-item-title no-dec-title fl-wrap">
                                    <h3>Tags</h3>
                                </div>
                                <div class="list-single-tags tags-stylwrap">
                                    <a *ngFor="let tag of blogDetail.blog_tags" class="pointer">{{tag.name}}</a>
                                </div>
                            </div>
                            <!--   list-single-main-item end -->
                            <!-- list-single-main-item -->
                            <div *ngIf="reviewList?.results?.length>0" class="list-single-main-item comments-sec fl-wrap" id="sec5">
                                <!-- reviews-score-wrap end -->
                                <div class="list-single-main-item-title fl-wrap">
                                    <h3>Comments</h3>
                                </div>
                                <div class="reviews-comments-wrap">
                                    <div class="reviews-comments-item" *ngFor="let review of reviewList.results">
                                        <div class="review-comments-avatar">
                                            <img [src]="review?.user?.profile_pic || 'assets/images/avatar/2.jpg'" alt="">
                                        </div>
                                        <div class="reviews-comments-item-text">
                                            <h4><a href="#">{{review?.user?.first_name}}</a></h4>
                                            <div class="clearfix"></div>
                                            <p>{{review.text}}</p>
                                            <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>{{review.created_at | date : "dd MMM yyyy hh:mm a"}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- list-single-main-item end -->
                            <!-- list-single-main-item -->
                            <div class="list-single-main-item fl-wrap" id="sec6">
                                <div class="list-single-main-item-title fl-wrap">
                                    <h3>Whats on your mind?</h3>
                                </div>
                                <!-- Add Review Box -->
                                <div id="add-review" class="add-review-box">
                                    <!-- Review Comment -->
                                    <form id="add-comment" class="add-comment  custom-form" name="rangeCalc">
                                        <fieldset>
                                            <div class="row">
                                                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <label><i class="fal fa-user"></i></label>
                                                    <input type="text" placeholder="Your Name *" value="" />
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <label><i class="fal fa-envelope"></i> </label>
                                                    <input type="text" placeholder="Email Address*" value="" />
                                                </div> -->
                                            </div>
                                            <textarea [(ngModel)]="myreview" name="review" cols="40" rows="3" placeholder="Your Comments"></textarea>
                                        </fieldset>
                                        <button (click)="submitReview()" class="btn  big-btn flat-btn float-btn color2-bg" style="margin-top:30px">Submit <i class="fal fa-paper-plane"></i></button>
                                    </form>
                                </div>
                                <!-- Add Review Box / End -->
                            </div>
                            <!-- list-single-main-item end -->
                        </div>
                    </div>
                    <!--   datails end  -->
                    <!--   sidebar  -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!--box-widget-wrap -->
                        <div class="box-widget-wrap fl-wrap hidden-in-ipad">
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> Search In Blog </h3>
                                        </div>
                                        <div class="search-widget">
                                            <form action="#" class="fl-wrap">
                                                <input name="se" id="se" type="text" class="search" placeholder="Search.." value="Search..." />
                                                <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search transition"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> About Author </h3>
                                        </div>
                                        <div class="author-details-widget">
                                            <a href="#" class="img"><img src="assets/images/avatar/4.jpg" alt=""></a>
                                            <a href="#" class="details">
                                                <span class="name">Dr.Aanchal Sehrawat &nbsp; <i class="fal fa-external-link-alt"></i></span><br>
                                                <span class="speciality spantext"><i class="fal fa-hand-point-right">&nbsp;</i>Dermatologist</span>
                                                <span class="email spantext"><i class="fal fa-envelope-open"></i>&nbsp; draanchal@gmail.com</span>
                                                <span class="phno spantext"><i class="fal fa-phone"></i>&nbsp; 9094483144</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget widget-posts">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3>Popular Posts</h3>
                                        </div>
                                        <!--box-image-widget-->
                                        <div class="box-image-widget">
                                            <div class="box-image-widget-media"><img src="assets/images/blogs/rel-blog-post-1.jpg" alt="">
                                                <a href="blog-details.html" class="color-bg">Details</a>
                                            </div>
                                            <div class="box-image-widget-details">
                                                <h4>Dad, Take Care! A letter from son with heartful love</h4>
                                                <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                <a href="">
                                                    <span class="widget-posts-date"><i class="fal fa-eye"></i>300</span>
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--box-image-widget end -->
                                        <!--box-image-widget-->
                                        <div class="box-image-widget">
                                            <div class="box-image-widget-media"><img src="assets/images/blogs/rel-blog-post-2.jpg" alt="">
                                                <a href="blog-details.html" class="color-bg">Details</a>
                                            </div>
                                            <div class="box-image-widget-details">
                                                <h4>What is going on with My Teenager?</h4>
                                                <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                <a href="">
                                                    <span class="widget-posts-date"><i class="fal fa-eye"></i>410</span>
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 12 May 2017 </span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--box-image-widget end -->
                                        <!--box-image-widget-->
                                        <div class="box-image-widget">
                                            <div class="box-image-widget-media"><img src="assets/images/blogs/rel-blog-post-3.jpg" alt="">
                                                <a href="blog-details.html" class="color-bg">Details</a>
                                            </div>
                                            <div class="box-image-widget-details">
                                                <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                                <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                <a href="">
                                                    <span class="widget-posts-date"><i class="fal fa-eye"></i>257</span>
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 27 Dec 2017 </span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--box-image-widget end -->
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget counter-widget">
                                    <div class="banner-wdget fl-wrap">
                                        <div class="overlay"></div>
                                        <div class="bg" data-bg="assets/images/blogs/rel-blog-post-3.jpg"></div>
                                        <div class="banner-wdget-content fl-wrap">
                                            <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                            <div class="countdown fl-wrap">
                                                <div class="countdown-item">
                                                    <span class="days rot">200</span>
                                                    <p>Views</p>
                                                </div>
                                                <div class="countdown-item">
                                                    <span class="hours rot">17</span>
                                                    <p>Likes</p>
                                                </div>
                                                <div class="countdown-item">
                                                    <span class="minutes rot">26</span>
                                                    <p>Comments</p>
                                                </div>
                                                <div class="countdown-item">
                                                    <span class="seconds rot">15</span>
                                                    <p>Shares</p>
                                                </div>
                                            </div>
                                            <a href="#">Watch Video Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> Follow Us </h3>
                                        </div>
                                        <div class="follow-us-widget">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/facebook.svg"></a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/twitter.svg"></a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/google-plus.svg"></a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/linkedin.svg"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="team-holder section-team fl-wrap flipbook-show">
                                <div class="team-box">
                                    <div class="team-photo">
                                        <img src="assets/images/blogs/flipbook-sample.jpg" alt="" class="respimg">
                                        <div class="sale-window big-sale">Flip Book</div>
                                    </div>
                                    <div class="team-info">
                                        <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                        <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                                        <h4>Heart Diseases | Healthy Heart</h4>
                                        <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                                            </ul>
                                            <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> Get health tips in your inbox </h3>
                                        </div>
                                        <div class="search-widget">
                                            <img src="assets/images/blogs/mailbox.svg" alt="" class="mail-box">
                                            <form action="#" class="fl-wrap">
                                                <input name="se" id="se" type="text" class="search" placeholder="Enter your email id here" />
                                                <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header fnone mb-15px">
                                            <h3> Related Questions </h3>
                                        </div>
                                        <div class="related-question-widget">
                                            <ul>
                                                <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                                <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                                <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                            </ul>
                                            <a href="list-forums.html" class="color-bg view-all-btn">View All</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--box-widget-wrap end -->
                        <div class="show-in-ipad">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Search In Blog </h3>
                                                </div>
                                                <div class="search-widget">
                                                    <form action="#" class="fl-wrap">
                                                        <input name="se" id="se" type="text" class="search" placeholder="Search.." value="Search..." />
                                                        <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search transition"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> About Author </h3>
                                                </div>
                                                <div class="author-details-widget">
                                                    <a href="#" class="img"><img src="assets/images/avatar/4.jpg" alt=""></a>
                                                    <a href="#" class="details">
                                                        <span class="name">Dr.Aanchal Sehrawat &nbsp; <i class="fal fa-external-link-alt"></i></span><br>
                                                        <span class="speciality spantext"><i class="fal fa-hand-point-right">&nbsp;</i>Dermatologist</span>
                                                        <span class="email spantext"><i class="fal fa-envelope-open"></i>&nbsp; draanchal@gmail.com</span>
                                                        <span class="phno spantext"><i class="fal fa-phone"></i>&nbsp; 9094483144</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->

                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget counter-widget">
                                            <div class="banner-wdget fl-wrap">
                                                <div class="overlay"></div>
                                                <div class="bg" data-bg="assets/images/blogs/rel-blog-post-3.jpg"></div>
                                                <div class="banner-wdget-content fl-wrap">
                                                    <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                                    <div class="countdown fl-wrap">
                                                        <div class="countdown-item">
                                                            <span class="days rot">200</span>
                                                            <p>Views</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="hours rot">17</span>
                                                            <p>Likes</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="minutes rot">26</span>
                                                            <p>Comments</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="seconds rot">15</span>
                                                            <p>Shares</p>
                                                        </div>
                                                    </div>
                                                    <a href="#">Watch Video Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Follow Us </h3>
                                                </div>
                                                <div class="follow-us-widget">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/facebook.svg"></a>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/twitter.svg"></a>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/google-plus.svg"></a>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/linkedin.svg"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="team-holder section-team fl-wrap flipbook-show">
                                        <div class="team-box">
                                            <div class="team-photo">
                                                <img src="assets/images/blogs/flipbook-sample.jpg" alt="" class="respimg">
                                                <div class="sale-window big-sale">Flip Book</div>
                                            </div>
                                            <div class="team-info">
                                                <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                                <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                                                <h4>Heart Diseases | Healthy Heart</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                <div class="team-social">
                                                    <ul>
                                                        <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                                                    </ul>
                                                    <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget widget-posts">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3>Popular Posts</h3>
                                                </div>
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media"><img src="assets/images/blogs/rel-blog-post-1.jpg" alt="">
                                                        <a href="blog-details.html" class="color-bg">Details</a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <h4>Dad, Take Care! A letter from son with heartful love</h4>
                                                        <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                        <a href="">
                                                            <span class="widget-posts-date"><i class="fal fa-eye"></i>300</span>
                                                            <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media"><img src="assets/images/blogs/rel-blog-post-2.jpg" alt="">
                                                        <a href="blog-details.html" class="color-bg">Details</a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <h4>What is going on with My Teenager?</h4>
                                                        <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                        <a href="">
                                                            <span class="widget-posts-date"><i class="fal fa-eye"></i>410</span>
                                                            <span class="widget-posts-date"><i class="fal fa-calendar"></i> 12 May 2017 </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media"><img src="assets/images/blogs/rel-blog-post-3.jpg" alt="">
                                                        <a href="blog-details.html" class="color-bg">Details</a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                                        <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                        <a href="">
                                                            <span class="widget-posts-date"><i class="fal fa-eye"></i>257</span>
                                                            <span class="widget-posts-date"><i class="fal fa-calendar"></i> 27 Dec 2017 </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Get health tips in your inbox </h3>
                                                </div>
                                                <div class="search-widget">
                                                    <img src="assets/images/blogs/mailbox.svg" alt="" class="mail-box">
                                                    <form action="#" class="fl-wrap">
                                                        <input name="se" id="se" type="text" class="search" placeholder="Enter your email id here" />
                                                        <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header fnone mb-15px">
                                                    <h3> Related Questions </h3>
                                                </div>
                                                <div class="related-question-widget">
                                                    <ul>
                                                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                                    </ul>
                                                    <a href="list-forums.html" class="color-bg view-all-btn">View All</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--   sidebar end  -->
                </div>
                <!--   row end  -->
            </div>
            <!--   container  end  -->
        </section>
        <!--  section  end-->
    </div>
    <!-- content end-->
    <div class="limit-box fl-wrap"></div>
</div>