<div id="wrapper">
    <!-- content-->
    <div class="content">
        <!--  section  -->
        <section class="color-bg middle-padding banner-sec">
            <div class="wave-bg wave-bg2 blogs-bg"></div>
            <div class="container">
                <div class="flat-title-wrap top-banner-sec">
                    <h2><span>Our Videos</span></h2>
                    <!-- <span class="section-separator"></span> -->
                    <!-- <h3>Solve all your doubt and enrich life with great articles from top doctors around the world</h3> -->
                </div>
            </div>
        </section>
        <!--  section  end-->
        <div class="breadcrumbs-fs fl-wrap">
            <div class="container">
             <div class="breadcrumbs"><a routerLink="/">Home</a><a routerLink="/vidoes">Videos</a><span>{{videoDetail.name}}</span></div>                
            </div>
        </div>
        <!--  section-->
        <section class="grey-blue-bg small-padding" id="sec1">
            <div class="container">
                <div class="row">
                    <!--listing -->
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 nopadding">
                        <div class="list-single-main-item comments-sec fl-wrap video-det-sec">
                            <!-- <video controls>
                                <source src="{{videoDetail.file}}" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video> -->
                            <video controls crossorigin playsinline poster="{{videoDetail.thumbnail}}">
                              <source src="{{videoDetail.file}}" type="video/mp4">
                            </video>
                            
                            <h3 class="video-det-tit">{{videoDetail.title}}<div class="video-like-count"><img src="assets/images/custom/heart.png"><span class="likes-count">{{videoDetail.likes_count}}</span></div>
                            </h3>
                            <p>{{videoDetail.description}}</p>
                            <div class="video-det-btmsec">
                                <ul class="video-det-ul">
                                    <!-- <li><i class="fal fa-eye"></i> <a href="#">78</a> </li> -->
                                    <li><i class="fal fa-comments-alt"></i> <a href="#">{{videoDetail.reviews_count}}</a> </li>
                                    <li><i class="fal fa-bookmark"></i> <span>{{videoDetail.bookmarks_count}}</span></li>
                                    <!--<li><i class="fal fa-share-alt"></i> <span>8</span></li>-->
                                    <li class="fright"><i class="fal fa-calendar"></i> <span>{{videoDetail.created_at | date : "dd MMM yyyy hh:mm a"}}</span></li>
                                </ul>
                                <div class="video-det-links">
                                    <a class="lisd-link pointer" (click)="toggleLike()"><i class="{{videoDetail.is_liked ? 'fa' : 'fal'}} fa-heart {{videoDetail.is_liked ? 'selected' : ''}}"></i> {{videoDetail.is_liked ? 'Liked' : 'Like'}}</a>
                                    <a class="custom-scroll-link lisd-link pointer" (click)="goAddReview()"><i class="fal fa-comment-alt-check"></i> Add Comments</a>
                                    <a class="lisd-link pointer" (click)="toggleBookmark()"><i class="{{videoDetail.is_bookmarked ? 'fa' : 'fal'}} fa-bookmark {{videoDetail.is_bookmarked ? 'selected' : ''}}"></i> {{videoDetail.is_bookmarked ? 'Bookmarked' : 'Bookmark'}}</a>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="reviewList?.results?.length>0" class="list-single-main-item comments-sec fl-wrap" id="sec5">
                            <!-- reviews-score-wrap end -->
                            <div class="list-single-main-item-title fl-wrap">
                                    <h3>Comments</h3>
                                </div>
                            <div class="reviews-comments-wrap">
                                <div class="reviews-comments-item" *ngFor="let review of reviewList.results">
                                    <div class="review-comments-avatar">
                                        <img [src]="review?.user?.profile_pic || 'assets/images/avatar/2.jpg'" alt="">
                                    </div>
                                    <div class="reviews-comments-item-text">
                                        <h4><a href="#">{{review?.user?.first_name}}</a></h4>
                                        <div class="clearfix"></div>
                                        <p>{{review.text}}</p>
                                        <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>{{review.created_at | date : "dd MMM yyyy hh:mm a"}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- list-single-main-item end -->
                        <!-- list-single-main-item -->
                        <div class="list-single-main-item fl-wrap" id="sec6">
                            <div class="list-single-main-item-title fl-wrap">
                                <h3>Whats on your mind?</h3>
                            </div>
                            <!-- Add Review Box -->
                            <div id="add-review" class="add-review-box">
                                <!-- Review Comment -->
                                <form id="add-comment" class="add-comment  custom-form" name="rangeCalc">
                                    <fieldset>
                                        <div class="row">
                                            <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label><i class="fal fa-user"></i></label>
                                                <input type="text" placeholder="Your Name *" value="" />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label><i class="fal fa-envelope"></i> </label>
                                                <input type="text" placeholder="Email Address*" value="" />
                                            </div> -->
                                        </div>
                                        <textarea [(ngModel)]="myreview" name="review" cols="40" rows="3" placeholder="Your Comments"></textarea>
                                    </fieldset>
                                    <button (click)="submitReview()" class="btn  big-btn flat-btn float-btn color2-bg" style="margin-top:30px">Submit <i class="fal fa-paper-plane"></i></button>
                                </form>
                            </div>
                            <!-- Add Review Box / End -->
                        </div>
                    </div>
                    <!--listing  end-->

                    <!--   sidebar  -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!--box-widget-wrap -->
                        <div class="box-widget-wrap fl-wrap hidden-in-ipad">
                            <!-- <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> Search In Video </h3>
                                        </div>
                                        <div class="search-widget">
                                            <form action="#" class="fl-wrap">
                                                <input name="se" id="se" type="text" class="search" placeholder="Search.." value="Search..." />
                                                <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search transition"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> About Author </h3>
                                        </div>
                                        <div class="author-details-widget">
                                            <a href="#" class="img"><img src="assets/images/avatar/4.jpg" alt=""></a>
                                            <a href="#" class="details">
                                                <span class="name">Dr.Aanchal Sehrawat &nbsp; <i class="fal fa-external-link-alt"></i></span><br>
                                                <span class="speciality spantext"><i class="fal fa-hand-point-right">&nbsp;</i>Dermatologist</span>
                                                <span class="email spantext"><i class="fal fa-envelope-open"></i>&nbsp; draanchal@gmail.com</span>
                                                <span class="phno spantext"><i class="fal fa-phone"></i>&nbsp; 9094483144</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget widget-posts">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3>Popular Videos</h3>
                                        </div>
                                        <!--box-image-widget-->
                                        <div class="box-image-widget">
                                            <div class="box-image-widget-media"><a href="video-detail.html" class="popular-video-img"><img src="assets/images/blogs/rel-blog-post-1.jpg" alt=""></a>
                                            </div>
                                            <div class="box-image-widget-details">
                                                <a href="video-detail.html">
                                                    <h4>Dad, Take Care! A letter from son with heartful love</h4>
                                                </a>
                                                <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                <a href="">
                                                    <span class="widget-posts-date"><i class="fal fa-clock"></i>3:02</span>
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--box-image-widget end -->
                                        <!--box-image-widget-->
                                        <div class="box-image-widget">
                                            <div class="box-image-widget-media"><a href="video-detail.html" class="popular-video-img"><img src="assets/images/blogs/rel-blog-post-2.jpg" alt=""></a>
                                            </div>
                                            <div class="box-image-widget-details">
                                                <a href="video-detail.html">
                                                    <h4>What is going on with My Teenager?</h4>
                                                </a>
                                                <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                <a href="">
                                                    <span class="widget-posts-date"><i class="fal fa-clock"></i>2:55</span>
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 12 May 2017 </span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--box-image-widget end -->
                                        <!--box-image-widget-->
                                        <div class="box-image-widget">
                                            <div class="box-image-widget-media"><a href="video-detail.html" class="popular-video-img"><img src="assets/images/blogs/rel-blog-post-3.jpg" alt=""></a>
                                            </div>
                                            <div class="box-image-widget-details">
                                                <a href="video-detail.html">
                                                    <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                                </a>
                                                <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                <a href="">
                                                    <span class="widget-posts-date"><i class="fal fa-clock"></i>1:50</span>
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 27 Dec 2017 </span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--box-image-widget end -->
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                             <!--box-widget-item -->
                             <div class="box-widget-item fl-wrap" *ngIf="videoDetail?.video_tags?.length>0">
                                    <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3>Tags </h3>
                                        </div>
                                        <div class="list-single-tags tags-stylwrap  sb-tags">
                                            <a *ngFor="let tag of videoDetail.video_tags" class="pointer">{{tag.name}}</a>                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget counter-widget">
                                    <div class="banner-wdget fl-wrap">
                                        <div class="overlay"></div>
                                        <div class="bg" data-bg="assets/images/blogs/rel-blog-post-3.jpg"></div>
                                        <div class="banner-wdget-content fl-wrap">
                                            <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                            <div class="countdown fl-wrap">
                                                <div class="countdown-item">
                                                    <span class="days rot">200</span>
                                                    <p>Views</p>
                                                </div>
                                                <div class="countdown-item">
                                                    <span class="hours rot">17</span>
                                                    <p>Likes</p>
                                                </div>
                                                <div class="countdown-item">
                                                    <span class="minutes rot">26</span>
                                                    <p>Comments</p>
                                                </div>
                                                <div class="countdown-item">
                                                    <span class="seconds rot">15</span>
                                                    <p>Shares</p>
                                                </div>
                                            </div>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> Follow Us </h3>
                                        </div>
                                        <div class="follow-us-widget">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/facebook.svg"></a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/twitter.svg"></a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/google-plus.svg"></a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/linkedin.svg"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="team-holder section-team fl-wrap flipbook-show">
                                <div class="team-box">
                                    <div class="team-photo">
                                        <img src="assets/images/blogs/flipbook-sample.jpg" alt="" class="respimg">
                                        <div class="sale-window big-sale">Flip Book</div>
                                    </div>
                                    <div class="team-info">
                                        <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                        <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                                        <h4>Heart Diseases | Healthy Heart</h4>
                                        <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                                            </ul>
                                            <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> Get health tips in your inbox </h3>
                                        </div>
                                        <div class="search-widget">
                                            <img src="assets/images/blogs/mailbox.svg" alt="" class="mail-box">
                                            <form action="#" class="fl-wrap">
                                                <input name="se" id="se" type="text" class="search" placeholder="Enter your email id here" />
                                                <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header fnone mb-15px">
                                            <h3> Related Questions </h3>
                                        </div>
                                        <div class="related-question-widget">
                                            <ul>
                                                <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                                <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                                <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                            </ul>
                                            <a href="list-forums.html" class="color-bg view-all-btn">View All</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--box-widget-wrap end -->
                        <div class="show-in-ipad">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Search In Video </h3>
                                                </div>
                                                <div class="search-widget">
                                                    <form action="#" class="fl-wrap">
                                                        <input name="se" id="se" type="text" class="search" placeholder="Search.." value="Search..." />
                                                        <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search transition"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> About Author </h3>
                                                </div>
                                                <div class="author-details-widget">
                                                    <a href="#" class="img"><img src="assets/images/avatar/4.jpg" alt=""></a>
                                                    <a href="#" class="details">
                                                        <span class="name">Dr.Aanchal Sehrawat &nbsp; <i class="fal fa-external-link-alt"></i></span><br>
                                                        <span class="speciality spantext"><i class="fal fa-hand-point-right">&nbsp;</i>Dermatologist</span>
                                                        <span class="email spantext"><i class="fal fa-envelope-open"></i>&nbsp; draanchal@gmail.com</span>
                                                        <span class="phno spantext"><i class="fal fa-phone"></i>&nbsp; 9094483144</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->

                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3>Tags </h3>
                                                </div>
                                                <div class="list-single-tags tags-stylwrap  sb-tags">
                                                    <a href="#">Heart Diseases</a>
                                                    <a href="#">Hair Growth</a>
                                                    <a href="#">Fair Skin</a>
                                                    <a href="#">Pregnancy</a>
                                                    <a href="#">health & Finess</a>
                                                    <a href="#">Food and Nutritions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget counter-widget">
                                            <div class="banner-wdget fl-wrap">
                                                <div class="overlay"></div>
                                                <div class="bg" data-bg="assets/images/blogs/rel-blog-post-3.jpg"></div>
                                                <div class="banner-wdget-content fl-wrap">
                                                    <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                                    <div class="countdown fl-wrap">
                                                        <div class="countdown-item">
                                                            <span class="days rot">200</span>
                                                            <p>Views</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="hours rot">17</span>
                                                            <p>Likes</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="minutes rot">26</span>
                                                            <p>Comments</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="seconds rot">15</span>
                                                            <p>Shares</p>
                                                        </div>
                                                    </div>
                                                    <a href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Follow Us </h3>
                                                </div>
                                                <div class="follow-us-widget">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/facebook.svg"></a>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/twitter.svg"></a>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/google-plus.svg"></a>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/linkedin.svg"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->

                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Get health tips in your inbox </h3>
                                                </div>
                                                <div class="search-widget">
                                                    <img src="assets/images/blogs/mailbox.svg" alt="" class="mail-box">
                                                    <form action="#" class="fl-wrap">
                                                        <input name="se" id="se" type="text" class="search" placeholder="Enter your email id here" />
                                                        <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget widget-posts">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3>Popular Videos</h3>
                                                </div>
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media"><a href="video-detail.html" class="popular-video-img"><img src="assets/images/blogs/rel-blog-post-1.jpg" alt=""></a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <a href="video-detail.html">
                                                            <h4>Dad, Take Care! A letter from son with heartful love</h4>
                                                        </a>
                                                        <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                        <a href="">
                                                            <span class="widget-posts-date"><i class="fal fa-clock"></i>3:02</span>
                                                            <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media"><a href="video-detail.html" class="popular-video-img"><img src="assets/images/blogs/rel-blog-post-2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <a href="video-detail.html">
                                                            <h4>What is going on with My Teenager?</h4>
                                                        </a>
                                                        <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                        <a href="">
                                                            <span class="widget-posts-date"><i class="fal fa-clock"></i>2:55</span>
                                                            <span class="widget-posts-date"><i class="fal fa-calendar"></i> 12 May 2017 </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media"><a href="video-detail.html" class="popular-video-img"><img src="assets/images/blogs/rel-blog-post-3.jpg" alt=""></a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <a href="video-detail.html">
                                                            <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                                        </a>
                                                        <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                        <a href="">
                                                            <span class="widget-posts-date"><i class="fal fa-clock"></i>1:50</span>
                                                            <span class="widget-posts-date"><i class="fal fa-calendar"></i> 27 Dec 2017 </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <div class="team-holder section-team fl-wrap flipbook-show">
                                        <div class="team-box">
                                            <div class="team-photo">
                                                <img src="assets/images/blogs/flipbook-sample.jpg" alt="" class="respimg">
                                                <div class="sale-window big-sale">Flip Book</div>
                                            </div>
                                            <div class="team-info">
                                                <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                                <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                                                <h4>Heart Diseases | Healthy Heart</h4>
                                                <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                <div class="team-social">
                                                    <ul>
                                                        <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                                                    </ul>
                                                    <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header fnone mb-15px">
                                                    <h3> Related Questions </h3>
                                                </div>
                                                <div class="related-question-widget">
                                                    <ul>
                                                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!! Or mediation t... <a href="#">Read more</a></li>
                                                    </ul>
                                                    <a href="list-forums.html" class="color-bg view-all-btn">View All</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--   sidebar end  -->
                </div>
                <!--row end-->
            </div>
            <div class="limit-box fl-wrap"></div>
        </section>
    </div>
    <!-- content end-->
</div>