.article-masonry {
    height: 600px;
    max-height: 600px;
    overflow: hidden;
    .desc{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: 150px;
        overflow: hidden;
        margin-bottom: 25px;
    }
    .card-post-img img {
        max-height: 200px;
        object-fit: cover;
    }
}

.post-author{
    text-align: left;
    margin-top: 0 !important;
}

.authorcls{
    color: #999;
    float: none !important;
}

.activecat{
    text-decoration: underline !important;
    text-decoration-color: #EF0000 !important;
    color: #EF0000 !important;
}

.load_more {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.toggle{
    cursor: pointer !important;
}

.toggle.selected{
    border: 1px solid #F9B90F;
    span{
        background: #F9B90F !important;
    }
}

.desc-cls{
    height: 50px;
    overflow: hidden;
}