.ophours{
    margin: 5px 26px;
}

i.selected{
    color: #EF0000;
}
.reviews-comments-wrap{
    width: 100% !important;
}

.scroll-to-fixed-fixed{
    top: inherit;
}

.fixed-scroll-column{
    left: -50px;
}

.docdetailpic {
    width: 100%;
    max-height: 250px;
}

.author-details-widget {
    position: relative;
    float: left;
    width: 100%;
}