<div id="wrapper" class="pt58">
  <!-- content-->
  <div class="content">
    <section class="list-single-hero pt160" data-scrollax-parent="true" id="sec1">
      <div class="bg par-elem detaildoctorheight" data-bg="assets/images/custom/doctordetail.png"
        data-scrollax="properties: { translateY: '30%' }"
        style="background-image: url(&quot;assets/images/custom/doctordetail.png&quot;); transform: translateZ(0px) translateY(29.3373%);">
      </div>
      <div class="list-single-hero-title fl-wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h2 class="bannerh2"><span>Dr. {{shopDetail.name}}, {{shopDetail?.about?.qualification}}, </span><br>
                <span class="docdetaildes">{{shopDetail?.specialization[0]?.specialization}}</span></h2>
              <div class="list-single-header-contacts fl-wrap">
                <ul>
                  <!-- <li><i class="fa fa-eye"></i><a href="#">2k Views</a></li> -->
                  <li><i class="fa fa-comments-alt"></i><a href="#">{{shopDetail.reviews_count}} Feedbacks</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-5">
              <div class="list-single-hero-details fl-wrap">
                <div class="list-single-hero-rating">
                  <div class="rate-class-name">
                    <span class="votecount"><i class="fa fa-thumbs-up"></i>&nbsp;{{shopDetail.likes_count}} Likes</span>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="list-single-hero-links">
                  <a class="lisd-link pointer" (click)="toggleLike()"><i
                      class="{{shopDetail.is_liked ? 'fa' : 'fal'}} fa-heart {{shopDetail.is_liked ? 'selected' : ''}}"></i>
                    {{shopDetail.is_liked ? 'Liked' : 'Like'}}</a>
                  <a class="lisd-link pointer" (click)="toggleBookmark()"><i
                      class="{{shopDetail.is_bookmarked ? 'fa' : 'fal'}} fa-bookmark {{shopDetail.is_bookmarked ? 'selected' : ''}}"></i>
                    {{shopDetail.is_bookmarked ? 'Bookmarked' : 'Bookmark'}}</a>
                  <a class="custom-scroll-link lisd-link pointer" (click)="goAddReview()"><i
                      class="fal fa-comment-alt-check"></i> Add Feedback</a>
                </div>
              </div>
            </div>
          </div>
          <div class="breadcrumbs-hero-buttom fl-wrap pt10">
            <div class="breadcrumbs"><a routerLink="/">Home</a><a routerLink="/doctors">Doctors
                Listing</a><span>{{shopDetail.name}}</span></div>
          </div>
        </div>
      </div>
    </section>
    <section class="grey-blue-bg small-padding scroll-nav-container" id="sec2">
      <!--   container  -->
      <div class="container">
        <!--   row  -->
        <div class="row">
          <!--   datails -->
          <div class="col-md-8">
            <div class="list-single-main-container">
              <!-- fixed-scroll-column  -->
              <div class="fixed-scroll-column">
                <div class="fixed-scroll-column-item fl-wrap scroll-to-fixed-fixed">
                  <div class="share-holder fixed-scroll-column-share-container">
                    <div class="share-container  isShare"><a
                        href="http://www.facebook.com/share.php?u=http%3A%2F%2Fhnf.cruzbytes.com%2Fdoctor-detail.html"
                        title="Share this page on facebook" class="pop share-icon share-icon-facebook"></a><a
                        href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fhnf.cruzbytes.com%2Fdoctor-detail.html&amp;media=&amp;description="
                        title="Share this page on pinterest" class="pop share-icon share-icon-pinterest"></a><a
                        href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http%3A%2F%2Fhnf.cruzbytes.com%2Fdoctor-detail.html"
                        title="Share this page on googleplus" class="pop share-icon share-icon-googleplus"></a><a
                        href="https://twitter.com/share?via=in1.com&amp;text=Health &amp; Fitness  Doctor Detail"
                        title="Share this page on twitter" class="pop share-icon share-icon-twitter"></a><a
                        href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fhnf.cruzbytes.com%2Fdoctor-detail.html&amp;title=Health &amp; Fitness  Doctor Detail&amp;summary=&amp;source=in1.com"
                        title="Share this page on linkedin" class="pop share-icon share-icon-linkedin"></a></div>
                  </div>
                  <a class="fc-button custom-scroll-link review-btn" href="#feedbacksection"><i
                      class="far fa-comment-alt-check"></i> <span> Give Feedback </span></a>
                  <a class="fc-button like-btn" href="#"><i class="far fa-heart"></i> <span>Like Now</span></a>
                  <a class="fc-button bookmark-btn" href="#"><i class="far fa-bookmark"></i> <span> Bookmark Now
                    </span></a>
                </div>
                <div style="display: block; width: 50px; height: 162px; float: left;"></div>
              </div>
              <!--   list-single-main-item -->
              <div class="list-single-main-item fl-wrap blog-content">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{shopDetail?.about?.profile_pic || 'assets/images/custom/doctor4.png'}}"
                      class="docdetailpic">
                  </div>
                  <div class="col-md-8">
                    <p class="docdetailname">Dr. {{shopDetail.name}}, {{shopDetail?.about?.qualification}}.
                      <!-- <span class="docdetaildistance">5kms from
                        Here</span></p> -->
                      <p class="docdetailqua"><i
                          class="fal fa-briefcase-medical docdetailicon"></i>&nbsp;{{shopDetail?.specialization[0]?.specialization}}
                      </p>
                      <p class="docdetailexp"><i
                          class="fal fa-calendar-check docdetailicon"></i>&nbsp;{{shopDetail?.about?.experience}} Years
                        Experience
                      </p>
                      <p *ngIf="shopDetail.email" class="docdetailexp"><i
                          class="fal fa-envelope docdetailicon"></i>&nbsp;<a
                          href="mailto:{{shopDetail.email}}">{{shopDetail.email}}</a></p>
                      <p class="docdetailexp" *ngIf="shopDetail.show_number"><i
                          class="fal fa-phone docdetailicon"></i>&nbsp;<a
                          href="tel:{{shopDetail.contact_number}}">{{shopDetail.contact_number}}</a></p>
                      <!-- <p class="docdetailexp"><i class="fal fa-credit-card docdetailicon"></i>&nbsp;Online Payment : Yes
                    </p> -->
                      <!-- <p class="docdetailexp"><i class="fal fa-map-marker-alt docdetailicon"></i>&nbsp;10/85, Station
                      Road, Bharathiar Lane, Pazhavandhangal,<br> Chennai - 600 114</p> -->
                  </div>
                </div>
              </div>
              <div class="dasboard-menu dashboardmenudetail">
                <div class="dasboard-menu-btn color3-bg">Dashboard Menu <i class="fal fa-bars"></i></div>
                <ul class="dasboard-menu-wrap vishidelem">
                  <li>
                    <a [class.user-profile-act]="currTab==1" class="pointer" (click)="selectTab(1);"
                      style="color: rgb(255, 255, 255); background: none;"><i class="far fa-user"></i>Info</a>
                  </li>
                  <li><a [class.user-profile-act]="currTab==2" class="pointer" (click)="selectTab(2);"
                      style="color: rgb(255, 255, 255); background: none;"><i class="far fa-th-list"></i> Feedback
                      <span>{{reviewList.count}}</span> </a></li>
                  <li>
                    <a [class.user-profile-act]="currTab==3" class="pointer" (click)="selectTab(3);"
                      style="color: rgb(255, 255, 255); background: none;"><i class="far fa-comments"></i> Consult
                      Q&amp;A <span>3</span></a>
                  </li>
                </ul>
              </div>
              <div class="list-single-main-item fl-wrap" id="infosection" *ngIf="currTab==1">
                <div class="list-single-main-item-title fl-wrap pb10 mb15">
                  <h3>About Doctor</h3>
                </div>
                <p>{{shopDetail?.about?.description}}</p><br><br>
                <div class="list-single-main-item-title fl-wrap pb10 mb15">
                  <!-- <h3>Clinic Pics</h3> -->
                  <h3>Doctor works in the following Clinics &amp; Hospitals</h3>
                </div>
                <div class="listing-item-container init-grid-items fl-wrap">
                  <div class="listing-item" *ngFor="let item of shopDetail.clinic_info">
                    <article class="geodir-category-listing fl-wrap">
                      <div class="geodir-category-img">
                        <a routerLink="clinic-detail.html"><img
                            [src]="item.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                        <div class="sale-window">{{item?.type}}</div>
                        <div class="geodir-category-opt">

                          <div class="rate-class-name">
                            <!-- <div class="score"><strong>{{item.likes_count}}</strong>Likes </div> -->
                            <span>{{item.likes_count}} Likes</span>
                          </div>
                        </div>
                      </div>
                      <div class="geodir-category-content fl-wrap title-sin_item">
                        <div class="geodir-category-content-title fl-wrap">
                          <div class="geodir-category-content-title-item">
                            <h3 class="title-sin_map"><a routerLink="/clinic-detail/{{item.id}}">{{item.name}}</a></h3>
                            <div class="geodir-category-location fl-wrap"><a class="map-item"><i
                                  class="fas fa-map-marker-alt"></i>
                                {{item?.address?.city + ", " + item?.address?.state}}.</a></div>
                          </div>
                        </div>
                        <p>
                          {{(item.description.length < 80) ? item.description : (item.description.slice(0,80) + '...')}}
                        </p>
                        <ul class="facilities-list fl-wrap">
                          <li><i class="fal fa-phone"></i><span>{{item.contact_number}}</span></li>

                          <li><i class="fal fa-envelope"></i><span>{{item.email}}</span></li>
                          <li><i class="fal fa-credit-card"></i><span>Online Payment :
                              {{item.online_payable ? "Yes" : "No"}}</span></li>
                          <p class="commentsinfo">{{item.reviews_count}} Comments</p>
                        </ul>
                        <!-- <div class="geodir-category-footer fl-wrap doclistviewmore">
                          <div class="geodir-category-price bookappt pbt12"><a routerLink="/clinic-detail/{{item.id}}">View More</a></div>
                          <div class="floatright">
                            <p class="voteicon"><i class="fa fa-thumbs-up"></i> 99%</p>
                            <p class="commentsinfo">{{item.reviews_count}} Comments</p>
                          </div>
                        </div> -->
                      </div>
                    </article>
                  </div>
                </div>

              </div>
              <div class="list-single-main-item fl-wrap" id="feedbacksection" *ngIf="currTab==2">
                <div class="list-single-main-item-title fl-wrap pb10 mb15" *ngIf="reviewList?.results?.length>0">
                  <h3>Feedbacks</h3>
                </div>
                <div class="list-single-main-item comments-sec fl-wrap" *ngIf="reviewList?.results?.length>0" id="sec5">
                  <div class="list-single-main-item-title fl-wrap">
                    <h3>Feedbacks</h3>
                  </div>
                  <div class="reviews-comments-wrap">
                    <div class="reviews-comments-item" *ngFor="let review of reviewList.results">
                      <div class="review-comments-avatar">
                        <img [src]="review?.user?.profile_pic || 'assets/images/avatar/2.jpg'" alt="">
                      </div>
                      <div class="reviews-comments-item-text">
                        <h4><a href="#">{{review?.user?.first_name}}</a></h4>
                        <div class="clearfix"></div>
                        <p>{{review.text}}</p>
                        <div class="reviews-comments-item-date"><span><i
                              class="far fa-calendar-check"></i>{{review.created_at | date : "dd MMM yyyy hh:mm a"}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-single-main-item-title fl-wrap pb10 mb15">
                  <h3>Submit Your Feedback</h3>
                </div>
                <div id="add-review" class="add-review-box">
                  <!-- Review Comment -->
                  <form id="add-comment" class="add-comment  custom-form" name="rangeCalc">
                    <fieldset>
                      <textarea [(ngModel)]="myreview" name="review" cols="40" rows="3"
                        placeholder="Your Comments"></textarea>
                    </fieldset>
                    <button (click)="submitReview()" class="btn  big-btn flat-btn float-btn color2-bg"
                      style="margin-top:30px">Submit <i class="fal fa-paper-plane"></i></button>
                  </form>
                </div>
              </div>
              <div class="list-single-main-item fl-wrap" id="consultsection" *ngIf="currTab==3">
                <div class="list-single-main-item-title fl-wrap pb10 mb15">
                  <h3>Consult Q &amp; A</h3>
                </div>
                <div class="list-single-main-item comments-sec fl-wrap revsec" id="sec5">
                  <!-- reviews-score-wrap end -->
                  <div class="reviews-comments-wrap mt0">
                    <!-- reviews-comments-item -->
                    <div class="reviews-comments-item pb15 mb15">
                      <div class="review-comments-avatar">
                        <img src="assets/images/avatar/1.jpg" alt="">
                      </div>
                      <div class="reviews-comments-item-text">
                        <h4><a href="#">Mr.Krishna Maddy</a></h4>
                        <div class="clearfix"></div>
                        <p class="qatitle">Problem On Lingual braces</p>
                        <p>Lingual braces Vs clear aligners which is best? And approx cost of both. Can you please
                          mention total duration of treatment</p>
                        <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>12 April
                            2018</span><span class="floatright"><i class="far fa-eye"></i>12 Views</span></div>
                      </div>
                      <div class="reviews-comments-item-text mt15">
                        <h4><a href="#">Mr.Gopi Akshay</a></h4>
                        <div class="clearfix"></div>
                        <p>Hello sir, the best one is clear aligners because it is comfortable and removable, it's like
                          contact lens and it's invisible... While lingual braces will be so uncomfortable and it will
                          take time for you to adapt to it... It's better you chose clear aligners... The cost for clean
                          aligners ranges from 1.5 - 3lakhs..</p>
                        <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>12 April
                            2018</span><span class="floatright"><i class="far fa-eye"></i>12 Views</span></div>
                      </div>
                    </div>
                    <div class="reviews-comments-item pb15 mb15">
                      <div class="review-comments-avatar">
                        <img src="assets/images/avatar/2.jpg" alt="">
                      </div>
                      <div class="reviews-comments-item-text">
                        <h4><a href="#">Rajesh, Chennai</a></h4>
                        <div class="clearfix"></div>
                        <p class="qatitle">Dental Problem....</p>
                        <p>From last one week I am suffering from tooth pain. I am attaching the photo also please
                          suggest any medication.</p>
                        <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>12 April
                            2018</span><span class="floatright"><i class="far fa-eye"></i>17 Views</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--   datails end  -->
          <!--   sidebar  -->
          <div class="col-md-4">
            <!--box-widget-wrap -->
            <div class="box-widget-wrap fl-wrap">
              <!--box-widget-item -->
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header">
                      <h3> Get health tips in your inbox </h3>
                    </div>
                    <div class="search-widget">
                      <img src="assets/images/blogs/mailbox.svg" alt="" class="mail-box">
                      <form action="#" class="fl-wrap">
                        <input name="se" id="se" type="text" class="search" placeholder="Enter your email id here">
                        <button class="search-submit color2-bg" id="submit_btn"><i
                            class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header">
                      <h3>Related Doctors</h3>
                    </div>
                    <div class="author-details-widget" *ngFor="let doc of relatedList">
                      <div class="bbline">
                        <a routerLink="/doctor-detail/{{doc.id}}" class="img"><img src="{{doc?.about?.profile_pic}}"
                            class="recdocimg" alt=""></a>
                        <a routerLink="/doctor-detail/{{doc.id}}" class="details">
                          <span class="name f16">Dr.{{doc.name}}&nbsp; <i
                              class="fal fa-external-link-alt"></i></span><br>
                          <span class="speciality spantext recdoc pt8"><i
                              class="fal fa-hand-point-right">&nbsp;</i>{{doc?.specialization[0].specialization}}</span>
                          <span class="email spantext recdoc" *ngIf="doc.email"><i
                              class="fal fa-envelope-open"></i>&nbsp;{{doc.email}}</span>
                          <span class="phno spantext recdoc" *ngIf="doc.show_number && doc.contact_number"><i
                              class="fal fa-phone"></i>&nbsp; {{doc.contact_number}}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--box-widget-item end -->
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header">
                      <h3> Follow Us </h3>
                    </div>
                    <div class="follow-us-widget">
                      <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="assets/images/blogs/facebook.svg"></a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="assets/images/blogs/twitter.svg"></a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="assets/images/blogs/google-plus.svg"></a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="assets/images/blogs/linkedin.svg"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!--box-widget-wrap end -->
          </div>
          <!--   sidebar end  -->
        </div>
        <!--   row end  -->
      </div>
      <!--   container  end  -->
    </section>
    <!--  section  end-->
  </div>
  <!-- content end-->
  <div class="limit-box fl-wrap"></div>
</div>
