<!-- DIV YOUR WEBSITE -->
<div style="width:100%;margin:0 auto">


    <!-- BEGIN FLIPBOOK STRUCTURE -->
    <div id="fb5-ajax">


        <!-- BEGIN HTML BOOK -->
        <div data-current="book5" class="fb5" id="fb5">

            <!-- PRELOADER -->
            <div class="fb5-preloader">
                <div id="wBall_1" class="wBall">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div id="wBall_2" class="wBall">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div id="wBall_3" class="wBall">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div id="wBall_4" class="wBall">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div id="wBall_5" class="wBall">
                    <div class="wInnerBall">
                    </div>
                </div>
            </div>


            <!-- BACKGROUND FOR BOOK -->
            <div class="fb5-bcg-book"></div>

            <!-- BEGIN CONTAINER BOOK -->
            <div id="fb5-container-book">

                <!-- BEGIN deep linking -->
                <section id="fb5-deeplinking">
                    <ul>
                        <li data-address="page1" data-page="1"></li>
                        <li *ngFor="let item of flipbookDetail.pages; let index=index;" [attr.data-address]="'page' + (index + 2)" [attr.data-page]="index+2"></li>
                        <!-- <li data-address="page2-page3" data-page="2"></li>
                        <li data-address="page2-page3" data-page="3"></li>
                        <li data-address="page4-5" data-page="4"></li>
                        <li data-address="page4-5" data-page="5"></li>
                        <li data-address="page6-page7" data-page="6"></li>
                        <li data-address="page6-page7" data-page="7"></li>
                        <li data-address="page8-page9" data-page="8"></li>
                        <li data-address="page8-page9" data-page="9"></li>
                        <li data-address="10-11" data-page="10"></li>
                        <li data-address="10-11" data-page="11"></li>
                        <li data-address="end" data-page="12"></li> -->
                    </ul>
                </section>
                <!-- END deep linking -->

                <div id="fb5-book">
                    <div data-background-image="" class="">
                        <!-- begin container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">
                                <div *ngIf="flipbookDetail.featured_image" class="flip_img"><img
                                        [src]="flipbookDetail.featured_image" alt=""></div>
                                <h1>{{flipbookDetail.title}}</h1>
                                <div [innerHTML]="flipbookDetail.description"></div>
                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-num">1</span>|<span class="fb5-description">Thivas</span>
                            </div>
                            <!-- END number page and title for page -->
                        </div>
                        <!-- end container page book -->
                    </div>
                    <div *ngFor="let item of flipbookDetail.pages; let index=index;" data-background-image="" class="">
                        <!-- begin container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">
                                <div *ngIf="item.image" class="flip_img"><img [src]="item.image" alt=""></div>
                                <h1>{{item.title}}</h1>
                                <div [innerHTML]="item.description"></div>
                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-num">{{index+2}}</span>|<span class="fb5-description">Thivas</span>
                            </div>
                            <!-- END number page and title for page -->
                        </div>
                        <!-- end container page book -->
                    </div>
                </div>


                <!-- BEGIN BOOK -->
                <div id="fb5-book" *ngIf="false">


                    <!-- BEGIN PAGE 1-->
                    <div data-background-image="" class="">

                        <!-- begin container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page  -->
                            <div class="fb5-page-book">
                                <div id="fb5-cover">
                                    <ul>
                                        <li><a href="javascript:setPage(2)"><img
                                                    data-src="assets/flipbooks/img/cover-photo1.jpg"></a>
                                        </li>
                                        <li><a href="javascript:youtube('zWzRrqEvfPU','560','315')"><img
                                                    data-src="assets/flipbooks/img/cover-photo2.jpg"></a></li>
                                        <li><a href="javascript:youtube('48I0IHmsuOE','560','315')"><img
                                                    data-src="assets/flipbooks/img/cover-photo3.jpg"></a></li>
                                    </ul>
                                    <img data-src="assets/flipbooks/img/logo-on-book.png" id="fb5-logo-cover">
                                </div>
                            </div>
                            <!-- end description for page  -->

                            <!-- number page and title -->
                            <div class="fb5-meta">
                                <span class="fb5-description"></span>
                                <span class="fb5-num"></span>
                            </div>
                            <!-- end number page and title  -->
                        </div>
                        <!-- end container page book -->

                    </div>
                    <!-- END PAGE 1 -->




                    <!-- BEGIN PAGE 2-->
                    <div data-background-image="" class="">

                        <!-- begin container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">
                                <h1>Title Page</h1>
                                <p>Lorem ipsum dolor sit amet, et pro sumo abhorreant definiebas. In mea assum
                                    ignota, duo id vero laudem, mel tantas epicuri cotidieque et. Malis choro solet
                                    cu nam. Magna option menandri ei usu. Nonumy luptatum et nec.</p>
                                <h3>Table of Contents:</h3>
                                <ul>
                                    <li><a href="javascript:setPage(1)">Nec ex paulo tollit</a></li>
                                    <li><a href="javascript:setPage(4)">Posse nulla cu eam</a></li>
                                    <li><a href="javascript:setPage(6)">Mea quaeque accusamus</a></li>
                                    <li><a href="javascript:setPage(9)">Vidit electram ex usu</a></li>
                                    <li><a href="javascript:setPage(10)">Detracto reformidans ius in</a></li>
                                    <li><a href="javascript:setPage(1)">Porro posidonium</a></li>
                                </ul>
                                <h3>Normal list:</h3>
                                <ul>
                                    <li>Nec ex paulo tollit</li>
                                    <li>Nso atomorum assentior</li>
                                </ul>
                                <p>Nec ex paulo tollit, <a href="javascript:youtube('bgEaCWmbQdI','560','315')">youtube
                                        video</a>.
                                    Iuvaret ornatus sed ei, vim in sumo probo quaestio. Sed soleat maiestatis ne, te
                                    mel solet soluta maiestatis. Vix no labore graecis.</p>
                                <p><a href="javascript:youtube('oJXpmlhqWzU','560','315')"><img width="130" height="130"
                                            src="assets/flipbooks/img/cover-photo1.jpg" alt="cover-photo1"
                                            class="wp-image-59 alignleft"></a> Nostrud probatus ea mea, te homero
                                    possit suscipit qui, no atomorum assentior nec. Iuvaret ornatus sed ei, vim in
                                    sumo probo quaestio. Te homero possit suscipit qui, no atomorum assentior nec.
                                    Lorem ipsum dolor sit amet, et pro sumo abhorreant definiebas.Nostrud probatus
                                    ea mea, te homero possit suscipit qui, no atomorum assentior nec. Iuvaret
                                    ornatus sed ei, vim in.</p>

                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-num">2</span>
                                <span class="fb5-description">Collection 2014</span>
                            </div><!-- END number page and title for page -->


                        </div> <!-- end container page book -->

                    </div>
                    <!-- END PAGE 2 -->



                    <!-- BEGIN PAGE 3 -->
                    <div data-background-image="assets/flipbooks/pages//3.jpg" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page -->
                            <div class="fb5-page-book">

                            </div>

                            <!-- number page and title  -->
                            <div class="fb5-meta">
                                <span class="fb5-description">Collection 2014</span>
                                <span class="fb5-num">3</span>
                            </div>


                        </div> <!-- end container page book -->

                    </div>
                    <!-- END PAGE 3 -->



                    <!-- BEGIN PAGE 4 -->
                    <div data-background-image="assets/flipbooks/pages//4_5.jpg" class="fb5-double fb5-first">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-num">4</span>
                                <span class="fb5-description">Collection 2014</span>
                            </div>


                        </div> <!-- end container page book -->

                    </div>
                    <!-- END PAGE 4 -->




                    <!-- BEGIN PAGE 5 -->
                    <div data-background-image="assets/flipbooks/pages//4_5.jpg" class="fb5-double fb5-second">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-description">Collection 2014</span>
                                <span class="fb5-num">5</span>
                            </div>

                        </div> <!-- end container page book -->

                    </div>
                    <!-- END PAGE 5 -->





                    <!-- BEGIN PAGE 6 -->
                    <div data-background-image="assets/flipbooks/pages//6.jpg" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-num">6</span>
                                <span class="fb5-description">Collection 2014</span>
                            </div>

                        </div> <!-- end container page book -->

                    </div>
                    <!-- END PAGE 6 -->



                    <!-- BEGIN PAGE 7 -->
                    <div data-background-image="" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">
                                <h1>Heading 1</h1>
                                <p>Usu at nominavi partiendo aliquando. Sit eu sumo tempor scribentur. Everti latine
                                    eu mei, no vis posse mazim oblique, liber delectus dissentiunt sit ex. Ea vix
                                    graeco saperet gubergren, facete antiopam ei his. Eos ad utamur definitionem.
                                </p>
                                <h2>Heading 2</h2>
                                <p>Per ex dicat utroque. Ex erat audiam vivendo mei, his vide duis forensibus at,
                                    malis omnes vocibus pro ne. Ei alterum dolores electram nec.</p>
                                <h3>Heading 3</h3>
                                <p>Nam habemus argumentum ad. Te nam soluta conceptam, at per dictas laoreet
                                    constituto. Te nam dicam adipiscing, ne has denique moderatius.</p>
                                <h4>Heading 4</h4>
                                <p>Eleifend honestatis cotidieque sed ne. Pri id paulo audire urbanitas, cu erat
                                    veniam consul sit. Quo at nihil dicunt animal, tation inciderint philosophia vim
                                    ei. Movet laudem mentitum id mel.</p>
                                <h5>Heading 5</h5>
                                <p>Eam nobis solet singulis id. At eam idque scribentur. Has ad detraxit
                                    vituperatoribus, invidunt evertitur consectetuer vel no. Quo id dolorum
                                    partiendo assentior, inani prompta vis eu.</p>
                                <h6>Heading 6</h6>
                                <p>Et molestiae vituperata mei, numquam corpora sapientem at his. Iudico eirmod
                                    referrentur duo ex, no sed soleat petentium honestatis. Cu mel melius laboramus,
                                    sit stet omnis mollis cu, regione labitur at usu.</p>
                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-description">Collection 2014</span>
                                <span class="fb5-num">7</span>
                            </div>


                        </div> <!-- end container page book -->

                    </div>
                    <!-- END PAGE 7-->




                    <!-- BEGIN PAGE 8 -->
                    <div data-background-image="" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page  -->
                            <div class="fb5-page-book">
                                <h4></h4>
                                <h4>Te graeco nonumes</h4>
                                <p><a href="javascript:youtube('oJXpmlhqWzU','560','315')"><img width="130" height="130"
                                            src="assets/flipbooks/img/cover-photo3.jpg" alt="cover-photo3"
                                            class="alignleft size-full wp-image-61"></a>Malorum blandit reprimique,
                                    torquatos complectitur usu ex. Feugiat erroribus te eos. Ea eum tota rationibus
                                    instructior. Te eos suas scripta comprehensam.Modus decore commune nam at. Sed
                                    ea scripta principes, has vocibus aliquando reformidans ne. Sale iuvaret ad per.
                                    Assum diceret te pri, cum quod lorem oratio no. Nonumy volutpat similique qui
                                    ei, ad tollit dolores invidunt pri, no vix duis volumus voluptaria. Pri reque
                                    homero pertinacia in, sea te scripserit liberavisse.Lorem ipsum dolor sit amet,
                                    quo ex tamquam quaerendum persequeris, et vel aliquam sadipscing, no ipsum
                                    facilis nam. Appellantur dissentiunt cum in. Dicta albucius dignissim cu ius.
                                </p>
                                <h4>Te graeco nonumes</h4>
                                <p><a href="javascript:youtube('48I0IHmsuOE','560','315')"><img width="130" height="130"
                                            src="assets/flipbooks/img/cover-photo2.jpg" alt="cover-photo2"
                                            class="size-full wp-image-60 alignright"></a>Eu usu aperiam euripidis,
                                    ut vix iusto ocurreret principes. Timeam mandamus pro ut, agam illud cu cum, mei
                                    assum semper rationibus in. Ridens facete regione pro an. Laudem reprimique an
                                    his, et oratio hendrerit eos, est oratio ullamcorper voluptatibus in. Ut sea
                                    assum eirmod explicari. Mel <a href="javascript:setPage(1)">melius legimus</a>
                                    id, et nam error laudem atomorum.Cu semper accommodare ius.</p>
                                <p><strong>Eam ut facilisi dissentiunt.</strong></p>
                                <p><strong></strong> Appellantur dissentiunt cum in. Dicta albucius dignissim cu
                                    ius. Per eu autem graeco, vide minim persequeris his in, solum rebum ipsum in
                                    sed.Ei eum possim prompta, purto fabellas mei ad. Ex sed veri idque facilis.
                                    Facer intellegam reprehendunt vim no, sit id aperiam bonorum. Aeque populo
                                    disputationi ut pri, no harum fabulas cum, eu solet propriae mei.</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div>
                            <!-- end description for page  -->

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-num">8</span>
                                <span class="fb5-description">Collection 2014</span>
                            </div>


                        </div> <!-- end container page book -->

                    </div>
                    <!-- END PAGE 8 -->



                    <!-- BEGIN PAGE 9 -->
                    <div data-background-image="assets/flipbooks/pages//9.jpg" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-description">Collection 2014</span>
                                <span class="fb5-num">9</span>
                            </div>

                        </div>
                        <!-- end container page book -->

                    </div>
                    <!-- END PAGE 9 -->



                    <!-- BEGIN PAGE 10 -->
                    <div data-background-image="assets/flipbooks/pages//10_11.jpg" class="fb5-double fb5-first">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-num">10</span>
                                <span class="fb5-description">Collection 2014</span>
                            </div>

                        </div>
                        <!-- end container page book -->

                    </div>
                    <!-- END PAGE 10 -->



                    <!-- BEGIN PAGE 11 -->
                    <div data-background-image="assets/flipbooks/pages//10_11.jpg" class="fb5-double fb5-second">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-description">Collection 2014</span>
                                <span class="fb5-num">11</span>
                            </div>

                        </div> <!-- end container page book -->

                    </div>
                    <!-- END PAGE 11 -->



                    <!-- BEGIN PAGE 12 -->
                    <div data-background-image="assets/flipbooks/pages//12.jpg" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page from WYSWIG -->
                            <div class="fb5-page-book">

                            </div>

                            <!-- number page and title for page -->
                            <div class="fb5-meta">
                                <span class="fb5-num"></span>
                                <span class="fb5-description"></span>
                            </div>

                        </div>

                    </div>
                    <!-- END PAGE 12 -->


                </div>
                <!-- END BOOK -->


                <!-- arrows -->
                <a class="fb5-nav-arrow prev"></a>
                <a class="fb5-nav-arrow next"></a>


            </div>
            <!-- END CONTAINER BOOK -->


            <!-- BEGIN FOOTER -->
            <div id="fb5-footer">
                <div class="fb5-bcg-tools"></div>

                <a id="fb5-logo" target="_blank" href="http://codecanyon.net/user/flashmaniac?ref=flashmaniac">
                    <img alt="" src="assets/flipbooks/img/logo.png">
                </a>

                <div class="fb5-menu" id="fb5-center">
                    <ul>

                        <!-- icon download -->
                        <!-- <li>
                            <a title="DOWNLOAD (ZIP)  " class="fb5-download" href="assets/flipbooks/img/file.pdf"></a>
                        </li> -->


                        <!-- icon_zoom_in -->
                        <li>
                            <a title="ZOOM IN" class="fb5-zoom-in"></a>
                        </li>

                        <!-- icon_zoom_out -->

                        <li>
                            <a title="ZOOM OUT " class="fb5-zoom-out"></a>
                        </li>

                        <!-- icon_zoom_auto -->
                        <li>
                            <a title="ZOOM AUTO " class="fb5-zoom-auto"></a>
                        </li>

                        <!-- icon_zoom_original -->
                        <li>
                            <a title="ZOOM ORIGINAL (SCALE 1:1)" class="fb5-zoom-original"></a>
                        </li>

                        <!-- icon_home -->
                        <li>
                            <a title="SHOW HOME PAGE " class="fb5-home"></a>
                        </li>

                    </ul>
                </div>

                <div class="fb5-menu" id="fb5-right">
                    <ul>
                        <!-- icon page manager -->
                        <li class="fb5-goto">
                            <label for="fb5-page-number" id="fb5-label-page-number">PAGE</label>
                            <input type="text" id="fb5-page-number">
                            <button type="button">GO</button>
                        </li>

                        <!-- icon fullscreen -->
                        <li>
                            <a title="FULL / NORMAL SCREEN" class="fb5-fullscreen"></a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- END FOOTER -->


        </div>
        <!-- END HTML BOOK -->

    </div>
    <!-- END FLIPBOOK STRUCTURE -->



</div>
<!-- END DIV YOUR WEBSITE -->