.flip_img {
  width: 100%;
  max-height: 300px;
  overflow: hidden !important;
  margin-bottom: 20px !important;
  img {
    width: 100%;
  }
}

#fb5 .fb5-meta.fb5-right .fb5-num{
    padding-left: 0 !important;
    padding-right: 10px !important; 
}

.fb5-description{
    padding-left: 10px !important;
}