<div id="wrapper">
    <!-- content-->
    <div class="content">
        <!--  section  -->
        <section class="color-bg middle-padding banner-sec">
            <div class="wave-bg wave-bg2 blogs-bg"></div>
            <div class="container">
                <div class="flat-title-wrap top-banner-sec">
                    <h2><span>Our Forum</span></h2>
                    <!-- <span class="section-separator"></span> -->
                    <!-- <h3>Solve all your doubt and enrich life with great articles from top doctors around the world</h3> -->
                </div>
            </div>
        </section>
        <!--  section  end-->
        <div class="breadcrumbs-fs fl-wrap">
            <div class="container">
                <div class="breadcrumbs fl-wrap"><a class="pointer" routerLink="/">Home</a>
                    <!-- <a href="#">Forum</a><a href="#">Pregnancy, Kids & Parenting</a><span>Parenting</span> -->
                    <span>Forums</span>
                </div>
            </div>
        </div>
        <!--  section  -->
        <section class="grey-blue-bg small-padding scroll-nav-container1" id="sec2">
            <!--   container  -->
            <div class="container">
                <!--   row  -->
                <div class="row">
                    <!--   datails -->
                    <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                        <!--   list-single-main-item -->
                        <div class="list-single-main-item fl-wrap" id="sec3">
                            <div class="list-single-main-item-title no-dec-title fl-wrap">
                                <h3 class="ask-qstn-title">Ask Your Question?</h3>
                            </div>
                            <div class="ask-qstn-choice">
                                <a class="pointer" [class.active_cls]="currCategory.id==forum.id" *ngFor="let forum of forumsCategory" (click)="selectCategory(forum);">{{forum.name}}</a>
                                <!-- <a class="pointer" (click)="showsomeonesec();"><span><img src="assets/images/custom/someone.png"></span>Someone else</a> -->
                            </div>
                        </div>
                        <!-- list-single-main-item -->
                        <div class="list-single-main-item fl-wrap myself-sec" [hidden]="!currCategory.id">
                            <!-- Add Review Box -->
                            <div id="add-review" class="add-review-box">
                                <!-- Review Comment -->
                                <div id="" class="add-comment custom-form ask-qstn-form" name="rangeCalc">
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="ask-qstn-form-title mt0">Personal Details
                                                  <!-- <span class="ask-qstn-close" (click)="hidebothqstnsec();"><i class="fa fa-times"></i></span> -->
                                                </h3>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label><i class="fal fa-user"></i></label>
                                                <input type="text" readonly [(ngModel)]="profileDetails.name" class="ask-qstn-input" placeholder="Name*" value="" />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="listsearch-input-item gender-select">
                                                    <select [disabled]="true" id="gender" data-placeholder="Gender" class="chosen-select no-search-select">
                                                        <option value="M">Male</option>
                                                        <option value="F">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label><i class="fal fa-envelope"></i></label>
                                                <input readonly type="text" [(ngModel)]="profileDetails.email" class="ask-qstn-input" placeholder="Email Address*" value="" />
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <label><i class="fal fa-phone"></i></label>
                                                <input readonly type="text"[(ngModel)]="profileDetails.username"  class="ask-qstn-input" placeholder="Phone Number*" value="" />
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <label><i class="fal fa-birthday-cake"></i></label>
                                                <input type="text" readonly [(ngModel)]="profileDetails.age" class="ask-qstn-input" placeholder="Age*" value="" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="ask-qstn-form-title">Ask a Question</h3>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <input type="text" [class.mb10]="!question.titleErr" [(ngModel)]="question.title" class="ask-qstn-input" placeholder="Title" value="" />
                                            </div>
                                            <div *ngIf="question.titleErr" class="error-message">Title is required</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <textarea cols="40" [(ngModel)]="question.description" rows="3" placeholder="Description"></textarea>
                                            </div>
                                            <div *ngIf="question.descErr" class="error-message">Description is required</div>
                                        </div>
                                    </div>
                                    <button (click)="createQuestion()" class="btn  big-btn flat-btn float-btn color2-bg" style="margin-top:30px">Submit Details <i class="fal fa-paper-plane"></i></button>
                                </div>
                            </div>
                            <!-- Add Review Box / End -->
                        </div>
                        <div class="list-single-main-container">
                            <!--   list-single-main-item -->
                            <div class="list-single-main-item fl-wrap blog-content">
                                <div class="listing-forum" *ngFor="let forum of forumsList.results">
                                    <a routerLink="/forum-detail/{{forum.id}}">
                                        <h3 class="video-det-tit">{{forum.title}}</h3>
                                    </a>
                                    <div class="forum-det-btmsec">
                                        <ul class="video-det-ul">
                                            <!-- <li><i class="fal fa-eye"></i> <a href="#">78</a> </li>
                                            <li><i class="fal fa-comments-alt"></i> <a href="#">10</a> </li>
                                            <li><i class="fal fa-hand-point-right"></i> <span>20</span></li> -->
                                            <li class="fright"><i class="fal fa-calendar"></i> <span>{{forum.created_at | date : "dd MMM yyyy"}}</span></li>
                                        </ul>
                                        <div class="video-det-links">
                                            <a routerLink="/forum-detail/{{forum.id}}" class="pointer lisd-link">{{forum?.category?.name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--   list-single-main-item end -->
                            <!-- <a class="load-more-button" href="#">Load more <i class="fal fa-spinner"></i> </a> -->
                        </div>
                    </div>
                    <!--   sidebar  -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!--box-widget-wrap -->
                        <div class="box-widget-wrap fl-wrap hidden-in-ipad">
                            <div class="team-holder section-team fl-wrap flipbook-show">
                                <div class="team-box">
                                    <div class="team-photo">
                                        <img src="assets/images/blogs/blog-1.jpg" alt="" class="respimg">
                                        <div class="sale-window big-sale">Blog</div>
                                    </div>
                                    <div class="team-info">
                                        <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                        <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                                        <h4>Heart Diseases | Healthy Heart</h4>
                                        <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                                            </ul>
                                            <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget counter-widget">
                                    <div class="banner-wdget fl-wrap">
                                        <div class="overlay"></div>
                                        <div class="bg" data-bg="assets/images/blogs/rel-blog-post-3.jpg"></div>
                                        <div class="banner-wdget-content fl-wrap">
                                            <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                            <div class="countdown fl-wrap">
                                                <div class="countdown-item">
                                                    <span class="days rot">200</span>
                                                    <p>Views</p>
                                                </div>
                                                <div class="countdown-item">
                                                    <span class="hours rot">17</span>
                                                    <p>Likes</p>
                                                </div>
                                                <div class="countdown-item">
                                                    <span class="minutes rot">26</span>
                                                    <p>Comments</p>
                                                </div>
                                            </div>
                                            <a href="#">Watch Video Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="team-holder section-team fl-wrap flipbook-show">
                                <div class="team-box">
                                    <div class="team-photo">
                                        <img src="assets/images/blogs/flipbook-sample.jpg" alt="" class="respimg">
                                        <div class="sale-window big-sale">Flip Book</div>
                                    </div>
                                    <div class="team-info">
                                        <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                        <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                                        <h4>Heart Diseases | Healthy Heart</h4>
                                        <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                                            </ul>
                                            <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> Follow Us </h3>
                                        </div>
                                        <div class="follow-us-widget">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/facebook.svg"></a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/twitter.svg"></a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/google-plus.svg"></a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <a class="follow-us-btn" href="#"><img src="assets/images/blogs/linkedin.svg"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> Get health tips in your inbox </h3>
                                        </div>
                                        <div class="search-widget">
                                            <img src="assets/images/blogs/mailbox.svg" alt="" class="mail-box">
                                            <form action="#" class="fl-wrap">
                                                <input name="se" id="se" type="text" class="search" placeholder="Enter your email id here" />
                                                <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--box-widget-wrap end -->
                        <div class="show-in-ipad">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="team-holder section-team fl-wrap flipbook-show">
                                        <div class="team-box">
                                            <div class="team-photo">
                                                <img src="assets/images/blogs/blog-1.jpg" alt="" class="respimg">
                                                <div class="sale-window big-sale">Blog</div>
                                            </div>
                                            <div class="team-info">
                                                <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                                <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                                                <h4>Heart Diseases | Healthy Heart</h4>
                                                <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                <div class="team-social">
                                                    <ul>
                                                        <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                                                    </ul>
                                                    <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget counter-widget">
                                            <div class="banner-wdget fl-wrap">
                                                <div class="overlay"></div>
                                                <div class="bg" data-bg="assets/images/blogs/rel-blog-post-3.jpg"></div>
                                                <div class="banner-wdget-content fl-wrap">
                                                    <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                                    <div class="countdown fl-wrap">
                                                        <div class="countdown-item">
                                                            <span class="days rot">200</span>
                                                            <p>Views</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="hours rot">17</span>
                                                            <p>Likes</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="minutes rot">26</span>
                                                            <p>Comments</p>
                                                        </div>
                                                    </div>
                                                    <a href="#">Watch Video Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="team-holder section-team fl-wrap flipbook-show">
                                        <div class="team-box">
                                            <div class="team-photo">
                                                <img src="assets/images/blogs/flipbook-sample.jpg" alt="" class="respimg">
                                                <div class="sale-window big-sale">Flip Book</div>
                                            </div>
                                            <div class="team-info">
                                                <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                                <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                                                <h4>Heart Diseases | Healthy Heart</h4>
                                                <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                <div class="team-social">
                                                    <ul>
                                                        <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                                                    </ul>
                                                    <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Follow Us </h3>
                                                </div>
                                                <div class="follow-us-widget">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/facebook.svg"></a>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/twitter.svg"></a>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/google-plus.svg"></a>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                            <a class="follow-us-btn" href="#"><img src="assets/images/blogs/linkedin.svg"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Get health tips in your inbox </h3>
                                                </div>
                                                <div class="search-widget">
                                                    <img src="assets/images/blogs/mailbox.svg" alt="" class="mail-box">
                                                    <form action="#" class="fl-wrap">
                                                        <input name="se" id="se" type="text" class="search" placeholder="Enter your email id here" />
                                                        <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--   sidebar end  -->
                </div>
                <!--   row end  -->
            </div>
            <!--   container  end  -->
        </section>
        <!--  section  end-->
    </div>
    <!-- content end-->
    <div class="limit-box fl-wrap"></div>
</div>