.active_cls{
    background: #f9b90f !important;
    color: #fff !important;   
}

.error-message {
    display: inline-block;
    width: 100%;
    margin: 10px 0px 10px -40px;
    text-align: right;
    color: #EF0000;
}

.custom-form input{
    margin-bottom: 0 !important;
}

.custom-form input.mb10{
    margin-bottom: 10px !important;
}