/*SEARCH DDM CSS STARTS HERE*/
.searchddm .quantity-item{
 padding: 0px 15px 10px 15px !important;
}
.initialstyle{
        background: #ebebe4;
    padding: 9px 12px;
        margin-left: 10px;
    border-radius: 20px;
}
.ddmtitle {
    background: #ebebe4;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
}
.ddmsubtitle {
    padding-bottom: 0px;
    font-size: 12px;
    text-align: left;
    margin-top: -5px;
}
.ddmmaintitle {
    font-size: 14px;
    text-align: left;
    margin-top: -10px;
    padding-bottom: 0px;
}
.searchddmseperator{
        border-bottom: 1px solid #eee;
        margin-bottom: 15px;
}
.pl6{
    padding-left: 6px;
}
.searchddmimg {
    width: 95%;
    border-radius: 20px;
    margin-top: -9px;
    margin-left: 10px;
}
/*SEARCH DDM CSS ENDS HERE*/
.width100 {
    width: 100%;
}

.floatright {
    float: right !important;
}

.floatleft {
    float: left !important;
}

.mb10 {
    margin-bottom: 10px;
}

.loginlinks a {
    color: #50596E;
    font-size: 12px;
    font-weight: 600;
}

.loginlinks a:hover {
    color: #5ecfb1;
}

.bannersection {
    /*padding-top: 150px;*/
    /*background-size: cover;*/
}

.ptb60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.bgcontain {
    background-size: contain;
}

.nopadding {
    padding: 0px;
}

.mt10 {
    margin-top: 10px !important;
}

.geodir-category-price a {
    color: #16a085;
}

.pt15 {
    padding-top: 5px !important;
}

ul.slick-dots {
    display: none !important;
}

.ptb50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.listmapsection {
    height: 400px !important;
}

/*.map-popup-wrap{
    top: 70px !important;
}*/
.map-popup a.listing-img-content {
    height: 120px !important;
}

.team-info {
    background: #fff;
}

a.viewdoctorbtn {
    color: #fff;
    line-height: 40px;
    float: right;
    margin-right: 35px;
}

.viewdoctorbtn i {
    margin-left: 10px;
}

.darkoverlay {
    opacity: 0.7 !important;
}

.collagebg {
    background: url(../images/custom/banner.jpg) repeat !important;
    opacity: 0.5 !important;
    background-size: contain !important;
}

.blackbg {
    background: #000;
}

.doctortagline {
    font-size: 17px !important;
    color: #fff !important;
}

.ptb20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.mt20 {
    margin-top: 20px;
}

.greenbg {
    background: #16a085 !important;
}

.down-btn {
    background: #007269;
    font-size: 15px;
    padding-right: 15px;
}

.images-collage-title.color3-bg {
    color: #007269;
}

.down-btn i {
    color: #f9b90f;
}

.homedoctors .team-box {
    width: 25% !important;
}

.opacity6 {
    opacity: 0.6 !important;
}

.homedoctors p {
    font-size: 14px !important;
}

.f20 {
    font-size: 20px !important;
}

.hero-parallax .bg {
    height: 100% !important;
}

@media screen and (min-width: 1300px) {
    .homenav {
        left: 90px;
        top: 8px;
    }
}

@media screen and (max-width: 1300px) {
    .homenav {
        left: 60px;
        top: 8px;
    }
}

.bookappt {
    background: #007269;
    cursor: pointer;
}

.bookappt a {
    color: #fff;
}

.medtype:after {
    margin-top: 1px !important;
}

.homedoctors {
    width: 50% !important;
    padding: 0px 5px;
}

.mb20 {
    margin-bottom: 20px !important;
}

img.healthicon {
    width: 20%;
    margin-bottom: 15px;
    opacity: 0.7;
}

.sideimage {
    width: 100%;
}

.ptb0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.sidesection {
    margin-top: 75px;
}

.sidetitle {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
    /*color: #fff;*/
}

.sidecontent {
    font-size: 18px;
    margin-bottom: 15px;
    /*color: #fff;*/
    line-height: 30px;
}

.bggreen {
    background: #007269;
}

.yellowbtn {
    background: #f9b90f;
}

.width20 {
    width: 22% !important;
}

.width80 {
    width: 78% !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt58 {
    padding-top: 58px !important;
}

.serviceboxes {
    background: #2d32c7;
    margin-top: 30px;
    padding: 20px;
    -webkit-box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
    -moz-box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
    box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
    border-radius: 15px;
}

.serviceicons {
    width: 50%;
    margin-bottom: 10px;
}

.serviceboxes p {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;

}

.servicecolorboxes {
    padding-right: 100px;
    padding-top: 45px;
}

.colorbox1 {
    background: #14b8b7;
}

.colorbox2 {
    background: #905ea3;
}

.colorbox3 {
    background: #f3966e;
}

.colorbox4 {
    background: #616e6e;
}

.colorbox5 {
    background: #49ceff;
}

.colorbox6 {
    background: #6fcf5e;
}

.greencolor {
    color: #007269 !important;
}

.mt40 {
    margin-top: 40px !important;
    margin-bottom: 0px;
}

.servicecontent {
    padding: 75px 100px 0px 100px !important;
    line-height: 30px;
}

.dochr {
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.mb0 {
    margin-bottom: 0px !important;
}

.flipicons {
    width: 50%;
    margin-bottom: 15px;
    opacity: 0.7;
}

.fliptext {
    margin-bottom: 10px;
}

.plr100 {
    padding: 0px 100px;
}

.readbtn {
    font-size: 15px;
    margin-top: 20px;
    font-weight: normal;
}

.f14 {
    font-size: 14px !important;
}

.blogauthor span {
    top: 3px !important;
    line-height: 18px !important;
    display: block;
}

.menuicon {
    display: inline;
    float: left;
    width: 18%;
    margin-right: 8px;
    width: 14%;
    margin-right: 10px;
    margin-bottom: 6px;
}

.forumsection {
    text-align: center;
}

.forumicon {
    width: 6%;
    margin-top: 40px;
    margin-bottom: 30px;
    opacity: 0.8;
}

.forumtitle {
    font-size: 32px;
    margin-bottom: 15px;
}

.forumpara {
    font-size: 18px;
    margin-bottom: 8px;
}

.foruminput {
    display: block;
    margin: 0px auto;
    height: 45px;
    width: 490px;
    padding: 10px;
    border: 2px solid #fac73f;
    border-radius: 7px;
}

.mb160 {

    margin-bottom: 160px;
}

.o7 {
    opacity: 0.7;
}

.ddmlink {
    float: left;
    color: #666;
    font-weight: 100;
    font-size: 14px !important;

}

.ddmlink i {
        font-weight: 500;
    background: #ebebe4;
    padding: 9px;
    border-radius: 20px;
    margin-right: 15px;
    margin-left: -5px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.qty-dropdown-content {
    box-shadow: 0 1px 2px #b4b4be;
}

.askquestitle {
    border: 1px solid #007269 !important;
    width: 25%;
    padding: 10px 15px !important;
    border-radius: 5px 0px 0px 5px !important;
    border-right: 1px solid white !important;
    font-family: inherit;
}

.askquesmsg {
    font-family: inherit;
    border: 1px solid #007269 !important;
    padding: 10px 15px !important;
    border-radius: 0px 5px 5px 0px !important;
    width: 75%;
}

.askquesec {
    margin-bottom: 200px;
    margin-top: -25px;
}

.ptb40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.width50 {
    width: 50% !important;
}

.width35 {
    width: 35% !important;
}

.width65 {
    width: 65% !important;
}

.doclistfooter {
    padding: 5px 10px;
}

.doclistfooter span {
    padding: 10px !important;
}

.doclistcontent {
    padding-bottom: 10px !important;
    margin-bottom: 8px !important;
}

.doclistviewmore {
    margin: 4px 0 -10px 0;
    padding: 8px 5px 0px 0;
}

p.voteicon {
    padding-bottom: 0px;
}

.voteicon i {
    color: #f9b90f;
    padding-left: 20px;
    padding-right: 4px;
}

.votetext {
    padding-bottom: 0px;
    font-size: 12px !important;
    float: right;
    line-height: 14px;
}

.mt2 {
    margin-top: 3px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.p20 {
    padding: 20px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.sidefeatured {
    padding-left: 10px !important;
}

.sidefeatured h4 {
    line-height: 18px;
    padding-bottom: 0px;
}

.sidefeatured p {
    line-height: 18px;
    margin-top: 2px;
    padding-bottom: 3px;
}

.sidefeatured span {
    margin-top: 5px !important;
    display: inline-block !important;
    float: left !important;
    width: 49% !important;
}

.sidefeatured i {
    padding-right: 5px !important;
}

.plr5 {
    padding: 0px 5px !important;
}

.sidefeatured .team-info {
    padding: 20px 20px 50px 20px !important;
}

.sidefeatured h3 {
    line-height: 22px !important;
}

.featuredheading {
    font-size: 14px !important;
    margin-bottom: 6px !important;
    color: #f9b90f !important;
}

.featuredpara {
    font-size: 13px;
    line-height: 20px !important;
    margin-bottom: 11px;
    text-align: justify;
}

.pl0 {
    padding-left: 0px !important;
}

.sidefeatured .team-social a {
    color: #fff !important;
}

.pt70 {
    padding-top: 70px !important;
}

.docdetaildes {
    font-size: 25px;
    font-weight: 100;
}

.votecount {
    padding: 12px !important;
    margin-top: 20px;
    font-size: 18px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.docdetailpic {
    width: 100%;
}

.docdetailname {
    font-size: 20px !important;
    font-weight: 900;
    padding-bottom: 5px;
}

.docdetailqua {
    font-size: 15px !important;
    line-height: 20px !important;
    padding-bottom: 2px;
}

.docdetailexp {
    font-size: 15px !important;
    padding-bottom: 0px;
    line-height: 25px !important;
}

.docdetailicon {
    font-size: 13px;
    color: #f9b90f;
    padding-right: 6px;
}

span.docdetaildistance {
    float: right;
    padding: 2px 6px 0px 6px;
    border-radius: 4px;
    line-height: 20px;
    font-size: 12px;
    background: #5ecfb1;
    color: #fff;
}

.recdoc {
    margin-bottom: 6px !important;
    font-size: 13px !important;
}

.pt8 {

    padding-top: 8px !important;
}

.recdocimg {
    width: 80px !important;
    height: 80px !important;
}

.bbline {
    /*border-bottom: 1px solid #e5e5e5;*/
}

.f16 {
    font-size: 16px !important;
}

.lh18 {
    line-height: 18px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.revsec {
    padding: 0px !important;
    border: 0px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mt15 {
    margin-top: 15px !important;
}

p.qatitle {
    padding-bottom: 5px;
    font-size: 16px !important;
    font-weight: 900;
    color: #f9b90f !important;
}

.scroll-to-fixed-fixed {
    top: 60px !important;
}

.floatnone {
    float: none !important;
}

.alignleft {
    text-align: left !important;
}

.votescount {
    float: left;
    color: #f9b90f;
}

.votescount i {
    padding-right: 5px;
}

p.commentsinfo {
    margin-top: -5px;
    padding-bottom: 0px;
    font-size: 12px;
}

.pbt12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.pubdate {
    color: #fff;
    font-size: 12px;
    /* padding-top: 10px; */
    line-height: 26px;
}

.t40 {
    top: 40px !important;
}

.box-image-widget:last-child {
    border-bottom: none;
}

.box-widget-list li:last-child {
    border-bottom: 1px solid #fff;
}

.h60 {
    height: 60px !important;
}

a.quebtn1 {
    padding: 12px 36px;
    background: #f9b90f;
    border-radius: 6px;
    color: #fff;
    margin-right: 6px;
}

a.quebtn2 {
    padding: 12px 18px;
    background: #3aaced;
    border-radius: 6px;
    color: #fff;
}

.btnsection {
    margin-bottom: 170px;
    margin-top: 6px;
}

.dashboardmenudetail li a {
    color: #000 !important;
}

.box-widget-list li i {
    color: #f9b90f !important;
}

.medfiltersection {
    height: 175px;
    overflow-y: auto;
}

.pt90 {
    padding-top: 90px !important;
}

.availmed {
    background: #057b6a;
    padding: 6px 16px 6px 16px;
    height: auto;
    float: right;
    color: #fff;
    font-weight: 100;
    font-size: 11px;
    border-radius: 5px;
}

.unavailmed {
    background: #f34261;
    padding: 6px 16px 6px 16px;
    height: auto;
    float: right;
    color: #fff;
    font-weight: 100;
    font-size: 11px;
    border-radius: 5px;
}

/*TABLE CSS STARTS HERE*/
#customers,
.customtable {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#customers td,
#customers th,
.customtable td,
.customtable th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: top;
    line-height: 20px;
}

#customers tr:nth-child(even),
.customtable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#customers tr:hover,
.customtable tr:hover {
    background-color: #f9f9f9;
}

#customers th,
.customtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3aaced;
    color: white;
}

/*TABLE CSS ENDS HERE*/
.galicon {
    height: 30px !important;
    line-height: 30px !important;
}

.galbox {
    height: 30px !important;
    line-height: 30px !important;
}

.width20 {
    width: 20%;
}

@media screen and (max-width: 767px) {
    .logo-holder {
        width: 50%;
    }

    .logo-holder a img {
        width: 100%;
            margin-top: 4px;
    }

    .homenav {
        top: 60px !important;
    }

    .menuicon {
        width: 6%;
    }

    .add-hotel {
        display: none;
    }

    .servicecontent {
        padding: 75px 45px 0px 45px !important;
    }

    .servicecolorboxes {
        padding-right: 25px;
    }

    .ml60 {
        margin-left: 10px !important;
    }

    .homedoctors {
        width: 100% !important;
    }

    .homedoctors .width35 {
        width: 100% !important;
    }

    .homedoctors .width65 {
        width: 100% !important;
        padding-top: 30px !important;
    }

    .forumicon {
        width: 20%;
    }

    .copyright {
        line-height: 20px;
    }

    .subfooter-nav{
        margin-top: 8px;
        margin-left: 45px;
    }
    #doctorslist .listing-item{
        width: 100% !important;
    }
    #doctorslist .listing-item .width35, #doctorslist .listing-item .width65{
        width: 100% !important;
    }
    .doclistcontent{
        padding-top: 10px !important;
    }
    .nav-button-wrap.color-bg{
            float: right;
    margin-right: 10px;
        margin-top: 3px;
    }
    .home-intro h3{
        line-height: 30px;
    }
    .servicecontent{
        text-align: justify;
    }
    .centeraligndetails h3{
        text-align: center;
    }
    .centeraligndetails p{
        text-align: center;
    }
    .centeraligndetails a{
        float: none !important;
    }
    .pr0mobile{
        padding-right: 0px !important;
    }
    .mb30mobile{
        margin-bottom: 30px !important;
    }
    .list-single-hero.pt160{
        padding-top: 20px !important;
    }
    .bannerh2{
        line-height: 36px !important;
    }
    .blog-details .fixed-scroll-column{
        left: 0px !important;
    }
    .docdetailname{
            padding-top: 15px;
    padding-bottom: 10px;
    }
    #subscribe{
            margin-bottom: 35px;
    }
    .listing-item-container.init-grid-items.fl-wrap{
        padding: 0px 0px;
    }
    .more-photos-button i{
        display: none;
    }
    .galbox{
            padding: 2px 9px;
    }
    .soc-log a{
            padding: 0 0 0 90px;
    }
    .homedoctorsection .listing-item.has_one_column .geodir-category-listing {
    padding-left: 13px !important;
    padding-right: 13px;
}
.homedoctors .geodir-category-content {
    padding: 20px 5px;
}

.mb-70{
    margin-bottom: -70px !important;
}
.btnsection a {
    font-size: 17px;
}
.mt20{
    margin-top: 20px !important;
}
.pt160{
    padding-top: 160px !important;
}
.detailheight{
    height: 172% !important;
}
.detaildoctorheight{
    height: 120% !important;
}
.detailshopheight{
    height: 130% !important;
}
.detailgymheight{
    height: 150% !important;
}
.mediumoverlay{
    opacity: 0.4 !important;
}
.plr0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.width43{
    width: 43% !important;
}
.mb-10{
    margin-bottom: -10px !important;
}
