/*list blogs css*/
.top-banner-sec h2 {
    font-size: 40px;
}

.top-banner-sec h3 {
    font-size: 24px;
    color: #fff;
}

.breadcrumbs.fl-wrap.splitup-icon a:before {
    content: "|" !important;
}

.breadcrumbs.fl-wrap.splitup-icon a {
    font-size: 15px;
    color: #414146;
}

.list-blogs .card-post-content h3:before {
    content: "";
}

.list-blogs .card-post-content h3 {
    font-size: 18px;
}

.list-blogs .post-author img {
    margin-right: 10px;
}

.list-blogs .post-author span {
    top: 0px;
    font-size: 14px;
    float: left;
}

.list-blogs .post-author span.fal {
    color: #f9b90f;
}

.fright {
    float: right !important;
}

.fleft {
    float: left !important;
}

.blog-readmore {
    font-size: 14px;
    color: #16a085;
    font-weight: 500;
}

section.banner-sec {
    padding: 0px 0;
}

.list-blogs .post-opt li {
    margin-right: 15px;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.list-blogs .card-post-content h3 a {
    color: #414146;
}

.list-blogs .card-post-content h3 a:hover {
    color: #16a085;
}

.list-blogs .card-post-content p {
    font-size: 14px;
}

.list-blogs .card-post-content {
    padding: 15px 15px 0;
}

.list-blogs .load-more-button {
    font-size: 15px;
}

.list-blogs .box-widget-content {
    padding: 15px 20px 20px;
}

.list-blogs .geodir-category-opt .rate-class-name span {
    background: #f9b90f;
    border-radius: 5px 5px 5px 5px;
}

/*subscribe box*/
.subscribe-wrap {
    padding: 30px 0;
    overflow: hidden;
}

.subscribe-header p {
    font-size: 16px;
}

/*--------------------*/
.list-blogs .box-widget-author:before {
    content: "";
}

.list-blogs .accordion a.toggle {
    padding: 10px 50px 11px 20px;
}

.list-blogs .accordion-inner {
    padding: 10px 10px 10px;
}

.list-blogs .accordion-inner ul li {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.list-blogs .accordion-inner ul li:hover {
    background: #16a085;
}

.list-blogs .accordion-inner ul li:hover a {
    color: #fff !important;
}

.list-blogs .accordion-inner ul li:hover a span {
    margin-right: -5px;
}

.list-blogs .accordion-inner ul li span {
    float: right;
    transition: all 0.5s;
}

.list-blogs .accordion-inner ul li span i {
    color: #f9b90f;
    font-size: 18px;
}

.list-blogs .box-widget.widget-posts .widget-posts-date {
    margin-top: 5px;
    display: inline-block;
    float: left;
    width: 49%;
}

.list-blogs .box-image-widget-details p {
    line-height: 18px;
}

.list-blogs .banner-wdget-content a:hover {
    background: #16a085;
}

.list-blogs .banner-wdget-content {
    padding: 50px 30px 50px;
    z-index: 10;
}

.list-blogs .banner-wdget-content h4 {
    font-size: 22px;
}

.flipbook-show {
    margin-bottom: 20px;
}

.flipbook-show .team-box {
    padding: 0;
    width: 100%;
    background: #fff;
    border-radius: 7px;
}

.flipbook-show .team-social li a {
    color: #fff;
}

.flipbook-show .team-social li a i {
    margin-right: 5px;
}

.flipbook-show .sale-window.big-sale {
    background: #f9b90f;
    font-size: 16px;
}

.flipbook-show .sale-window.big-sale:before {
    border-top: 20px solid #f9b90f;
}

.flipbook-show .sale-window.big-sale:after {
    border-bottom: 20px solid #f9b90f;
}

/*blog details*/
.blog-details .list-single-hero-rating .score {
    margin-top: 30px;
    font-size: 18px;
}

.blog-details .list-single-header-contacts li i {
    padding-right: 10px;
    font-size: 20px;
    color: #f9b90f !important;
}

.blog-details .list-single-header-contacts li a {
    color: #fff;
    font-size: 20px;
}

.blog-details .list-single-hero-title {
    padding: 20px 0 30px;
}

.follow-us .lisd-link {
    border: 1px dashed rgb(249, 185, 15);
    background: rgb(249, 185, 15);
    transition: all 0.5s;
}

.follow-us .lisd-link i {
    padding-right: 15px;
    transition: all 0.5s;
}

.follow-us .lisd-link:hover i {
    padding-right: 10px;
}

.blog-details .scroll-nav-container {
    padding-top: 40px;
}

.blog-details .fixed-scroll-column {
    left: -45px;
}

.fb-share {
    background: #3b5998;
}

.twitter-share {
    background: #00aced;
}

.google-share {
    background: #dd4b39;
}

.linkedin-share {
    background: #007bb6;
}

.review-btn {
    background: #F8BB11;
}

.like-btn {
    background: #f44336;
}

.bookmark-btn {
    background: #16a085;
}

.blog-details .fc-button i {
    color: #fff;
    font-size: 18px;
}

.blog-details .comments-sec {
    padding: 10px 10px;
}

.blog-details .comments-sec .reviews-comments-item-text {
    padding: 20px
}

.blog-details .reviews-comments-item-text h4 {
    padding-bottom: 10px;
}

.blog-details .reviews-comments-item-date {
    margin-top: 3px;
}

.blog-details .custom-form label i {
    top: 11px;
    left: 5px;
}

.blog-details .blog-content p {
    color: #414146;
    font-size: 18px;
    line-height: 32px;
}

.blog-details .list-single-main-item ul li {
    font-size: 18px;
    text-align: left;
    line-height: 32px;
    font-weight: normal;
}

.blog-details .list-single-main-item ul li b,
.blog-details .list-single-main-item ul li strong {
    font-weight: 600;
}

.blog-details .list-single-main-item ul {
    list-style: none;
    list-style-type: disc;
    padding: 10px 40px;
}

.blog-details .tags-stylwrap a {
    color: #414146;
    font-size: 14px;
    margin-top: 5px;
}

.blog-details .reviews-comments-item-text p {
    text-align: left;
    font-size: 14px;
    color: #414146;
}

.follow-us-btn img {
    width: 55px;
    height: 55px;
}

.author-details-widget {
    position: relative;
}

.author-details-widget a.img {
    width: 30%;
    display: inline;
    float: left;
}

.author-details-widget a.img img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.author-details-widget a.details {
    width: 60%;
    float: left;
    margin: 5px 10px;
    text-align: left;
}

.author-details-widget a.details .name {
    font-size: 18px;
    color: #414146;
}

.author-details-widget a.details .name i {
    color: #f9b90f;
}

.author-details-widget a.details .spantext {
    color: #878C9F;
    font-weight: 400;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;
}

.author-details-widget a.details .spantext i {
    color: #f9b90f;
}

.mail-box {
    width: 120px;
    margin-bottom: 20px;
}

.send-icon {
    font-size: 25px;
    margin-top: 13px;
}

.related-question-widget li {
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    color: #414146;
    border: 1px solid #f9f9f9;
    margin: 10px 0;
    background: #f9f9f9;
    padding: 10px 10px;
}

.related-question-widget li b {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.fnone {
    float: none;
}

.mb-15px {
    margin-bottom: 15px;
}

.related-question-widget li a {
    font-weight: normal;
    color: #f9b90f;
    /*text-decoration: underline;*/
}

.view-all-btn {
    font-weight: 600;
    color: #fff;
    padding: 12px 30px;
    display: inline-table;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}



/* LIST VIDEOS STARTS HERE */

.list-videos .card-post-content h3:before {
    content: "";
}

.list-videos .card-post-content h3 {
    font-size: 16px;
    min-height: 65px;
    /*border-bottom: 0px solid #eee;*/
    /*margin-bottom: 0px;*/
}

.list-videos .card-post-content .post-opt {
    border-top: 1px solid #eee;
    width: 100%;
    padding: 15px 0;
    margin: 5px 0 5px;
}

.list-videos .post-author img {
    margin-right: 10px;
}

.list-videos .post-author span {
    top: 0px;
    font-size: 14px;
    float: left;
}

.list-videos .post-author span.fal {
    color: #f9b90f;
}

.list-videos .post-opt li {
    margin-right: 10px;
}

.list-videos .card-post-content h3 a {
    color: #414146;
}

.list-videos .card-post-content h3 a:hover {
    color: #16a085;
}

.list-videos .card-post-content p {
    font-size: 14px;
}

.list-videos .card-post-content {
    padding: 5px 10px 0;
    max-height: 230px;
    /*padding: 15px 15px 0;*/
}

.list-videos .load-more-button {
    font-size: 15px;
}

.list-videos .box-widget-content {
    padding: 15px 20px 20px;
}

.list-videos .geodir-category-opt .rate-class-name span {
    background: #0000008f;
    border-radius: 5px 5px 5px 5px;
    padding: 7px;
    font-weight: 500;
    box-shadow: none;
}

/*--------------------*/
.list-videos .box-widget-author:before {
    content: "";
}

.list-videos .accordion a.toggle {
    padding: 10px 50px 11px 20px;
}

.list-videos .accordion-inner {
    padding: 10px 10px 10px;
}

.list-videos .accordion-inner ul li {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.list-videos .accordion-inner ul li:hover {
    background: #16a085;
}

.list-videos .accordion-inner ul li:hover a {
    color: #fff !important;
}

.list-videos .accordion-inner ul li:hover a span {
    margin-right: -5px;
}

.list-videos .accordion-inner ul li span {
    float: right;
    transition: all 0.5s;
}

.list-videos .accordion-inner ul li span i {
    color: #f9b90f;
    font-size: 18px;
}

.list-videos .box-widget.widget-posts .widget-posts-date {
    margin-top: 5px;
    display: inline-block;
    float: left;
    width: 49%;
}

.list-videos .box-image-widget-details p {
    line-height: 18px;
}

.list-videos .banner-wdget-content a:hover {
    background: #16a085;
}

.list-videos .banner-wdget-content {
    padding: 50px 30px 50px;
    z-index: 10;
}

.list-videos .banner-wdget-content h4 {
    font-size: 22px;
}

.list-videos .card-post {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    background: #fff;
    margin-bottom: 30px;
}

.popular-video-img {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
}

h3.video-det-tit {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.video-det-ul {
    /*padding-top: 20px;*/
    text-align: left;
    /*border-top: 1px solid #eee;*/
    /*margin-top: 10px;*/
    display: inline-block;
    float: left;
    padding: 0px !important;
}

.video-det-ul li {
    display: inline-block;
    text-align: left;
    font-size: 15px !important;
    margin-right: 20px;
    line-height: normal !important;
}

.video-det-ul li a {
    color: #424242;
    padding-left: 10px;
    font-weight: 500;
}

.video-det-ul li span {
    color: #424242;
    padding-left: 10px;
    font-weight: 500;
}

.video-det-ul li i {
    color: #f9b90f;
}

.ytplayer-container,
source,
video {
    width: 100%;
    margin-bottom: 30px;
    bottom: unset;
    left: unset;
    min-width: 100%;
    position: relative;
}


.listing-videos-card {
    width: 33.3%;
    float: left;
    padding: 0 10px;
}

.video-det-links {
    display: inline-block;
    float: right;
    margin-right: 30px;
    /* width: 100%; */
    /* margin: 20px 0px; */
    /*padding-top: 20px*/
    /*margin-top: 10px*/
}

.video-det-links .lisd-link {
    border: 1px dashed rgba(12, 12, 12, 0.21);
    background: rgba(142, 138, 138, 0.11);
    color: #101010;
    margin-left: 10px;
    float: none;
}

.video-det-links .lisd-link:hover {
    background: #3AACED;
    border-color: transparent;
    color: #fff;
}

.video-det-btmsec {
    padding-top: 25px;
    margin-top: 10px;
    border-top: 1px solid #eee;
}

.video-det-comments-sec {
    padding: 10px 10px;
}

/* LIST VIDEOS ENDS HERE */

/* LIST FLIPBOOKS STARTS HERE */

span.flipbuk-tags {
    display: block;
    color: #929292;
    font-weight: 500;
    font-size: 12px;
    padding-top: 7px;
}

.flipbuk-card-img {
    height: 200px !important;
}

.mt0 {
    margin-top: 0px;
}

.flip-det .fc-cont.lc-prev {
    background: #0006;
    left: -10px;
}

.flip-det .fc-cont.lc-next {
    background: #0006;
    right: -10px;
}

/* LIST FLIPBOOKS ENDS HERE */

.forum-follow {
    color: #f9b90f !important;
    font-weight: 100 !important;
    padding-left: 0px !important;
}

.nested-cmnt-sec .nested-cmnt.reviews-comments-item {
    padding: 0 0 0px 80px;
    position: relative;
    float: left;
    margin-bottom: 0px;
    width: 100%;
    border-bottom: 0px solid #eee;
    margin-top: 15px;
}

.nested-cmnt-sec .nested-cmnt .review-comments-avatar {
    position: absolute;
    top: 0;
    left: 0px;
    width: 60px;
    height: 60px;
}

.nested-cmnt-sec .nested-cmnt .review-comments-avatar:before {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: 20px;
    left: -10px;
    margin-left: 38px;
    width: 40px;
    height: 40px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.nested-cmnt-sec .nested-cmnt .review-comments-avatar img {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 100%;
}

.reviews-comments-item:last-child {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
}

.forum-det-btmsec {
    padding-top: 10px;
    margin-top: 0px;
    border-top: 0px solid #eee;
}

#wrapper {
    padding-top: 58px !important;
}

.main-header {
    background: #007269 !important;
}

.flat-title-wrap {
    padding: 30px 0;
}

img.video-play-btn {
    position: absolute;
    width: 40px;
    top: 35%;
    left: 45%;
    z-index: 9;
    opacity: .9;
}

.video-list-a {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
}

.video-like-count {
    display: inline-block;
    float: right;
}

.video-like-count img {
    width: 25px;
    margin-right: 15px;
}

.video-like-count span.likes-count {
    background: #007269;
    color: #fff;
    font-weight: 500;
    border-radius: 7px 7px 7px 0;
    padding: 10px;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.21);
}

.video-details .comments-sec .reviews-comments-item-text {
    padding: 20px;
}

.video-details .reviews-comments-item-text h4 {
    padding-bottom: 10px;
}

.video-details .reviews-comments-item-text p {
    text-align: left;
    font-size: 14px;
    color: #414146;
}

.video-details .reviews-comments-item-date {
    margin-top: 3px;
}

.flip-det .comments-sec .reviews-comments-item-text {
    padding: 20px;
}

.flip-det .reviews-comments-item-text h4 {
    padding-bottom: 10px;
}

.flip-det .reviews-comments-item-text p {
    text-align: left;
    font-size: 14px;
    color: #414146;
}

.flip-det .reviews-comments-item-date {
    margin-top: 3px;
}

.custom-follow-us .follow-us-btn img {
    margin: 15px 0px;
}

.add-btm-cmnt-sec .add-comment.custom-form {
    padding: 20px;
    margin: 20px 0px;
    float: left;
    border: 2px dashed #cccc;
    border-radius: 3px;
}

.add-btm-cmnt-sec .add-comment.custom-form textarea {
    height: 100px;
}

.listing-forum {
    width: 100%;
    float: left;
    padding: 15px;
    margin-bottom: 20px;
    background: #fbfbfbcc;
    transition: .3s ease;
}

.listing-forum:hover {
    width: 100%;
    float: left;
    padding: 15px;
    margin-bottom: 20px;
    background: #fbfbfbcc;
    box-shadow: 0px 0px 10px 1px #ececec;
}

.listing-forum h3 {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.ask-qstn-choice a {
    padding: 12px 30px;
    color: #fff;
    font-size: 14px;
    background: #007269;
    font-weight: 500;
    margin-right: 20px;
    letter-spacing: .9px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: .2s ease;
}

.ask-qstn-choice a:hover {
    box-shadow: 0px 0px 20px 1px #0072698c;
}

.ask-qstn-choice a span img {
    width: 20px;
    margin: -4px 10px 0px 0px;
}

.ask-qstn-title {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #183c7d !important;
    text-align: center !important;
    margin-bottom: 15px !important;
}

.ask-qstn-form label i {
    top: 11px;
    left: 10px;
}

.ask-qstn-form input.ask-qstn-input {
    padding: 10px 20px 10px 30px !important;
}

.ask-qstn-form .nice-select {
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}

.ask-qstn-form .gender-select .nice-select:before {
    font-family: Font Awesome\ 5 Pro;
    content: "\f226" !important;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 16px;
    top: 0;
    z-index: 10;
}

.ask-qstn-form .profession-select .nice-select:before {
    font-family: Font Awesome\ 5 Pro;
    content: "\f0f2" !important;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 16px;
    top: 0;
    z-index: 10;
}

.check-p0 {
    padding: 0px !important;
}

.ask-qstn-chk-label {
    float: none !important;
    color: #666 !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    -webkit-appearance: none;
    font-family: inherit;
    letter-spacing: .5px;
}

.check-under-input textarea {
    width: 100%;
    height: 50px;
    padding: 20px 20px;
    margin: 5px 0px 20px 0px;
    transition: .5s ease;
    overflow: hidden;
}

.medical-details-checkbox-list {
    text-align: left;
    width: 100%;
    margin: 15px 0px 0px 0px;
}

.ask-qstn-form-title {
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    border-bottom: 1px solid #d0d0d047;
    color: #3aaced;
    padding: 10px 0px;
    letter-spacing: .5px;
    text-align: left;
    margin: 20px 0px;
}

.mt0 {
    margin-top: 0px;
}

.ask-qstn-close {
    font-size: 20px;
    font-weight: 500;
    float: right;
    color: #afafaf;
    cursor: pointer;
}


@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    }

    50% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    100% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
    }
}

.md-radio {
    margin: 5px 0;
    display: inline-block;
}

.md-radio.md-radio-inline {
    display: inline-block;
}

.md-radio input[type="radio"] {
    display: none;
}

.md-radio input[type="radio"]:checked+label:before {
    border-color: #337ab7;
    animation: ripple 0.2s linear forwards;
}

.md-radio input[type="radio"]:checked+label:after {
    transform: scale(1);
}

.md-radio label {
    display: inline-block;
    height: auto;
    position: relative;
    padding: 5px 15px 0px 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
}

.md-radio label:before,
.md-radio label:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all .3s ease;
    transition-property: transform, border-color;
}

.md-radio label:before {
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid rgba(0, 0, 0, 0.54);
}

.md-radio label:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    transform: scale(0);
    background: #337ab7;
}

.yes-no-btns {
    display: inline-block;
    float: right;
    margin-top: -10px;
}

.pointer {
    cursor: pointer;
}

.rply-clse-btn {
    margin-top: 30px !important;
    background: #ff6464;
    float: right !important;
}

/* AUTH STARTS HERE */

.auth-img-sec {
    position: relative;
    background: url("../images/custom/auth-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    text-align: left;
    width: 29%;
    float: left;
}

.auth-form-main-sec {
    position: relative;
    width: 71%;
    float: left;
}

.auth-form-sec {
    background: #fbfbfb;
    height: 100vh;
}

.plr0 {
    padding-left: 0px;
    padding-right: 0px;
}

img.auth-logo {
    width: 100%;
    height: auto;
    margin: 20px 0px;
    text-align: left;
}

.auth-content-sec h3 {
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    color: #f9f9f9;
    line-height: 38px;
    margin-bottom: 10px;
    letter-spacing: .5px;
}

.auth-content-sec p {
    font-size: 14px;
    font-weight: 400;
    color: #f9f9f9;
    line-height: 18px;
    font-style: italic;
    letter-spacing: -.015em;
    margin: 10px 0px;
}

.auth-content-sec {
    position: absolute;
    width: 80%;
    bottom: 30px;
}

.login-main-sec {
    width: 50%;
    padding: 20px 40px;
    position: absolute;
    left: 25%;
    top: 15%;
    border-radius: 5px;
    margin-bottom: 0px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px #e0e0e0;
}

.signup-main-sec {
    width: 50%;
    padding: 20px 40px;
    position: absolute;
    left: 25%;
    top: 12%;
    border-radius: 5px;
    margin-bottom: 0px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px #e0e0e0;
}

.auth-top-sec {
    float: right;
    margin: 40px 100px 20px 0px;
}

span.auth-signup-btn {
    font-size: 15px;
    font-weight: 100;
    color: #7d7676;
}

span.auth-signin-btn {
    font-size: 15px;
    font-weight: 100;
    color: #7d7676;
}

span.auth-signup-btn a,
span.auth-signin-btn a {
    display: inline-block;
    font-size: 12px;
    color: #16a085;
    font-weight: 600;
    background: #ffffff;
    height: 34px;
    line-height: 34px;
    padding: 0px 28px;
    border-radius: 30px;
    border: 1px dotted #e4e4e4;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 20px;
}

.auth-social-ul li {
    display: inline-block;
    width: auto;
}

.auth-social-ul li img {
    width: 50px;
    /*background: #ffffffc7;*/
    /*background: #0000003d;*/
    padding: 12px;
    border-radius: 50px;
}

.fb-bg-clr {
    background: #385c8e;
}

.twitter-bg-clr {
    background: #03a9f4;
}

.gplus-bg-clr {
    background: #d95946;
}

/* AUTH ENDS HERE */


/* MY PROFILE STARTS HERE */

.nice-select {
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}

/*DATE-PICKER CSS STARTS HERE*/

.dtp div.dtp-date,
.dtp div.dtp-time {
    background: #007269 !important;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
    background: #007269 !important;
    color: #fff;
    text-align: center;
    padding: 0.3em;
}

.dtp div.dtp-actual-year {
    font-size: 1.5em;
    color: #fff !important;
}

.dtp .p10>a {
    color: #fff !important;
    text-decoration: none;
}

.dtp table.dtp-picker-days tr>td>a.selected {
    background: #007269 !important;
    color: #fff;
}

button.dtp-btn-clear.btn.btn-flat.btn-sm {
    background-color: #fff !important;
}

button.dtp-btn-cancel.btn.btn-flat.btn-sm {
    background-color: #fff !important;
}

button.dtp-btn-ok.btn.btn-flat.btn-sm {
    background-color: #fff !important;
}

button.dtp-btn-clear.btn.btn-flat.btn-sm:hover {
    background-color: #007269 !important;
    color: #fff;
}

button.dtp-btn-cancel.btn.btn-flat.btn-sm:hover {
    background-color: #007269 !important;
    color: #fff;
}

button.dtp-btn-ok.btn.btn-flat.btn-sm:hover {
    background-color: #007269 !important;
    color: #fff;
}

.year-picker-item.active {
    color: #007269 !important;
    font-weight: bold;
}

button.dtp-btn-clear.btn.btn-flat.btn-sm,
button.dtp-btn-cancel.btn.btn-flat.btn-sm,
button.dtp-btn-ok.btn.btn-flat.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
    border: none;
    height: 30px;
    margin-left: 5px;
    color: #424242;
}

button.dtp-btn-clear.btn.btn-flat.btn-sm:after,
button.dtp-btn-cancel.btn.btn-flat.btn-sm:after,
button.dtp-btn-ok.btn.btn-flat.btn-sm:after {
    content: none;
}

table.table.dtp-picker-days {
    width: 100%;
}

.dtp table.dtp-picker-days tr>td {
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
    padding: 0.9em 0.3em;
    vertical-align: top;
}

/*DATE-PICKER CSS ENDS HERE*/


.tabs-left {
    margin-top: 3rem;
}

.nav-tabs {
    float: left;
    border-bottom: 0;
}

.nav-tabs li {
    float: none;
    margin: 0;
}

.nav-tabs li a {
    margin-right: 0;
    border: 0;
    border-radius: 0;
    background-color: #333;
}

.nav-tabs li a:hover {
    background-color: #444;
}

.nav-tabs .glyphicon {
    color: #fff;
}

.nav-tabs .active .glyphicon {
    color: #333;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: 0;
}

/*
.tab-content {
    margin-left: 45px;
}

.tab-content .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
}

.tab-content .active {
    display: block;
}
*/

.list-group {
    width: 100%;
}

.list-group .list-group-item {
    height: 50px;
}

.list-group .list-group-item h4,
.list-group .list-group-item span {
    line-height: 11px;
}

/* MAIN TAB STARTS HERE */

.main-tab-sec input[type=radio] {
    display: none !important;
}

#tab-1:checked~.custom-tab label:nth-child(1),
#tab-2:checked~.custom-tab label:nth-child(2),
#tab-3:checked~.custom-tab label:nth-child(3),
#tab-4:checked~.custom-tab label:nth-child(4),
#tab-5:checked~.custom-tab label:nth-child(5) {
    background-color: #16a085;
    color: #fff;
    box-shadow: none;
}

.custom-tab-content>div {
    display: none;
}

#tab-1:checked~.custom-tab-content div:nth-child(1),
#tab-2:checked~.custom-tab-content div:nth-child(2),
#tab-3:checked~.custom-tab-content div:nth-child(3),
#tab-4:checked~.custom-tab-content div:nth-child(4),
#tab-5:checked~.custom-tab-content div:nth-child(5) {
    display: block;
}

.main-tab-sec {
    margin: 0 auto;
    /*  max-width: 800px;*/
    /*  border: 1px solid rgba(0, 0, 0, 0.2);*/
}

.custom-tab {
    overflow: hidden;
}

.custom-tab label {
    font-size: 16px;
    cursor: pointer;
    float: left;
    color: #16a085;
    width: 20%;
    text-align: center;
    padding: 15px 0;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    background: #fbfbfb;
    /* box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2); */
    user-select: none;
    -webkit-user-select: none;
}

.custom-tab-content {
    background-color: transparent;
    min-height: 250px;
}

.custom-tab-content>div {
    padding: 30px 0px;
    line-height: 1.5;
    font-size: 17px;
}




.tab-container {
    background: #344152;
    padding: 0;
    border: solid 1px #444;
    height: 440px;
    overflow: hidden;
    width: 100%;
}

.nav-tabs.nav-tabs-left {
    float: left;
    border-right: 0;
}

.nav-tabs.nav-tabs-left li a {
    margin-right: 0;
    border-radius: 0;
    border-right: none;
}

.nav-tabs.nav-tabs-left {
    border-bottom: 0;
    max-width: 33%;
}

.nav-tabs.nav-tabs-left li {
    float: none;
    margin: 0;
    text-align: left;
}

.nav-tabs.nav-tabs-left li a,
.nav-tabs.nav-tabs-right li a {
    background-color: #344152;
    color: #fff;
}

.nav-tabs.nav-tabs-left li a:hover,
.nav-tabs.nav-tabs-right li a:hover {
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    color: #444;
}

.nav-tabs.nav-tabs-left li.active a,
.nav-tabs.nav-tabs-right li.active a,
.nav-tabs.nav-tabs-left li.active .glyphicon,
.nav-tabs.nav-tabs-right li.active .glyphicon {
    color: #333;
}

.nav-tabs.nav-tabs-left li.active a:hover,
.nav-tabs.nav-tabs-right li.active a:hover,
.nav-tabs.nav-tabs-left li.active .glyphicon:hover,
.nav-tabs.nav-tabs-right li.active .glyphicon:hover {
    color: #444;
}

.nav-tabs.nav-tabs-left li.active a,
.nav-tabs.nav-tabs-right li.active a,
.nav-tabs.nav-tabs-left li.active a:hover,
.nav-tabs.nav-tabs-right li.active a:hover,
.nav-tabs.nav-tabs-left li.active a:focus,
.nav-tabs.nav-tabs-right li.active a:focus {
    background-color: #fff;
}

.nav-tabs.nav-tabs-left li:not(:last-of-type),
.nav-tabs.nav-tabs-right li:not(:last-of-type) {
    margin-bottom: -1px;
}

/*
.tab-content {
    background: #fff;
    height: 440px;
    overflow-y: scroll;
}

.tab-content.side-tabs .tab-pane {
    display: none;
    padding: 20px;
    overflow-y: auto;
}

.tab-content.side-tabs-left {
    margin-left: 45px;
}

.tab-content.side-tabs-left .tab-pane {
    border-radius: 0;
}

.tab-content.side-tabs-left .tab-pane.active {
    display: block;
    background-color: #fff;
    border-color: #fff;
    color: #333;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.tab-content.side-tabs-right {
    margin-right: 45px;
}

.tab-content.side-tabs-right .tab-pane {
    border-radius: 4px 0 0 4px;
}

main > .row:not(:first-of-type) {
    margin-top: 1.1em;
}

col.time,
col.repname {
    width: 12em;
}

col.did {
    width: 9em;
}
*/

.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
}


/* MAIN TAB ENDS HERE */

ul.side-bar-tab-ul {
    border: 1px solid #ececec;
}

li.sidebar-tab-li {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    /*    padding: 12px 15px;*/
    border-bottom: 1px solid #ececec;
    cursor: pointer;
    transition: .2s ease;
}

li.sidebar-tab-li:hover {
    background: #ececec;
    font-weight: 600;
    border-left: 3px solid #3aaced;
}

.active-li {
    background: #ececec;
    font-weight: 600 !important;
    border-left: 3px solid #3aaced;
}

li.sidebar-tab-li a {
    display: block;
    width: 100%;
    padding: 12px 15px;
}

.myprofile-card-img {
    height: 150px !important;
    object-fit: contain !important;
}

.mypro-doc-card .geodir-category-content-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px dotted #ccc;
}

.mypro-doc-card .geodir-category-location a {
    float: left;
    text-align: left;
    color: #999;
    font-weight: 500;
    text-transform: none;
    font-size: 14px;
    margin-bottom: 5px;
}

.mypro-doc-card {
    margin-bottom: 30px;
}

.mypro-phar-img {
    height: 150px !important;
}

.mypro-card-list .card-post-content h3 {
    float: left;
    width: 100%;
    text-align: left;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    padding: 0px;
    border-bottom: 0px solid #eee;
    margin-bottom: 0px;
}

.mypro-card-list .card-post-content h3:before {
    content: "";
}

.mypro-card-list .card-post-content .post-opt {
    border-top: 1px solid #eee;
    width: 100%;
    padding: 8px 0;
    margin: 10px 0 0px;
}

.mypro-card-list .card-post-content h3 a {
    color: #414146;
}

.mypro-card-list .card-post-content h3 a:hover {
    color: #16a085;
}

/* RIBBON STARTS HERE */

.custom-ribbon {
    padding: 0 0 10px 0;
    position: absolute;
    left: 15px;
    top: -0.25em;
    width: 40px;
    z-index: 9;
    cursor: pointer;
}

.custom-ribbon .bookmark-ribbon {
    background: #bb3a34;
    background: linear-gradient(#F8463F 0%, #e01e16 100%);
    color: #fff;
    padding: 5px 0;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.custom-ribbon .bookmark-ribbon:after {
    border-left: 20px solid #e01e16;
    border-right: 20px solid #e01e16;
    border-bottom: 15px solid transparent;
    bottom: -5px;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

/* RIBBON ENDS HERE */

.review-box {
    padding: 0px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    transition: .3s ease;
}

.review-box:hover {
    box-shadow: 0px 0px 10px 1px #a9a9a9;
}

.review-box .review-tit {
    font-size: 16px;
    font-weight: 500;
    color: #16a085;
    text-align: left;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.review-box .review-txt {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 0px;
    font-weight: 500;
    text-align: left;
    color: #404040;
    width: 80%;
    display: inline-block;
    float: left;
}

.review-sec {
    display: inline-block;
    background: #f9f9f9;
    padding: 10px 15px;
    text-align: left;
}

.review-box .review-btmsec {
    padding-top: 8px;
    margin-top: 5px;
    border-top: 1px solid #eee;
    text-align: left;
    width: 80%;
    float: left;
}

.review-sec .datesec {
    position: relative;
    width: 20%;
    display: inline-block;
    text-align: right;
}

.review-date {
    display: block;
    font-size: 14px;
    text-align: right;
}

.review-date i {
    color: #f9b90f;
}

.review-date span {
    color: #424242;
    padding-left: 10px;
    font-weight: 500;
}

.review-sec-name {
    display: inline-block;
    background: #3aaced;
    color: #fff;
    padding: 3px 15px;
    font-size: 13px;
    font-weight: 500;
    border: 1px dashed #3aaced;
    border-radius: 30px;
    box-shadow: 0px 0px 3px 0px #9e9e9e8a;
    line-height: normal;
    letter-spacing: .5px;
    text-align: center;
}

.review-forum-btmsec {
    padding-top: 10px;
    margin-top: 0px;
    border-top: 1px solid #eee;
}

p.review-forum-desc {
    font-size: 14px;
    color: #878C9F;
    text-align: left;
}

/*
.review-forum-btmsec .video-det-ul {
    text-align: left;
    display: block;
    padding: 0px !important;
}
*/
.mypro-card-list .post-opt li {
    margin-right: 12px;
}

.my-pro-phnno {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin: 5px 0px;
}

.mypro-bookmark-icon {
    font-size: 24px;
    float: left;
    color: #f9b90f;
    margin-left: 10px;
    margin-top: 10px;
}

.mypro-card {
    background: #007269;
}

.mypro-logout-btn {
    background: #0a9698;
}

/* MY PROFILE ENDS HERE */
.show-in-ipad {
    display: none;
    margin-top: 40px;
}

.mbl-flipbook img {
    width: 100%;
    height: 450px;
}

.flip-show-mbl {
    display: none;
}

.select2-show-mbl {
    display: none;
}

.search-show-mbl {
    margin-top: 0px;
    display: none;
}

.menu-prof-icon img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #5dceb0;
}

.menu-prof-icon .menu-prof-name {
    font-size: 14px;
    color: #fff;
    padding-left: 10px;
    padding-right: 20px;
}

.show-reg-form {
    margin-right: 10px;
}

.logout-icon-clr {
    color: #f9b90f !important;
}

/* SELECT2 STARTS HERE */

.select2-container--default .select2-selection--single .select2-selection__rendered {
    border: 1px solid #808080;
    border-radius: 4px;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

/*span.select2.select2-container.select2-container--default {
    border: 1px solid #808080;
    border-radius: 4px;
}*/
/* .neww span.select2.select2-container.select2-container--default{
    border: 1px solid #808080;
    border-radius: 4px;
} */
span.select2-selection.select2-selection--multiple {
    border: 1px solid #E3E3E3 !important;
    border-radius: 30px !important;
    background: transparent !important;
    color: #2c2c2c !important;
    margin-bottom: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    border: 1px solid rgba(64, 69, 87, 0.19) !important;
}

.select2-container .select2-selection--multiple {
    min-height: 20px !important;
}

input.select2-search__field {
    margin-bottom: 5px;
}

ul#select2-vsd1-results {
    text-align: left !imkportant;
}

span.select2-results {
    text-align: left;
}

.form-group.text-left {
    text-align: left;
}

strong.select2-results__group {
    color: #3aaced;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

/* SELECT2 ENDS HERE*/


/* CATEGORIES STARTS HERE */

.listing-categories-card {
    width: 20%;
    float: left;
    padding: 0 10px;
    transition: all .5s ease;
}

.listing-categories-card .card-post-img.fl-wrap.geodir-category-img {
    filter: brightness(70%);
    transition: all .5s linear;
}

.listing-categories-card .card-post-img.fl-wrap.geodir-category-img:hover {
    filter: brightness(35%);
}

.listing-categories-card .card-post-img img {
    float: left;
    width: 100%;
    height: 140px;
    object-fit: cover;
}

a.list-category-name {
    position: absolute;
    bottom: 10px;
    word-wrap: break-word;
    padding: 0 5px 7px 10px;
    width: 100%;
    color: #fff;
    left: 0px;
    z-index: 9;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}

.list-cat-sec {
    display: block;
    float: left;
}

h3.list-cat-tit {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 30px 10px 20px 10px;
}

a.list-cat-view {
    transition: all .5s ease-out;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: 5%;
    background: #fbfbfb;
    box-shadow: 0 0 4px 0 hsla(240, 6%, 50%, .5);
    z-index: 9;
    line-height: 34px;
    color: #3aaced;
    display: none;
}

.listing-categories-card:hover a.list-cat-view {
    display: block;
    transition: all .5s ease;
}

.list-videos .listing-categories-card .card-post {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 30px;
}

/* CATEGORIES ENDS HERE */

.mbl-menubar {
    display: none;
}

/* FILE UPLOAD CSS STARTS HERE */

.fileuploadbg {
    background: url("../images/custom/doctor2.jpg");
    background-size: 100% 100%;
}

.file-upload {
    position: relative;
    width: 150px;
    height: 140px;
    border-radius: 6px;
    margin: 0 auto;
    border: 1px solid #eee;
    background: #F7F9FB;
}


.file-upload-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #fff;
    /* background: #cacaca; */
    background: #0000006b;
    border: none;
    padding: 6px;
    border-radius: 0px;
    /* border-bottom: 4px solid #15824B; */
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    outline: none;
    opacity: 0;
    cursor: pointer;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px !important;
}

.image-upload-wrap {
    /*margin-top: 20px;*/
    /*border: 1px solid #bfbfbf;*/
    position: relative;
    height: 140px;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 150px;
    height: 140px;
    width: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    border-radius: 6px;
    /* padding: 20px; */
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.w100 {
    width: 100%;
}

.activemenu img.menu-icon {
    filter: brightness(0.30);
    width: 22px;
    margin-bottom: 4px;
}

.activemenu p.menu-name {
    font-size: 13px;
    color: #292929;
    margin-bottom: 0px;
}

/* FILE UPLOAD CSS ENDS HERE */