@media (min-width: 1400px) {

    /* AUTH STARTS HERE */

    .login-main-sec {
        left: 25%;
        top: 23%;
    }

    .signup-main-sec {
        left: 25%;
        top: 20%;
    }

    /* AUTH ENDS HERE */

}

@media (max-width: 1300px) {

    /* AUTH STARTS HERE */

    .login-main-sec {
        left: 25%;
        top: 22%;
    }

    .signup-main-sec {
        left: 25%;
        top: 18%;
    }

    .auth-img-sec {
        width: 30%;
    }

    .auth-form-main-sec {
        width: 70%;
    }

    /* AUTH ENDS HERE */

    /* FLIPBOOK DETAIL STARTS HERE */

    .author-details-widget a.details .name {
        font-size: 16px;
        color: #414146;
    }

    /* FLIPBOOK DETAIL ENDS HERE */

    /* LIST-VIDEOS STARTS HERE */

    .listing-videos-card {
        padding: 0 7px;
    }

    /* LIST-VIDEOS STARTS HERE */

    /* VIDEO DETAIL STARTS HERE */

    .video-det-links {
        display: inline-block;
        float: right;
        margin-right: 0px;
    }

    /* VIDEO DETAIL ENDS HERE */


    /* MY PROFILE STARTS HERE */

    .mypro-card-list .post-opt li {
        margin-right: 7px;
    }

    /* MY PROFILE ENDS HERE */
}

@media (max-width: 1100px) {

    /* AUTH STARTS HERE */
    .auth-img-sec {
        width: 40%;
    }

    .auth-form-main-sec {
        width: 60%;
    }

    .login-main-sec {
        width: 75%;
    }

    .signup-main-sec {
        width: 75%;
    }

    .login-main-sec {
        left: 13%;
        top: 20%;
    }

    .signup-main-sec {
        left: 13%;
        top: 18%;
    }

    span.auth-signup-btn {
        font-size: 20px;
        font-weight: 100;
        color: #7d7676;
    }

    span.auth-signin-btn {
        font-size: 20px;
        font-weight: 100;
        color: #7d7676;
    }

    span.auth-signup-btn a,
    span.auth-signin-btn a {
        font-size: 20px;
        height: 45px;
        line-height: 45px;
    }

    /* AUTH ENDS HERE */

    /* LIST-BLOG STARTS HERE */

    .breadcrumbs.fl-wrap.splitup-icon a {
        font-size: 13px;
        color: #414146;
        margin-right: 10px;
        padding-right: 10px;
    }

    .box-widget-wrap.fl-wrap {
        margin-top: 40px;
    }

    .box-image-widget-details h4 {
        padding-bottom: 6px;
        color: #666;
        font-size: 18px;
    }

    .box-image-widget-media a {
        font-size: 16px;
    }

    .list-blogs .card-post-content h3 a {
        color: #414146;
        font-size: 15px;
    }

    .list-blogs .card-post-content p {
        font-size: 13px;
        line-height: 21px;
    }

    .list-blogs .card-post-content h3 {
        font-size: 18px;
        padding: 0px 0px 12px 0px;
        margin-bottom: 10px;
    }

    .card-post-content .post-opt {
        padding: 12px 0;
        margin: 15px 0 5px;
    }

    .list-blogs .box-image-widget-details p {
        line-height: 15px;
        padding-bottom: 5px;
        font-size: 16px;
    }

    .list-blogs .box-widget.widget-posts .widget-posts-date {
        width: auto;
        margin-right: 10px;
        font-size: 16px;
    }

    .list-blogs .box-image-widget-media img {
        width: 100%;
        height: 75px;
        object-fit: cover;
    }

    .tags-stylwrap.sb-tags a {
        color: #fff;
        margin-bottom: 6px;
        padding: 7px 17px;
        font-size: 15px;
    }

    .list-blogs .banner-wdget-content {
        padding: 40px 25px 40px;
        z-index: 10;
    }

    .list-blogs .banner-wdget-content h4 {
        font-size: 26px;
    }

    .banner-wdget-content .countdown-item span {
        font-size: 26px;
        font-weight: 700;
        font-style: italic;
    }

    .banner-wdget-content .countdown-item p {
        font-size: 20px;
        color: #fff;
    }

    .subfooter-nav {
        float: right;
        margin-right: 0px;
    }

    .copyright {
        font-size: 16px;
    }

    .subfooter-nav li a {
        font-size: 16px;
    }

    .sidebar-flip-img {
        height: 200px;
        object-fit: cover;
    }

    .list-blogs .accordion a.toggle {
        padding: 10px 50px 11px 20px;
        font-size: 16px;
    }

    /* LIST-BLOG ENDS HERE */

    /* BLOG DETAIL STARTS HERE */

    .author-details-widget a.img img {
        width: 70px;
        height: 70px;
    }

    .author-details-widget a.details .spantext {
        font-size: 13px;
    }

    .list-single-hero-rating {
        float: right;
        margin-top: 20px;
    }

    .list-single-hero-rating .score {
        float: left;
        text-align: right;
        padding-right: 15px;
        padding-left: 0px;
    }

    .list-single-hero-links {
        float: right;
    }

    .lisd-link {
        padding: 10px 15px;
    }

    .hidden-in-ipad {
        display: none;
    }

    .show-in-ipad {
        display: block;
        margin-top: 40px;
    }

    /* BLOG DETAIL STARTS HERE */

    /* LIST-VIDEOS STARTS HERE */

    .listing-videos-card {
        padding: 0 10px;
        width: 50%;
    }

    .listing-videos-card img {
        height: 225px;
        object-fit: cover;
    }

    img.video-play-btn {
        height: auto;
    }

    .list-videos .card-post-content h3 {
        font-size: 18px;
        min-height: auto;
    }

    .list-videos .card-post-content p {
        font-size: 16px;
    }

    .post-opt li span,
    .post-opt li a {
        color: #999;
        font-weight: 500;
        font-size: 15px;
    }

    /* LIST-VIDEOS ENDS HERE */

    /* VIDEO DETAIL STARTS HERE */

    .video-det-links {
        display: inline-block;
        float: right;
        margin-right: 0px;
    }

    /* VIDEO DETAIL ENDS HERE */

    /* MY PROFILE STARTS HERE */

    .dasboard-sidebar-item h3 {
        color: #fff;
        font-size: 22px;
    }

    .dasboard-sidebar-item h3 span {
        font-size: 12px;
    }

    .my-pro-phnno {
        font-size: 16px;
    }

    .user-stats li {
        font-size: 16px;
    }

    .user-stats li span {
        font-size: 14px;
    }

    .mypro-logout-btn {
        font-size: 14px;
    }

    .dasboard-sidebar-content:before {
        content: "";
    }

    /* MY PROFILE STARTS HERE */
}

@media (max-width: 800px) {

    /* AUTH STARTS HERE */
    .auth-img-sec {
        display: none;
    }

    .auth-form-main-sec {
        width: 100%;
    }

    .login-main-sec {
        left: 13%;
        top: 27%;
    }

    .signup-main-sec {
        left: 13%;
        top: 25%;
    }

    /* AUTH ENDS HERE */

    /* LIST-BLOG STARTS HERE */

    .article-masonry {
        width: 50%;
    }

    .breadcrumbs.fl-wrap.splitup-icon a {
        font-size: 16px;
        color: #414146;
        margin-right: 15px;
        margin-bottom: 10px;
        padding-right: 15px;
    }

    .list-blogs .card-post-content h3 a {
        color: #414146;
        font-size: 18px;
    }

    .list-blogs .card-post-content p {
        font-size: 16px;
        line-height: 21px;
    }

    .post-opt li span,
    .post-opt li a {
        color: #999;
        font-weight: 500;
        font-size: 14px;
    }

    .box-image-widget-details h4 {
        padding-bottom: 6px;
        color: #666;
        font-size: 16px;
    }

    .list-blogs .box-image-widget-details p {
        line-height: 15px;
        padding-bottom: 5px;
        font-size: 16px;
    }

    .list-blogs .box-widget.widget-posts .widget-posts-date {
        width: auto;
        margin-right: 10px;
        font-size: 15px;
    }

    .copyright {
        float: none;
        font-size: 16px;
    }

    .subfooter-nav {
        float: none;
        text-align: center;
        margin-right: 0px;
    }

    .subfooter-nav li {
        float: none;
        display: inline-block;
        margin-right: 20px;
        margin-top: 5px;
    }

    .sub-footer {
        background: #007269;
        padding: 25px 0 25px;
        z-index: 3;
    }

    .box-image-widget-media a {
        font-size: 14px;
    }

    .tags-stylwrap.sb-tags a {
        color: #fff;
        margin-bottom: 6px;
        padding: 8px 15px;
        font-size: 13px;
    }

    .list-blogs .banner-wdget-content h4 {
        font-size: 22px;
    }

    .banner-wdget-content .countdown-item span {
        font-size: 22px;
        font-weight: 700;
        font-style: italic;
    }

    .banner-wdget-content .countdown-item p {
        font-size: 16px;
        color: #fff;
    }

    .list-blogs .accordion a.toggle {
        padding: 10px 50px 11px 20px;
        font-size: 14px;
    }

    /* LIST-BLOG ENDS HERE */

    /* BLOG DETAIL STARTS HERE */

    .list-single-hero-title h2 {
        font-size: 30px;
    }

    .list-single-hero-rating .rate-class-name span {
        padding: 20px;
        font-size: 20px;
    }

    .lisd-link {
        padding: 10px 9px;
        margin-right: 5px;
        font-size: 10px;
    }

    .blog-details .fixed-scroll-column {
        left: -25px;
    }

    .review-comments-avatar {
        top: -32px;
        left: 25px;
        z-index: 30;
        width: 50px;
        height: 50px;
    }

    .blog-details .tags-stylwrap a {
        color: #414146;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 0px;
        padding: 13px 15px;
    }

    /* BLOG DETAIL ENDS HERE */

    /* FLIPBOOK DETAIL STARTS HERE */

    h3.video-det-tit {
        font-size: 18px;
    }

    .video-det-ul li {
        font-size: 14px !important;
        margin-right: 10px;
    }

    .video-det-ul li a {
        padding-left: 5px;
    }

    .video-det-links {
        margin-right: 10px;
    }

    .video-det-links .lisd-link {
        margin-left: 0px;
    }

    .video-like-count span.likes-count {
        padding: 8px;
        font-size: 16px;
    }

    .video-like-count img {
        width: 20px;
        margin-right: 10px;
    }

    .article-masonry1 {
        width: 95%;
        margin: auto;
    }

    /* FLIPBOOK DETAIL ENDS HERE */

    /* LIST-VIDEOS STARTS HERE */

    .list-videos .card-post-content h3 {
        font-size: 16px;
        min-height: 65px;
    }

    .list-videos .card-post-content p {
        font-size: 14px;
    }

    /* LIST-VIDEOS ENDS HERE */

    /* LIST FORUMS STARTS HERE */

    .custom-form textarea {
        height: 150px;
    }

    /* LIST FORUMS STARTS HERE */

    /* MY PROFILE STARTS HERE */

    .dasboard-avatar {
        width: 40%;
        float: left;
    }

    .dasboard-sidebar-item {
        width: 60%;
    }

    .ed-btn {
        margin-left: 0%;
    }

    .mypro-card-list .fright {
        float: left !important;
    }

    .geodir-category-content h3 a {
        color: #46A5DC;
        font-size: 14px;
    }

    .mypro-doc-card .geodir-category-location a {
        font-size: 11px;
    }

    .mypro-card-list .card-post-content h3 {
        font-size: 14px;
    }

    .geodir-category-opt .rate-class-name span {
        padding: 8px;
        font-size: 16px;
    }

    .custom-tab label {
        font-size: 15px;
    }

    /* MY PROFILE ENDS HERE */

    /* CATEGORIES STARTS HERE */

    .listing-categories-card {
        width: 25%;
        float: left;
        padding: 0 10px;
        transition: all .5s ease;
    }

    .listing-categories-card .card-post-img img {
        float: left;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    /* CATEGORIES ENDS HERE */
}

@media (max-width: 414px) {
    
    .mbl-menubar {
        display: block;
    }
    .auth-page-bg {
        background: #fbfbfb;
    }
    /* AUTH STARTS HERE */

    .login-main-sec {
        width: 95%;
    }

    .signup-main-sec {
        width: 95%;
    }

    .login-main-sec {
        left: 3%;
        top: 20%;
    }

    .signup-main-sec {
        left: 3%;
        top: 18%;
    }

    .auth-top-sec {
        float: none;
        margin: 0px;
        padding: 40px 0px 20px 0px;
        margin-top: 50px;
    }

    span.auth-signup-btn {
        font-size: 16px;
        font-weight: 100;
        color: #7d7676;
    }

    span.auth-signin-btn {
        font-size: 16px;
        font-weight: 100;
        color: #7d7676;
    }

    span.auth-signup-btn a,
    span.auth-signin-btn a {
        font-size: 14px;
        height: 36px;
        line-height: 36px;
    }

    /* AUTH ENDS HERE */

    /* LIST-BLOG STARTS HERE */

    .logo-holder {
        margin-left: 10px;
        width: 45%;
    }

    .logo-holder img {
        height: auto;
        width: 85%;
        float: left;
    }

    .nav-button-wrap {
        top: 12px;
        right: 10px;
        float: right;
    }

    .top-banner-sec h2 {
        font-size: 32px;
    }

    .flat-title-wrap {
        padding: 20px 0;
    }

    .breadcrumbs.fl-wrap.splitup-icon a {
        font-size: 12px;
        color: #414146;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-right: 10px;
    }

    .article-masonry {
        width: 100%;
    }

    section.middle-padding {
        padding: 30px 0;
    }

    section.banner-sec {
        padding: 0px 0;
    }

    .list-blogs .card-post-content p {
        font-size: 14px;
        line-height: 21px;
    }

    .list-blogs .card-post-content h3 a {
        color: #414146;
        font-size: 15px;
    }

    .box-image-widget-details h4 {
        padding-bottom: 6px;
        color: #666;
        font-size: 14px;
    }

    .list-blogs .box-image-widget-details p {
        line-height: 15px;
        padding-bottom: 5px;
        font-size: 12px;
    }

    .list-blogs .box-widget.widget-posts .widget-posts-date {
        width: auto;
        margin-right: 10px;
        font-size: 12px;
    }

    .list-blogs .box-widget.widget-posts .widget-posts-date {
        width: auto;
        margin-right: 15px;
        font-size: 12px;
    }

    .list-blogs .box-image-widget-media img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .box-image-widget-media a {
        font-size: 12px;
    }

    .tags-stylwrap.sb-tags a {
        color: #fff;
        margin-bottom: 6px;
        padding: 7px 17px;
        font-size: 12px;
    }

    .list-blogs .banner-wdget-content h4 {
        font-size: 22px;
    }

    .banner-wdget-content .countdown-item span {
        font-size: 22px;
        font-weight: 700;
        font-style: italic;
    }

    .banner-wdget-content .countdown-item p {
        font-size: 12px;
        color: #fff;
    }

    .sidebar-flip-img {
        height: auto;
        object-fit: contain;
    }

    .sidebar-flip-txt {
        font-size: 14px;
    }

    #subscribe {
        top: 8px;
    }

    .copyright {
        float: none;
        font-size: 12px;
    }

    .subfooter-nav li a {
        font-size: 12px;
    }

    .sub-footer {
        background: #007269;
        padding: 20px 0 15px;
        z-index: 3;
    }

    .hidden-in-ipad {
        display: block;
    }

    .show-in-ipad {
        display: none;
        margin-top: 0px;
    }

    /* LIST-BLOG ENDS HERE */

    /* BLOG DETAIL STARTS HERE */

    .list-single-hero-title h2 {
        font-size: 28px;
    }

    .list-single-header-contacts li {
        width: auto;
    }

    .list-single-hero-rating {
        float: left;
        margin-top: 20px;
    }

    .list-single-hero-rating .rate-class-name span {
        padding: 12px;
        font-size: 16px;
    }

    .blog-details .list-single-header-contacts li i {
        padding-right: 10px;
        font-size: 18px;
        color: #f9b90f !important;
    }

    .blog-details .list-single-header-contacts li a {
        color: #fff;
        font-size: 18px;
    }

    .blog-details .list-single-hero-rating .score {
        margin-top: 10px;
        font-size: 16px;
    }

    .list-single-hero-links {
        float: left;
    }

    .lisd-link {
        padding: 10px 12px;
        margin-right: 10px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .breadcrumbs-hero-buttom {
        margin-top: 25px;
        padding-top: 5px;
        border-top: 1px solid rgba(255, 255, 255, 0.21);
    }

    .breadcrumbs-hero-buttom .breadcrumbs a,
    .breadcrumbs-hero-buttom .breadcrumbs span {
        float: left;
        padding: 0 20px 0 0;
    }

    .next-form,
    .list-single-hero-price {
        float: right;
        margin-top: 25px;
    }

    .breadcrumbs-hero-buttom .breadcrumbs a:before {
        right: 6px;
    }

    .list-single-hero-price.follow-us {
        width: 100%;
    }

    .list-single-hero-price.follow-us a {
        margin: 0px;
        width: 100%;
    }

    .blog-details .list-single-hero-title {
        padding: 50px 0 30px;
    }

    .fc-button {
        width: 40px;
        height: 40px;
        line-height: 45px;
    }

    .blog-details .fc-button i {
        color: #fff;
        font-size: 16px;
    }

    .blog-details .fixed-scroll-column {
        left: 35px;
    }

    .list-single-main-item {
        padding: 20px 20px;
    }

    .blog-details .blog-content p {
        color: #414146;
        font-size: 16px;
        line-height: 27px;
    }

    .blog-details .list-single-main-item ul {
        padding: 10px 30px;
    }

    .blog-details .list-single-main-item ul li {
        font-size: 16px;
        text-align: left;
        line-height: 27px;
        font-weight: normal;
    }

    .blog-details .tags-stylwrap a {
        color: #414146;
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 0px;
        padding: 10px 12px;
    }

    .search-widget input {
        padding: 0 50px 0 20px;
    }

    .search-widget .search-submit {
        width: 50px;
    }

    /* BLOG DETAIL ENDS HERE */

    /* LIST-FLIPBOOK STARTS HERE */

    .flipbuk-card-img {
        height: 175px !important;
    }

    .to-top {
        bottom: 50px;
        right: 15px;
        width: 35px;
        height: 35px;
        color: #fff;
        line-height: 35px;
    }

    /* LIST-FLIPBOOK ENDS HERE */

    /* FLIPBOOK DETAIL STARTS HERE */

    h3.video-det-tit {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .breadcrumbs-fs .breadcrumbs a,
    .breadcrumbs-fs .breadcrumbs span {
        float: left;
        margin-right: 10px;
        padding-right: 10px;
        color: #878C9F;
        font-size: 12px;
    }

    .video-det-links .lisd-link {
        margin-left: 0px;
        display: block;
        font-size: 14px;
    }

    .video-like-count {
        display: inline-block;
        float: right;
    }

    .video-det-links {
        margin-right: 10px;
        display: block;
        float: none;
        margin: 40px 0px 0px 0px;
    }

    .video-like-count img {
        width: 15px;
        margin-right: 10px;
    }

    .video-like-count span.likes-count {
        padding: 7px;
        font-size: 14px;
    }

    .video-det-ul li a {
        font-size: 13px;
    }

    .video-det-ul li span {
        font-size: 13px;
    }

    .article-masonry1 {
        width: 100%;
        margin: auto;
    }

    /* FLIPBOOK DETAIL ENDS HERE */

    /* LIST-VIDEOS STARTS HERE */

    .listing-videos-card {
        padding: 0 20px;
        width: 100%;
    }

    .listing-videos-card img {
        height: 200px;
        object-fit: cover;
    }

    img.video-play-btn {
        height: auto;
    }

    .list-videos .card-post-content h3 {
        font-size: 16px;
        min-height: auto;
    }

    /* LIST-VIDEOS ENDS HERE */

    /* VIDEO DETAIL STARTS HERE */

    .nopadding {
        padding: 10px !important;
    }

    /* VIDEO DETAIL ENDS HERE */

    /* LIST FORUMS STARTS HERE */

    .ask-qstn-choice a {
        padding: 12px 15px;
        font-size: 12px;
        margin-right: 10px;
    }

    .yes-no-btns {
        display: block;
        float: none;
        margin-top: 2px;
    }

    .check-under-input textarea {
        height: 70px !important;
    }

    /* LIST FORUMS STARTS HERE */

    /* FORUM DETAIL STARTS HERE */

    .add-btm-cmnt-sec .add-comment.custom-form {
        padding: 10px;
    }

    .add-comment .flat-btn.float-btn {
        padding: 0 40px 0 10px;
    }

    .add-comment .flat-btn.float-btn.btn:after {
        content: '';
        width: 30px;
    }

    .add-comment .flat-btn.float-btn.btn i {
        width: 30px;
    }

    /* FORUM DETAIL STARTS HERE */

    /* MY PROFILE STARTS HERE */

    .flat-header.adm-header {
        padding-top: 75px;
    }

    .dasboard-avatar {
        width: 100%;
        float: left;
    }

    .dasboard-breadcrumbs {
        top: -50px;
    }

    .dasboard-sidebar-item {
        width: 100%;
    }

    .user-stats li {
        font-size: 14px;
    }

    .user-stats li span {
        font-size: 13px;
    }

    .mypro-logout-btn {
        font-size: 12px;
    }

    .dasboard-sidebar-item h3 {
        color: #fff;
        font-size: 20px;
    }

    .my-pro-phnno {
        font-size: 14px;
    }

    .custom-tab label {
        font-size: 12px;
        width: 25%;
    }

    ul.side-bar-tab-ul {
        margin-bottom: 30px;
    }

    .geodir-category-content h3 a {
        color: #46A5DC;
        font-size: 16px;
    }

    .mypro-doc-card .geodir-category-location a {
        font-size: 14px;
    }

    .mypro-card-list .card-post-content h3 {
        font-size: 16px;
    }

    .mypro-card-list .post-opt li {
        margin-right: 10px;
    }

    .mypro-card-list .fright {
        float: right !important;
    }

    .review-box .review-tit {
        font-size: 15px;
    }

    .review-box .review-txt {
        font-size: 14px;
        width: 75%;
    }

    .review-sec .datesec {
        width: 25%;
    }

    .content-dis {
        padding-bottom: 0px !important;
    }

    /* MY PROFILE ENDS HERE */
    .flip-show-mbl {
        display: block;
    }

    .flip-hide-mbl {
        display: none;
    }

    .select2-show-mbl {
        display: block;
    }

    .select2-hide-mbl {
        display: none;
    }

    .search-show-mbl {
        display: block;
        margin-top: 0px !important;
    }

    .search-hide-mbl {
        display: none;
    }

    /* CATEGORIES STARTS HERE */

    .listing-categories-card {
        width: 33.3%;
        float: left;
        padding: 0 10px;
        transition: all .5s ease;
    }

    .listing-categories-card .card-post-img img {
        float: left;
        width: 100%;
        height: 125px;
        object-fit: cover;
    }

    /* CATEGORIES ENDS HERE */
}

@media (max-width: 375px) {

    /* AUTH STARTS HERE */
    .login-main-sec {
        width: 95%;
    }

    .signup-main-sec {
        width: 95%;
    }

    .login-main-sec {
        left: 3%;
        top: 20%;
    }

    .signup-main-sec {
        left: 3%;
        top: 20%;
    }

    .auth-top-sec {
        float: none;
        margin: 0px;
        padding: 40px 0px 20px 0px;
        margin-top: 50px;
    }

    span.auth-signup-btn {
        font-size: 14px;
        font-weight: 100;
        color: #7d7676;
    }

    span.auth-signin-btn {
        font-size: 14px;
        font-weight: 100;
        color: #7d7676;
    }

    span.auth-signup-btn a,
    span.auth-signin-btn a {
        font-size: 12px;
        height: 34px;
        line-height: 34px;
    }

    .soc-log a.facebook-log {
        background: #3b5998;
        padding: 0 0 0 80px;
    }

    .soc-log a.google-log {
        background: #ce4635;
        padding: 0 0 0 80px;
    }

    .login-main-sec {
        padding: 15px 25px;
    }

    .signup-main-sec {
        padding: 15px 25px;
    }

    /* AUTH ENDS HERE */

    /* LIST-BLOG STARTS HERE */
    .list-blogs .card-post-content p {
        font-size: 13px;
        line-height: 20px;
    }

    .sidebar-flip-txt {
        font-size: 13px;
        line-height: 20px;
    }

    .copyright {
        float: none;
        font-size: 10px;
    }

    .subfooter-nav li a {
        font-size: 10px;
    }

    .subscribe-header p {
        font-size: 13px;
        line-height: 20px;
    }

    .subscribe-header h3 {
        padding-bottom: 10px;
        font-size: 18px;
    }

    .homenav {
        left: 20px;
        top: 50px;
    }

    /* LIST-BLOG ENDS HERE */

    /* BLOG DETAIL STARTS HERE */

    .list-single-hero-title h2 {
        font-size: 26px;
        line-height: 30px;
    }

    .blog-details .list-single-header-contacts li i {
        padding-right: 10px;
        font-size: 16px;
        color: #f9b90f !important;
    }

    .blog-details .list-single-header-contacts li a {
        color: #fff;
        font-size: 16px;
    }

    .blog-details .blog-content p {
        color: #414146;
        font-size: 15px;
        line-height: 25px;
    }

    .blog-details .list-single-main-item ul li {
        font-size: 14px;
        line-height: 23px;
    }

    .blog-details .tags-stylwrap a {
        font-size: 12px;
        padding: 8px 10px;
    }

    .reviews-comments-item-text h4 {
        font-size: 14px;
    }

    .blog-details .reviews-comments-item-text p {
        text-align: left;
        font-size: 13px;
        color: #414146;
        line-height: 20px;
    }

    .author-details-widget a.details .name {
        font-size: 16px;
        color: #414146;
    }

    .follow-us-btn img {
        width: 45px;
        height: 45px;
    }

    .list-blogs .banner-wdget-content h4 {
        font-size: 20px;
    }

    .banner-wdget-content .countdown-item span {
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
    }

    .blog-details .fixed-scroll-column {
        left: 17px;
    }

    /* BLOG DETAIL ENDS HERE */

    /* FLIPBOOK DETAIL STARTS HERE */

    h3.video-det-tit {
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .breadcrumbs-fs .breadcrumbs a,
    .breadcrumbs-fs .breadcrumbs span {
        margin-right: 8px;
        padding-right: 8px;
        font-size: 11px;
    }

    .list-single-main-item p {
        text-align: left;
        color: #878C9F;
        font-size: 15px;
    }

    .video-det-ul li {
        font-size: 13px !important;
        margin-right: 5px;
    }

    .video-det-ul li span {
        font-size: 13px;
        padding-left: 5px;
    }

    .video-like-count span.likes-count {
        padding: 6px;
        font-size: 13px;
    }

    .list-blogs .post-opt li {
        margin-right: 10px;
        border-bottom: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    /* FLIPBOOK DETAIL ENDS HERE */

    /* VIDEO DETAIL STARTS HERE */

    article.video {
        margin: 0px auto 20px auto;
        height: 400px;
    }

    /* VIDEO DETAIL ENDS HERE */

    /* FORUM DETAIL STARTS HERE */

    .nested-cmnt-sec .nested-cmnt .review-comments-avatar {
        width: 50px;
        height: 50px;
    }

    .nested-cmnt-sec .nested-cmnt .review-comments-avatar img {
        width: 50px;
        height: 50px;
    }

    .nested-cmnt-sec .nested-cmnt.reviews-comments-item {
        padding: 0 0 0px 60px;
    }

    /* FORUM DETAIL STARTS HERE */

    /* MY PROFILE STARTS HERE */

    .custom-tab label {
        font-size: 12px;
        width: 33%;
    }

    .logo-holder {
        margin-left: 10px;
        width: 40%;
    }

    /* MY PROFILE ENDS HERE */


}

@media (max-width: 360px) {

    /* LIST-BLOG STARTS HERE */
    .top-banner-sec h2 {
        font-size: 26px;
    }

    .flat-title-wrap {
        padding: 15px 0;
    }

    .breadcrumbs.fl-wrap.splitup-icon a {
        font-size: 11px;
        color: #414146;
        margin-right: 8px;
        margin-bottom: 8px;
        padding-right: 8px;
    }

    .list-blogs .card-post-content p {
        font-size: 13px;
        line-height: 20px;
    }

    .post-opt li span,
    .post-opt li a {
        color: #999;
        font-weight: 500;
        font-size: 12px;
    }

    .list-blogs .load-more-button {
        font-size: 13px;
        padding: 13px 50px;
        margin-top: 10px;
    }

    .list-blogs .accordion a.toggle {
        padding: 10px 50px 11px 20px;
        font-size: 13px;
    }

    .box-image-widget-details h4 {
        padding-bottom: 6px;
        color: #666;
        font-size: 13px;
    }

    .list-blogs .box-widget.widget-posts .widget-posts-date {
        width: auto;
        margin-right: 15px;
        font-size: 10px;
    }

    .list-blogs .banner-wdget-content h4 {
        font-size: 20px;
    }

    .banner-wdget-content .countdown-item span {
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
    }

    .sidebar-flip-txt {
        font-size: 12px;
        line-height: 20px;
    }

    /* LIST-BLOG ENDS HERE */

    /* BLOG DETAIL STARTS HERE */

    .list-single-hero-title h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .lisd-link {
        padding: 10px 10px;
        margin-right: 10px;
        font-size: 11px;
        margin-bottom: 10px;
    }

    .blog-details .list-single-main-item ul {
        padding: 10px 10px 10px 30px;
    }

    .author-details-widget a.details {
        width: 65%;
        float: left;
        margin: 5px 0px 5px 10px;
        text-align: left;
    }

    .author-details-widget a.details .name {
        font-size: 16px;
        color: #414146;
    }

    .related-question-widget li {
        font-size: 13px;
    }

    .search-widget input {
        padding: 0 50px 0 20px;
    }

    .search-widget .search-submit {
        width: 50px;
    }

    .blog-details .fixed-scroll-column {
        left: 12px;
    }

    /* BLOG DETAIL ENDS HERE */

    /* FLIPBOOK DETAIL STARTS HERE */

    h3.video-det-tit {
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .list-single-main-item p {
        text-align: left;
        color: #878C9F;
        font-size: 14px;
        line-height: 22px;
    }

    .video-det-links .lisd-link {
        margin-left: 0px;
        display: block;
        font-size: 13px;
    }

    .breadcrumbs-fs .breadcrumbs a,
    .breadcrumbs-fs .breadcrumbs span {
        margin-right: 8px;
        padding-right: 8px;
        font-size: 12px;
        margin-bottom: 8px;
    }

    /* FLIPBOOK DETAIL ENDS HERE */

    /* LIST FORUMS STARTS HERE */

    .ask-qstn-form .nice-select {
        font-size: 11px;
    }

    /* LIST FORUMS STARTS HERE */

    .logo-holder {
        margin-left: 10px;
        width: 37%;
    }

    /* CATEGORIES STARTS HERE */

    .listing-categories-card {
        width: 50%;
        float: left;
        padding: 0 10px;
        transition: all .5s ease;
    }

    .listing-categories-card .card-post-img img {
        float: left;
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

    /* CATEGORIES ENDS HERE */
}



@media (max-width: 320px) {

    /* AUTH STARTS HERE */
    .login-main-sec {
        width: 95%;
    }

    .signup-main-sec {
        width: 95%;
    }

    .login-main-sec {
        left: 3%;
        top: 20%;
    }

    .signup-main-sec {
        left: 3%;
        top: 20%;
    }

    .auth-top-sec {
        float: none;
        margin: 0px;
        padding: 20px 0px 10px 0px;
        margin-top: 50px;
    }

    span.auth-signup-btn {
        font-size: 14px;
        font-weight: 100;
        color: #7d7676;
    }

    span.auth-signin-btn {
        font-size: 14px;
        font-weight: 100;
        color: #7d7676;
    }

    span.auth-signup-btn a,
    span.auth-signin-btn a {
        font-size: 12px;
        height: 34px;
        line-height: 34px;
    }

    .soc-log a.facebook-log {
        background: #3b5998;
        padding: 0 0 0 80px;
        height: 40px;
        line-height: 40px;
    }

    .soc-log a.google-log {
        background: #ce4635;
        padding: 0 0 0 80px;
        height: 40px;
        line-height: 40px;
    }

    .login-main-sec {
        padding: 15px 25px 5px 25px;
    }

    .soc-log p {
        margin-bottom: 5px;
        font-size: 10px;
        color: #454545;
    }

    .signup-main-sec {
        padding: 15px 25px 5px 25px;
    }

    .soc-log a i {
        height: 40px;
        line-height: 40px;
    }

    .custom-form input {
        margin-bottom: 10px;
        padding: 8px 20px 8px 20px !important;
    }

    .custom-form label {
        font-size: 12px;
        padding-bottom: 5px !important;
    }

    .loginlinks a {
        color: #50596E;
        font-size: 10px;
        font-weight: 600;
    }

    .main-register h3 {
        font-size: 16px;
    }

    .custom-form .log-submit-btn {
        padding: 10px 15px;
        font-size: 12px;
    }

    /* AUTH ENDS HERE */

    /* LIST-BLOG STARTS HERE */

    .logo-holder {
        margin-left: 10px;
        width: 35%;
    }

    .logo-holder img {
        height: auto;
        width: 90%;
        float: left;
    }

    .show-reg-form {
        height: 50px;
        line-height: 50px;
    }

    #wrapper {
        padding-top: 50px !important;
    }

    .nav-button-wrap {
        top: 8px;
        right: 10px;
        float: right;
    }

    .breadcrumbs.fl-wrap.splitup-icon a {
        font-size: 10px;
        color: #414146;
        margin-right: 8px;
        margin-bottom: 8px;
        padding-right: 8px;
    }

    .list-blogs .card-post-content h3 a {
        color: #414146;
        font-size: 14px;
    }

    .list-blogs .card-post-content p {
        font-size: 12px;
        line-height: 18px;
    }

    .list-blogs .post-opt li {
        margin-right: 7px;
    }

    .list-blogs .accordion a.toggle {
        padding: 10px 50px 11px 10px;
        font-size: 11px;
    }

    .box-image-widget-details h4 {
        padding-bottom: 6px;
        color: #666;
        font-size: 11px;
    }

    .list-blogs .box-image-widget-details p {
        line-height: 13px;
        padding-bottom: 5px;
        font-size: 10px;
    }

    .box-image-widget-media a {
        font-size: 10px;
    }

    .tags-stylwrap.sb-tags a {
        color: #fff;
        margin-bottom: 6px;
        padding: 6px 15px;
        font-size: 10px;
    }

    .list-blogs .banner-wdget-content h4 {
        font-size: 16px;
    }

    .list-blogs .post-author span {
        top: 0px;
        font-size: 12px;
        float: left;
    }

    .banner-wdget-content .countdown-item span {
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
    }

    .banner-wdget-content .countdown-item p {
        font-size: 11px;
        color: #fff;
    }

    .team-info h3,
    .team-info h4 {
        float: left;
        width: 100%;
        padding-bottom: 5px;
        font-weight: 600;
        font-size: 14px;
    }

    .sidebar-flip-txt {
        font-size: 11px;
        line-height: 18px;
    }

    .team-social li {
        font-size: 12px;
    }

    .subscribe-header p {
        font-size: 12px;
        line-height: 18px;
    }

    .copyright {
        float: none;
        font-size: 9px;
    }

    /* LIST-BLOG ENDS HERE */

    /* BLOG DETAIL STARTS HERE */

    .list-single-hero-title h2 {
        font-size: 20px;
        line-height: 27px;
    }

    .blog-details .list-single-header-contacts li i {
        padding-right: 10px;
        font-size: 14px;
        color: #f9b90f !important;
    }

    .blog-details .list-single-header-contacts li a {
        color: #fff;
        font-size: 14px;
    }

    .blog-details .list-single-hero-rating .score {
        margin-top: 10px;
        font-size: 14px;
    }

    .list-single-hero-rating .rate-class-name span {
        padding: 10px;
        font-size: 13px;
    }

    .lisd-link {
        padding: 10px 10px;
        margin-right: 8px;
        font-size: 10px;
        margin-bottom: 8px;
    }

    .breadcrumbs-hero-buttom .breadcrumbs a,
    .breadcrumbs-hero-buttom .breadcrumbs span {
        font-size: 12px;
    }

    .blog-details .fixed-scroll-column {
        left: 10px;
    }

    .fc-button {
        width: 35px;
        height: 35px;
        line-height: 40px;
    }

    .blog-details .fc-button i {
        color: #fff;
        font-size: 14px;
    }

    .blog-details .blog-content p {
        color: #414146;
        font-size: 14px;
        line-height: 23px;
    }

    .blog-details .list-single-main-item ul {
        padding: 10px 10px 10px 20px;
    }

    .blog-details .list-single-main-item ul li {
        font-size: 13px;
        line-height: 22px;
    }

    .blog-details .reviews-comments-item-text p {
        text-align: left;
        font-size: 12px;
        color: #414146;
        line-height: 18px;
    }

    .reviews-comments-item-text h4 {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px !important;
    }

    .author-details-widget a.img {
        width: 25%;
        display: inline;
        float: left;
    }

    .author-details-widget a.img img {
        width: 60px;
        height: 60px;
    }

    .author-details-widget a.details .name {
        font-size: 14px;
        color: #414146;
    }

    .author-details-widget a.details .spantext {
        font-size: 12px;
    }

    .follow-us-btn img {
        width: 40px;
        height: 39px;
    }

    .flipbook-show .sale-window.big-sale {
        background: #f9b90f;
        font-size: 13px;
    }

    .flipbook-show .sale-window.big-sale:after {
        border-bottom: 16px solid #f9b90f;
    }

    .related-question-widget li b {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 13px;
    }

    .related-question-widget li {
        font-size: 12px;
    }

    /* BLOG DETAIL ENDS HERE */

    /* LIST-FLIPBOOK STARTS HERE */

    .flipbuk-card-img {
        height: 150px !important;
    }

    .to-top {
        bottom: 50px;
        right: 15px;
        width: 30px;
        height: 30px;
        color: #fff;
        line-height: 30px;
    }

    /* LIST-FLIPBOOK ENDS HERE */

    /* FLIPBOOK DETAIL STARTS HERE */

    .breadcrumbs-fs .breadcrumbs a,
    .breadcrumbs-fs .breadcrumbs span {
        margin-right: 8px;
        padding-right: 8px;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .video-det-ul li {
        font-size: 11px !important;
        margin-right: 5px;
    }

    .video-det-ul li a {
        font-size: 12px;
        padding-left: 2px;
    }

    .video-det-ul li span {
        font-size: 12px;
        padding-left: 2px;
    }

    .video-like-count img {
        width: 15px;
        margin-right: 5px;
    }

    .video-det-links .lisd-link {
        margin-left: 0px;
        display: block;
        font-size: 12px;
    }

    .post-opt li i {
        padding-right: 3px;
    }

    /* FLIPBOOK DETAIL ENDS HERE */

    /* LIST-VIDEOS STARTS HERE */

    .listing-videos-card img {
        height: 150px;
        object-fit: cover;
    }

    img.video-play-btn {
        height: auto;
    }

    .list-videos .card-post-content h3 {
        font-size: 14px;
        min-height: auto;
        margin-bottom: 10px;
    }

    .list-videos .card-post-content p {
        font-size: 13px;
        line-height: 22px;
    }

    .list-videos .geodir-category-opt .rate-class-name span {
        padding: 5px;
        font-size: 12px;
    }

    .list-videos .box-image-widget-details p {
        line-height: 15px;
    }

    .list-videos .box-widget.widget-posts .widget-posts-date {
        margin-top: 2px;
        font-size: 10px;
    }

    .box-widget.widget-posts .widget-posts-date i {
        padding-right: 5px;
    }

    .list-videos .banner-wdget-content h4 {
        font-size: 18px;
    }

    /* LIST-VIDEOS ENDS HERE */

    /* VIDEO DETAIL STARTS HERE */

    .video-details .reviews-comments-item-text p {
        text-align: left;
        font-size: 12px;
        color: #414146;
        line-height: 18px;
    }

    /* VIDEO DETAIL ENDS HERE */

    /* LIST FORUMS STARTS HERE */

    h3.video-det-tit {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .ask-qstn-choice a {
        padding: 12px 10px;
        font-size: 11px;
        margin-right: 10px;
    }

    .ask-qstn-choice a span img {
        width: 15px;
        margin: -4px 10px 0px 0px;
    }

    .ask-qstn-form .nice-select {
        font-size: 10px;
    }

    .check-under-input textarea {
        height: 60px !important;
        padding: 15px;
    }

    .custom-form textarea {
        height: 125px;
    }

    /* LIST FORUMS STARTS HERE */

    /* MY PROFILE STARTS HERE */

    .custom-tab label {
        font-size: 12px;
        width: 33%;
    }

    .dasboard-sidebar-item h3 {
        color: #fff;
        font-size: 18px;
    }

    .my-pro-phnno {
        font-size: 12px;
        margin-top: 0px;
    }

    .user-stats li {
        font-size: 12px;
    }

    .user-stats li span {
        font-size: 13px;
    }

    .mypro-logout-btn {
        font-size: 10px;
    }

    li.sidebar-tab-li a {
        padding: 10px 15px;
        font-size: 13px;
    }

    .geodir-category-content h3 a {
        color: #46A5DC;
        font-size: 15px;
    }

    .mypro-doc-card .geodir-category-location a {
        font-size: 13px;
    }

    .mypro-card-list .card-post-content h3 {
        font-size: 14px;
    }

    .post-opt li i {
        font-size: 12px;
    }

    .content-dis {
        padding-bottom: 0px !important;
    }

    .review-box .review-tit {
        font-size: 14px;
        line-height: 18px;
    }

    .review-box .review-txt {
        font-size: 13px;
        width: 70%;
        line-height: 18px;
    }

    .review-sec .datesec {
        width: 30%;
    }

    p.review-forum-desc {
        font-size: 13px;
        line-height: 18px;
    }

    .mbl-flipbook img {
        width: 100%;
        height: 400px;
    }

    .menu-prof-icon img {
        width: 35px;
        border-radius: 50%;
        border: 2px solid #5dceb0;
    }

    .menu-prof-icon .menu-prof-name {
        font-size: 12px;
        color: #fff;
        padding-left: 5px;
        padding-right: 10px;
    }

    /* MY PROFILE ENDS HERE */

    /* CATEGORIES STARTS HERE */

    .listing-categories-card {
        width: 50%;
        float: left;
        padding: 0 10px;
        transition: all .5s ease;
    }

    .listing-categories-card .card-post-img img {
        float: left;
        width: 100%;
        height: 130px;
        object-fit: cover;
    }

    /* CATEGORIES ENDS HERE */

}
