.listing-item-container{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    .listing-item{
        float: none;
        display: inline-block;
        .commentsinfo{
            text-align: right;
        }
        .geodir-category-img img, .gallery-item img{
            min-height: 150px;
            max-height: 150px;
            object-fit: cover;
        }
    }
}


.facilities-list1{
    li{
        text-align: left;
        color: #999;
        i{
            padding-right: 8px;
        }
    }
}
.votetext{
    margin-top: 10px;
}