<div id="wrapper" class="pt58">
  <!-- content-->
  <div class="content">
    <!--  section  -->
    <!-- Map -->
    <div class="map-container listmapsection fw-map big_map hid-mob-map">
      <div id="map-main"></div>
      <ul class="mapnavigation">
        <li><a href="#" class="prevmap-nav">Prev</a></li>
        <li><a href="#" class="nextmap-nav">Next</a></li>
      </ul>
      <div class="map-close"><i class="fas fa-times"></i></div>
      <input id="pac-input" class="controls fl-wrap controls-mapwn" type="text" placeholder="What Nearby ?">
    </div>
    <!-- Map end -->

    <!--  section  end-->
    <div class="breadcrumbs-fs fl-wrap">
      <div class="container">
        <div class="breadcrumbs fl-wrap"><a href="index.html">Home</a><a href="shops-listing.html">Clinics
          </a><span>Clinics Listing</span></div>
      </div>
    </div>
    <!--  section-->
    <section class="grey-blue-bg small-padding" id="sec1">
      <div class="container">
        <div class="row">
          <!--filter sidebar -->
          <div class="col-md-3">
            <div class="mobile-list-controls fl-wrap">
              <div class="mlc show-list-wrap-search fl-wrap"><i class="fal fa-filter"></i> Filter</div>
            </div>
            <div class="fl-wrap filter-sidebar_item fixed-bar">
              <div class="filter-sidebar fl-wrap lws_mobile">
                <!--col-list-search-input-item -->
                <div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow">
                  <label>Clinic Types</label>
                  <div class="listsearch-input-item">
                    <select data-placeholder="Category" class="category-select">
                      <option value="">All Types</option>
                      <option [value]="cat.id" *ngFor="let cat of categoriesList.clinic_type">{{cat.name}}</option>
                      <!-- <option>Sports Kits Shops</option> -->
                    </select>
                  </div>
                </div>
                <!--col-list-search-input-item end-->
                <div class="col-list-search-input-item in-loc-dec not-vis-arrow">
                  <label>City / Location</label>
                  <div class="listsearch-input-item">
                    <select data-placeholder="City" class="city-select">
                      <option value="">All Cities</option>
                      <option [value]="city" *ngFor="let city of categoriesList.city">{{city}}</option>
                    </select>
                  </div>
                </div>

                <!--col-list-search-input-item end-->
                <!--col-list-search-input-item  -->
                <div class="col-list-search-input-item fl-wrap mt20">
                  <button (click)="filterShops()" class="header-search-button">Search <i
                      class="far fa-search"></i></button>
                </div>
                <!--col-list-search-input-item end-->
              </div>
              <div class="box-widget-item fl-wrap mt20">
                <div class="box-widget widget-posts">
                  <div class="box-widget-content p20">
                    <div class="box-widget-item-header pb10">
                      <h3>Related Blogs</h3>
                    </div>
                    <!--box-image-widget-->
                    <div class="box-image-widget">
                      <div class="box-image-widget-media"><img src="assets/images/blogs/blog-3.jpg" alt="" class="h60">
                        <a href="blog-details.html" class="color-bg">Details</a>
                      </div>
                      <div class="box-image-widget-details sidefeatured">
                        <h4>7 Habits of Effective Skin Care</h4>
                        <p>It is important to keep your skin clean... </p>
                        <span class="widget-posts-date"><i class="fal fa-eye"></i>300</span>
                        <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                      </div>
                    </div>
                    <!--box-image-widget end -->
                    <div class="box-image-widget">
                      <div class="box-image-widget-media"><img src="assets/images/blogs/blog-4.jpg" alt="" class="h60">
                        <a href="blog-details.html" class="color-bg">Details</a>
                      </div>
                      <div class="box-image-widget-details sidefeatured">
                        <h4>7 Habits of Effective Skin Care</h4>
                        <p>It is important to keep your skin clean... </p>
                        <span class="widget-posts-date"><i class="fal fa-eye"></i>300</span>
                        <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                      </div>
                    </div>
                    <div class="box-image-widget">
                      <div class="box-image-widget-media"><img src="assets/images/blogs/blog-2.jpg" alt="" class="h60">
                        <a href="blog-details.html" class="color-bg">Details</a>
                      </div>
                      <div class="box-image-widget-details sidefeatured">
                        <h4>7 Habits of Effective Skin Care</h4>
                        <p>It is important to keep your skin clean... </p>
                        <span class="widget-posts-date"><i class="fal fa-eye"></i>300</span>
                        <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-widget-item fl-wrap">
                <div class="box-widget counter-widget">
                  <div class="banner-wdget fl-wrap">
                    <div class="overlay"></div>
                    <div class="bg" data-bg="assets/images/blogs/rel-blog-post-3.jpg"></div>
                    <div class="banner-wdget-content fl-wrap">
                      <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                      <div class="countdown fl-wrap">
                        <div class="countdown-item">
                          <span class="days rot">200</span>
                          <p>Views</p>
                        </div>
                        <div class="countdown-item">
                          <span class="hours rot">17</span>
                          <p>Likes</p>
                        </div>
                        <div class="countdown-item">
                          <span class="minutes rot">26</span>
                          <p>Comments</p>
                        </div>
                        <div class="countdown-item">
                          <span class="seconds rot">15</span>
                          <p>Shares</p>
                        </div>
                      </div>
                      <a href="#">Watch Video Now</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="team-holder section-team fl-wrap flipbook-show sidefeatured pl0">
                <div class="team-box width100 nopadding">
                  <div class="team-photo">
                    <img src="assets/images/blogs/flipbook-sample.jpg" alt="" class="respimg">
                    <div class="sale-window big-sale">Flip Book</div>
                  </div>
                  <div class="team-info">
                    <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                    <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                    <h4 class="featuredheading">Heart Diseases | Healthy Heart</h4>
                    <p class="featuredpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="team-social">
                      <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                      </ul>
                      <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--filter sidebar end-->
          <!--listing -->
          <div class="col-md-9 nopadding">
            <!--col-list-wrap -->
            <div class="col-list-wrap fw-col-list-wrap post-container">
              <!-- list-main-wrap-->
              <div class="list-main-wrap fl-wrap card-listing">
                <!-- list-main-wrap-opt-->
                <div class="list-main-wrap-opt fl-wrap">
                  <div class="list-main-wrap-title fl-wrap col-title">
                    <h2 class="mt10">Results For : <span>{{currCategory || "All"}} </span></h2>
                  </div>
                </div>
                <div class="listing-item-container init-grid-items fl-wrap">
                  <!-- <div *ngFor="let item of shopsList?.results" class="listing-item has_two_column has_one_column width50 plr5">
                    <article class="geodir-category-listing fl-wrap">
                      <div class="geodir-category-img width35">
                        <a routerLink="/doctor-detail/{{item.id}}"><img [src]="item?.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                        <div class="sale-window medtype">{{item.type}}</div>
                        <div class="geodir-category-opt doclistfooter">
                          <div class="rate-class-name">
                            <div class="score"><strong>{{item.reviews_count}}</strong>Feedbacks </div>
                            <span>{{item.likes_count}}<br> Likes</span>
                          </div>
                        </div>
                      </div>
                      <div class="geodir-category-content fl-wrap title-sin_item width65">
                        <div class="geodir-category-content-title fl-wrap doclistcontent">
                          <div class="geodir-category-content-title-item">
                            <h3 class="title-sin_map"><a routerLink="/doctor-detail/{{item.id}}">{{item?.name}}</a></h3>
                            <div class="geodir-category-location fl-wrap"><a href="#" class="map-item"><i
                                  class="fas fa-briefcase-medical"></i> {{item.specialization[0]?.specialization}}</a></div>
                          </div>
                        </div>
                        <p>{{(item?.description.length < 80) ? item?.description : (item?.description.slice(0,80) + '...')}}</p>
                        <ul class="{{item.show_number ? 'facilities-list' : 'facilities-list1'}} fl-wrap">
                          <li *ngIf="item.show_number && item?.contact_number"><i class="fal fa-phone"></i><span>{{item?.contact_number}}</span></li>
                          <li *ngIf="item.email"><i class="fal fa-envelope"></i><span>{{item?.email}}</span></li>
                        </ul>
                        <div class="geodir-category-footer fl-wrap doclistviewmore">
                          <div class="geodir-category-price bookappt"><a routerLink="/doctor-detail/{{item.id}}">View More</a></div>
                          <div class="floatright">
                            <p class="votetext">{{item.reviews_count}} Feedbacks</p>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div> -->
                  <div class="listing-item" *ngFor="let item of shopsList?.results">
                    <article class="geodir-category-listing fl-wrap">
                      <div class="geodir-category-img">
                        <a routerLink="clinic-detail.html"><img [src]="item.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                        <div class="sale-window">{{item?.type}}</div>
                        <div class="geodir-category-opt">

                          <div class="rate-class-name">
                            <!-- <div class="score"><strong>{{item.likes_count}}</strong>Likes </div> -->
                            <span>{{item.likes_count}} Likes</span>
                          </div>
                        </div>
                      </div>
                      <div class="geodir-category-content fl-wrap title-sin_item">
                        <div class="geodir-category-content-title fl-wrap">
                          <div class="geodir-category-content-title-item">
                            <h3 class="title-sin_map"><a routerLink="/clinic-detail/{{item.id}}">{{item.name}}</a></h3>
                            <div class="geodir-category-location fl-wrap"><a class="map-item"><i
                                  class="fas fa-map-marker-alt"></i> {{item?.address?.city + ", " + item?.address?.state}}.</a></div>
                          </div>
                        </div>
                        <p>{{(item.description.length < 80) ? item.description : (item.description.slice(0,80) + '...')}}</p>
                        <ul class="facilities-list fl-wrap">
                          <li><i class="fal fa-phone"></i><span>{{item.contact_number}}</span></li>

                          <li><i class="fal fa-envelope"></i><span>{{item.email}}</span></li>
                          <li><i class="fal fa-credit-card"></i><span>Online Payment : {{item.online_payable ? "Yes" : "No"}}</span></li>
                          <p class="commentsinfo">{{item.reviews_count}} Comments</p>
                        </ul>
                        <!-- <div class="geodir-category-footer fl-wrap doclistviewmore">
                          <div class="geodir-category-price bookappt pbt12"><a routerLink="/clinic-detail/{{item.id}}">View More</a></div>
                          <div class="floatright">
                            <p class="voteicon"><i class="fa fa-thumbs-up"></i> 99%</p>
                            <p class="commentsinfo">{{item.reviews_count}} Comments</p>
                          </div>
                        </div> -->
                      </div>
                    </article>
                  </div>
                </div>
                <a class="load-more-button" href="#">Load more <i class="fal fa-spinner"></i> </a>
              </div>
              <!-- list-main-wrap end-->
            </div>
            <!--col-list-wrap end -->
          </div>
          <!--listing  end-->
        </div>
        <!--row end-->
      </div>
      <div class="limit-box fl-wrap"></div>
    </section>
  </div>
  <!-- content end-->
</div>
