<!-- header-->
<header class="main-header">
  <div class="header-top fl-wrap">
    <div class="container">
      <div class="logo-holder">
        <a routerLink="/"><img src="assets/images/logo.png" alt=""></a>
      </div>
      <!-- <div class="home-btn"><a href="index.html"><i class="fas fa-home"></i></a></div> -->
      <div class="nav-holder main-menu homenav">
        <nav>
          <ul>
            <li>
              <a class="pointer act-link">Search For<i class="fas fa-caret-down"></i></a>
              <!--second level -->
              <ul>
                <li><a routerLink="/doctors"><img src="assets/images/custom/menuicon1.png"
                      class="menuicon"><span>Doctors</span></a></li>
                <li><a routerLink="/clinics"><img src="assets/images/custom/menuicon6.png"
                      class="menuicon"><span>Clinics</span></a></li>
                <li><a routerLink="/pharmacies"><img src="assets/images/custom/menuicon2.png"
                      class="menuicon"><span>Pharmacies</span></a></li>
                <li><a routerLink="/shops"><img src="assets/images/custom/menuicon5.png"
                      class="menuicon"><span>Shops</span></a></li>
                <li><a routerLink="/fitness-centers"><img src="assets/images/custom/menuicon3.png"
                      class="menuicon"><span>Fitness
                      Centres</span></a></li>
                <!-- <li><a href="medicines.html"><img src="assets/images/custom/menuicon4.png"
                      class="menuicon"><span>Medicines</span></a></li> -->
              </ul>
              <!--second level end-->
            </li>
            <li>
              <a routerLink="/videos">Videos</a>
            </li>
            <li>
              <a routerLink="/blogs">Blog</a>
            </li>
            <li>
              <a routerLink="/flipbooks">Flipbooks</a>
            </li>
            <li>
              <a routerLink="/forums">Ask Question</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- <div class="wishlist-link"><i class="fal fa-heart"></i><span class="wl_counter">3</span></div>
            <div class="header-user-menu">
                <div class="header-user-name">
                    <span><img src="assets/images/avatar/4.jpg" alt=""></span>
                    My account
                </div>
                <ul>
                    <li><a href="my-profile.html"> My profile</a></li>
                    <li><a href="edit-password.html"> Edit Password</a></li>
                    <li><a href="index.html">Log Out</a></li>
                </ul>
            </div> -->
      <!-- nav-button-wrap-->
      <div class="nav-button-wrap color-bg">
        <div class="nav-button">
          <span></span><span></span><span></span>
        </div>
      </div>
      <a href="#!" class="add-hotel">Download the App Now <span><i class="far fa-download"></i></span></a>
      <div *ngIf="!common.authData" class="show-reg-form modal-open"><i class="fa fa-sign-in"></i>Sign In</div>
      <div *ngIf="common.authData" routerLink="/profile" class="show-reg-form"><i class="fa fa-user"></i>Profile</div>
    </div>
  </div>
</header>
<!--  header end -->
<router-outlet></router-outlet>

<!--footer -->
<footer class="main-footer">
  <div class="footer-bg">
  </div>
  <div class="sub-footer">
    <div class="container">
      <div class="copyright"> &#169; Health & Fitness 2018. All rights reserved. Made with <i class="fa fa-heart"></i>
        by <a href="https://cruzbytes.com" target="_blank;" class="copyrightname">Cruzbytes.</a></div>
      <div class="subfooter-nav">
        <ul>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer end -->
<!--register form -->
<div class="main-register-wrap modal">
  <div class="reg-overlay"></div>
  <div class="main-register-holder">
    <div class="main-register fl-wrap">
      <div class="close-reg color-bg"><i class="fal fa-times"></i></div>
      <ul class="tabs-menu">
        <li class="current"><a href="#tab-1"><i class="fal fa-sign-in-alt"></i> Login</a></li>
        <li><a href="#tab-2"><i class="fal fa-user-plus"></i> Register</a></li>
      </ul>
      <!--tabs -->
      <div id="tabs-container">
        <div class="tab">
          <!--tab -->
          <div id="tab-1" class="tab-content">
            <div class="loginsection">
              <h3>Sign In With <span>Health & <strong>Fitness</strong></span></h3>
              <form class="login-form">
                <div class="custom-form">
                  <label>Phone Number / EMail Address <span>*</span> </label>
                  <input [(ngModel)]="loginDetails.username" name="email" type="text">
                  <label>Password <span>*</span> </label>
                  <input [(ngModel)]="loginDetails.password" name="password" type="password">
                  <button type="submit" name="action" class="log-submit-btn color-bg width100 mb10"><span>Log
                      In</span></button>
                  <div class="loginlinks">
                    <a href="#" (click)="clickforgotpwd();" class="floatright">Lost Your Password?</a>
                    <a href="#" (click)="clickloginwithotp();" class="floatleft">Login With OTP?</a>
                  </div>
                </div>
              </form>
            </div>
            <div class="loginwithotpsection">
              <h3>Login With <span><strong>OTP</strong></span></h3>
              <form class="login-otp">
                <div class="custom-form">
                  <label>Phone Number<span>*</span> </label>
                  <input numbersOnly maxlength="10" [(ngModel)]="loginOTPDetails.mobile" name="login_phone" type="text">
                  <button type="submit" name="action"
                    class="log-submit-btn color-bg width100 mb10"><span>Submit</span></button>
                  <div class="loginlinks">
                    <a href="#" (click)="backtologpwd();" class="floatright">Login With Password?</a>
                  </div>
                </div>
              </form>
            </div>
            <div class="enterotptologinsection">
              <h3>Enter the <span>OTP to <strong>Login</strong></span></h3>
              <form class="otp_login">
                <div class="custom-form">
                  <label>Enter OTP <span>*</span> </label>
                  <input numbersOnly maxlength="4" name="otp" [(ngModel)]="OTP" type="text">
                  <button type="submit" name="action" class="log-submit-btn color-bg width100 mb10"><span>Login
                      Now</span></button>
                  <div class="loginlinks">
                    <a class="pull-left" class="pointer" (click)="sendOTP(forgotDetails);">Resend OTP</a>
                    <a href="#" (click)="backtologpwd();" class="floatright">Login With Password?</a>
                  </div>
                </div>
              </form>
            </div>
            <div class="forgotpwdsection">
              <h3>Forgot <strong>Password?</strong></h3>
              <form class="forgot-form">
                <div class="custom-form">
                  <label>Phone Number <span>*</span> </label>
                  <input numbersOnly maxlength="10" [(ngModel)]="forgotDetails.forgot_uname" name="login_phone" type="text">
                  <button type="submit" name="action" class="log-submit-btn color-bg"><span>Recover
                      Password</span></button>
                  <div class="lost_password">
                    <a href="#" (click)="clicklogin();">Back to Login?</a>
                  </div>
                </div>
              </form>
            </div>
            <div class="resetpwdsection">
                <h3>Reset <strong>Password</strong></h3>
                <form class="reset-form">
                  <div class="custom-form">
                    <label>OTP <span>*</span> </label>
                    <input numbersOnly maxlength="4" [(ngModel)]="resetDetails.otp" name="reset_otp" type="text">
                    <label>Password <span>*</span> </label>
                    <input id="password" [(ngModel)]="resetDetails.old_password" name="password" type="text">
                    <label>New Password <span>*</span> </label>
                    <input [(ngModel)]="resetDetails.new_password" name="new_password" type="text">
                    <button type="submit" name="action" class="log-submit-btn color-bg"><span>Reset
                        Password</span></button>
                    <div class="lost_password">
                      <a href="#" (click)="clicklogin();">Back to Login?</a>
                    </div>
                  </div>
                </form>
              </div>
          </div>
          <!--tab end -->
          <!--tab -->
          <div class="tab">
            <div id="tab-2" class="tab-content">
              <div class="registersection">
                <h3>Sign Up With <span>Health & <strong>Fitness</strong></span></h3>
                <form class="register-form">
                  <div class="custom-form">
                    <div class="main-register-form">
                      <label>First Name <span>*</span> </label>
                      <input [(ngModel)]="registerDetails.first_name" name="first_name" type="text">
                      <label>Last Name <span>*</span> </label>
                      <input [(ngModel)]="registerDetails.last_name" name="last_name" type="text">
                      <label>Phone Number <span>*</span></label>
                      <input numbersOnly maxlength="10" [(ngModel)]="registerDetails.mobile" name="mobile" type="text">
                      <div *ngIf="registerDetails?.errors?.username" id="email-error-1" class="error" style="display: block;">{{registerDetails?.errors?.username}}</div>
                      <label>Email Address <span>*</span></label>
                      <input [(ngModel)]="registerDetails.email" name="email" type="email">
                      <div *ngIf="registerDetails?.errors?.email" id="email-error-1" class="error" style="display: block;">{{registerDetails?.errors?.email}}</div>
                      <label>Password <span>*</span></label>
                      <input [(ngModel)]="registerDetails.password" name="password" type="password">
                      <button type="submit" name="action" class="log-submit-btn color-bg"><span>Register</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="enterotpsection">
                <h3>Check Your Phone & <span>Enter <strong>OTP</strong></span></h3>
                <div class="custom-form">
                  <form class="otp-form">
                    <div class="main-register-form">
                      <label>Enter OTP <span>*</span> </label>
                      <input numbersOnly maxlength="4" name="otp" [(ngModel)]="OTP" type="text">
                      <div class="lost_password">
                        <a href="#" class="pointer" (click)="clickregister();">Back to Register?</a>
                      </div>
                      <div class="lost_password pull-left">
                        <a class="pointer" (click)="sendOTP(forgotDetails);">Resend OTP</a>
                      </div>
                      <button type="submit" name="action" class="log-submit-btn width100 color-bg"><span>Activate
                          Account</span></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--tab end -->
        </div>
        <!--tabs end -->
        <div class="log-separator fl-wrap"><span>or</span></div>
        <div class="soc-log fl-wrap">
          <p>For faster login or register use your social account.</p>
          <a (click)="facebookSignIn()" class="pointer facebook-log"><i class="fab fa-facebook-f"></i>Connect with Facebook</a>
          <a (click)="googleSignIn()" class="pointer google-log"><i class="fab fa-google-plus-g"></i>Connect with Google Plus</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--register form end -->

<a class="to-top"><i class="fas fa-caret-up"></i></a>
<toaster-container [toasterconfig]="config"></toaster-container>
