.listing-item-container{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    .listing-item{
        float: none;
        display: inline-block;
        .commentsinfo{
            text-align: right;
        }
        .geodir-category-img img, .gallery-item img{
            height: 180px;
        }
    }
}
