<div id="wrapper" class="pt58">
  <!-- content-->
  <div class="content">
    <!--  section  -->
    <!-- Map -->
    <div class="map-container listmapsection fw-map big_map hid-mob-map">
      <div id="map-main"></div>
      <ul class="mapnavigation">
        <li><a href="#" class="prevmap-nav">Prev</a></li>
        <li><a href="#" class="nextmap-nav">Next</a></li>
      </ul>
      <div class="map-close"><i class="fas fa-times"></i></div>
      <input id="pac-input" class="controls fl-wrap controls-mapwn" type="text" placeholder="What Nearby ?">
    </div>
    <!-- Map end -->

    <!--  section  end-->
    <div class="breadcrumbs-fs fl-wrap">
      <div class="container">
        <div class="breadcrumbs fl-wrap"><a routerLink="/">Home</a><span>Doctors Listing</span></div>
      </div>
    </div>
    <!--  section-->
    <section class="grey-blue-bg small-padding" id="sec1">
      <div class="container">
        <div class="row">
          <!--filter sidebar -->
          <div class="col-md-3">
            <div class="mobile-list-controls fl-wrap">
              <div class="mlc show-list-wrap-search fl-wrap"><i class="fal fa-filter"></i> Filter</div>
            </div>
            <div class="fl-wrap filter-sidebar_item fixed-bar">
              <div class="filter-sidebar fl-wrap lws_mobile">
                <!--col-list-search-input-item -->
                <div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow">
                  <label>Search</label>
                  <div class="listsearch-input-item">
                    <input type="text" [(ngModel)]="searchText" placeholder="Search doctors" class="search">
                  </div>
                </div>
                <!--col-list-search-input-item -->
                <div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow">
                  <label>Qualifications</label>
                  <div class="listsearch-input-item">
                    <select data-placeholder="Category" class="category-select quali">
                      <option value="">All Qualifications</option>
                      <option [value]="cat.id" *ngFor="let cat of categoriesList.qualifications">{{cat.name}}</option>
                    </select>
                  </div>
                </div>
                <!--col-list-search-input-item end-->
                <div class="col-list-search-input-item in-loc-dec not-vis-arrow">
                  <label>Specializations</label>
                  <div class="listsearch-input-item">
                    <select data-placeholder="Category" class="category-select spec">
                      <option value="">All Specializations</option>
                      <option [value]="cat.id" *ngFor="let cat of categoriesList.specializations">{{cat.name}}</option>
                    </select>
                  </div>
                </div>

                <!--col-list-search-input-item end-->
                <!--col-list-search-input-item  -->
                <div class="col-list-search-input-item fl-wrap mt20">
                  <button (click)="filterShops()" class="header-search-button">Search <i
                      class="far fa-search"></i></button>
                </div>
                <!--col-list-search-input-item end-->
              </div>
              <div class="box-widget-item fl-wrap mt20">
                <div class="box-widget widget-posts">
                  <div class="box-widget-content p20">
                    <div class="box-widget-item-header pb10">
                      <h3>Related Blogs</h3>
                    </div>
                    <!--box-image-widget-->
                    <div class="box-image-widget">
                      <div class="box-image-widget-media"><img src="assets/images/blogs/blog-3.jpg" alt="" class="h60">
                        <a href="blog-details.html" class="color-bg">Details</a>
                      </div>
                      <div class="box-image-widget-details sidefeatured">
                        <h4>7 Habits of Effective Skin Care</h4>
                        <p>It is important to keep your skin clean... </p>
                        <span class="widget-posts-date"><i class="fal fa-eye"></i>300</span>
                        <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                      </div>
                    </div>
                    <!--box-image-widget end -->
                    <div class="box-image-widget">
                      <div class="box-image-widget-media"><img src="assets/images/blogs/blog-4.jpg" alt="" class="h60">
                        <a href="blog-details.html" class="color-bg">Details</a>
                      </div>
                      <div class="box-image-widget-details sidefeatured">
                        <h4>7 Habits of Effective Skin Care</h4>
                        <p>It is important to keep your skin clean... </p>
                        <span class="widget-posts-date"><i class="fal fa-eye"></i>300</span>
                        <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                      </div>
                    </div>
                    <div class="box-image-widget">
                      <div class="box-image-widget-media"><img src="assets/images/blogs/blog-2.jpg" alt="" class="h60">
                        <a href="blog-details.html" class="color-bg">Details</a>
                      </div>
                      <div class="box-image-widget-details sidefeatured">
                        <h4>7 Habits of Effective Skin Care</h4>
                        <p>It is important to keep your skin clean... </p>
                        <span class="widget-posts-date"><i class="fal fa-eye"></i>300</span>
                        <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--filter sidebar end-->
          <!--listing -->
          <div class="col-md-9 nopadding">
            <!--col-list-wrap -->
            <div class="col-list-wrap fw-col-list-wrap post-container">
              <!-- list-main-wrap-->
              <div class="list-main-wrap fl-wrap card-listing">
                <!-- list-main-wrap-opt-->
                <div class="list-main-wrap-opt fl-wrap">
                  <div class="list-main-wrap-title fl-wrap col-title">
                    <h2 class="mt10">Results For : <span>{{currCategory || "All"}} </span></h2>
                  </div>
                </div>
                <div class="listing-item-container init-grid-items fl-wrap">
                  <div *ngFor="let item of shopsList?.results"
                    class="listing-item has_two_column has_one_column width50 plr5">
                    <article class="geodir-category-listing fl-wrap">
                      <div class="geodir-category-img width35">
                        <a routerLink="/doctor-detail/{{item.id}}"><img
                            [src]="item?.about?.profile_pic || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                        <div class="sale-window medtype">{{item?.about?.experience}} Yrs Exp</div>
                        <div class="geodir-category-opt doclistfooter">
                          <div class="rate-class-name">
                            <div class="score"><strong>{{item.reviews_count}}</strong>Feedbacks </div>
                            <span>{{item.likes_count}}<br> Likes</span>
                          </div>
                        </div>
                      </div>
                      <div class="geodir-category-content fl-wrap title-sin_item width65">
                        <div class="geodir-category-content-title fl-wrap doclistcontent">
                          <div class="geodir-category-content-title-item">
                            <h3 class="title-sin_map"><a routerLink="/doctor-detail/{{item.id}}">{{item?.name}}</a></h3>
                            <div class="geodir-category-location fl-wrap"><a href="#" class="map-item"><i
                                  class="fas fa-briefcase-medical"></i> {{item.specialization[0]?.specialization}}</a>
                            </div>
                          </div>
                        </div>
                        <p>{{item?.about?.qualification}} -
                          {{(item?.about?.description.length < 80) ? item?.about?.description : (item?.about?.description.slice(0,80) + '...')}}
                        </p>
                        <ul class="{{item.show_number ? 'facilities-list' : 'facilities-list1'}} fl-wrap">
                          <li *ngIf="item.show_number && item?.contact_number"><i
                              class="fal fa-phone"></i><span>{{item?.contact_number}}</span></li>
                          <li *ngIf="item.email"><i class="fal fa-envelope"></i><span>{{item?.email}}</span></li>
                          <!-- <li><i class="fal fa-credit-card"></i><span>Online Payment : {{item.}}</span></li> -->
                          <!-- <li><i class="fal fa-map-marker-alt"></i><span>{{}}kms From Here</span></li> -->
                        </ul>
                        <div class="geodir-category-footer fl-wrap doclistviewmore">
                          <div class="geodir-category-price bookappt"><a routerLink="/doctor-detail/{{item.id}}">View
                              More</a></div>
                          <div class="floatright">
                            <!-- <p class="voteicon"><i class="fa fa-thumbs-up"></i> 99%</p> -->
                            <p class="votetext">{{item.reviews_count}} Feedbacks</p>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <a class="load-more-button pointer" *ngIf="!isComplete" (click)="loadmore()">Load more </a>
              </div>
              <!-- list-main-wrap end-->
            </div>
            <!--col-list-wrap end -->
          </div>
          <!--listing  end-->
        </div>
        <!--row end-->
      </div>
      <div class="limit-box fl-wrap"></div>
    </section>
  </div>
  <!-- content end-->
</div>