<div id="wrapper" class="pt58">
  <!-- content-->
  <div class="content">
    <!--  section  -->
    <section class="list-single-hero pt160" data-scrollax-parent="true" id="sec1">
      <div class="bg par-elem detailshopheight" data-bg="assets/images/custom/shopdetail.jpg"
        data-scrollax="properties: { translateY: '30%' }"></div>
      <div class="list-single-hero-title fl-wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="listing-rating-wrap">
                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
              </div>
              <h2><span>{{shopDetail.name}}</span></h2>
              <div class="list-single-header-contacts fl-wrap">
                <ul>
                  <!-- <li><i class="fa fa-eye"></i><a href="#">2k Views</a></li> -->
                  <li><i class="fa fa-comments-alt"></i><a href="#">{{shopDetail.reviews_count}} Feedbacks</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-5">
              <div class="list-single-hero-details fl-wrap">
                <div class="list-single-hero-rating">
                  <div class="rate-class-name">
                    <!-- <div class="score"><strong>3467<br>Likes</strong></div> -->
                    <span class="votecount"><i class="fa fa-thumbs-up"></i>&nbsp;{{shopDetail.likes_count}} Likes</span>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="list-single-hero-links">
                  <!-- <a class="lisd-link" href="#"><i class="fal fa-bookmark"></i> Book Mark</a>
                  <a class="lisd-link" href="#"><i class="fal fa-thumbs-up"></i> Like Now</a>
                  <a class="custom-scroll-link lisd-link" href="#sec6"><i class="fal fa-comment-alt-check"></i> Add
                    Feedback</a> -->
                  <a class="lisd-link pointer" (click)="toggleLike()"><i
                      class="{{shopDetail.is_liked ? 'fa' : 'fal'}} fa-heart {{shopDetail.is_liked ? 'selected' : ''}}"></i>
                    {{shopDetail.is_liked ? 'Liked' : 'Like'}}</a>
                  <a class="lisd-link pointer" (click)="toggleBookmark()"><i
                      class="{{shopDetail.is_bookmarked ? 'fa' : 'fal'}} fa-bookmark {{shopDetail.is_bookmarked ? 'selected' : ''}}"></i>
                    {{shopDetail.is_bookmarked ? 'Bookmarked' : 'Bookmark'}}</a>
                  <a class="custom-scroll-link lisd-link pointer" (click)="goAddReview()"><i
                      class="fal fa-comment-alt-check"></i> Add Feedback</a>
                </div>
              </div>
            </div>
          </div>
          <div class="breadcrumbs-hero-buttom fl-wrap">
            <div class="breadcrumbs"><a routerLink="/">Home</a><a routerLink="/shops">Shops</a><span>{{shopDetail.name}}</span></div>
          </div>
        </div>
      </div>
    </section>
    <!--  section  end-->
    <!--  section  -->
    <section class="grey-blue-bg small-padding scroll-nav-container pt90" id="sec2">
      <!--  scroll-nav-wrapper  -->
      <div class="scroll-nav-wrapper fl-wrap">
        <div class="hidden-map-container fl-wrap">
          <input id="pac-input" class="controls fl-wrap controls-mapwn" type="text"
            placeholder="What Nearby ?   Bar , Gym , Restaurant ">
          <div class="map-container">
            <div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
          <nav class="scroll-nav scroll-init">
            <ul>
              <li><a class="act-scrlink" href="#sec1">Overview</a></li>
              <li><a href="#sec2">Shop Info</a></li>
              <li><a href="#sec5">User Feedback</a></li>
            </ul>
          </nav>
          <a href="https://www.google.com/maps/place/Pazhavanthangal,+Chennai,+Tamil+Nadu/@{{shopDetail?.address?.latitude}},{{shopDetail?.address?.longitude}},16z/data=!3m1!4b1!4m5!3m4!1s0x3a5260aaaf040a5f:0xbcdce0a1c858823a!8m2!3d12.9899259!4d80.1859848"
            target="_blank;" class="show-hidden-map"> <span>On The Map</span> <i class="fal fa-map-marked-alt"></i></a>
        </div>
      </div>
      <!--  scroll-nav-wrapper end  -->
      <!--   container  -->
      <div class="container">
        <!--   row  -->
        <div class="row">
          <!--   datails -->
          <div class="col-md-8">
            <div class="list-single-main-container">

              <div class="list-single-main-media fl-wrap" *ngIf="shopDetail?.images?.length>0">
                <!-- gallery-items   -->
                <div class="gallery-items grid-small-pad  list-single-gallery three-coulms lightgallery">
                  <div class="gallery-item" [class.gallery-item-second1]="index==3" *ngFor="let image of shopDetail.images | slice : 0:6; let index=index">
                    <div class="grid-item-holder">
                      <div class="box-item" *ngIf="index<5">
                        <img src="{{image.image}}" alt="">
                        <a href="{{image.image}}" class="gal-link popup-image"><i
                            class="fa fa-search"></i></a>
                      </div>
                      <div class="box-item" *ngIf="index==5">
                        <img src="{{image.image}}" alt="">
                        <div ngIf="otherPhotosList" class="more-photos-button dynamic-gal"
                          [attr.data-dynamicPath]="otherPhotosList">
                          Other <span>{{shopDetail?.images?.length-5}} photos</span><i class="far fa-long-arrow-right"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end gallery items -->
              </div>
              <div class="list-single-main-item fl-wrap" *ngIf="shopDetail.description">
                <div class="list-single-main-item-title fl-wrap">
                  <h3>About {{shopDetail.name}}</h3>
                </div>
                <p>{{shopDetail.description}}</p>
              </div>
              <div *ngIf="reviewList?.results?.length>0" class="list-single-main-item comments-sec fl-wrap" id="sec5">
                <div class="list-single-main-item-title fl-wrap">
                  <h3>Comments</h3>
                </div>
                <div class="reviews-comments-wrap">
                  <div class="reviews-comments-item" *ngFor="let review of reviewList.results">
                    <div class="review-comments-avatar">
                      <img [src]="review?.user?.profile_pic || 'assets/images/avatar/2.jpg'" alt="">
                    </div>
                    <div class="reviews-comments-item-text">
                      <h4><a href="#">{{review?.user?.first_name}}</a></h4>
                      <div class="clearfix"></div>
                      <p>{{review.text}}</p>
                      <div class="reviews-comments-item-date"><span><i
                            class="far fa-calendar-check"></i>{{review.created_at | date : "dd MMM yyyy hh:mm a"}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- list-single-main-item end -->
              <!-- list-single-main-item -->
              <div class="list-single-main-item fl-wrap" id="sec6">
                <div class="list-single-main-item-title fl-wrap">
                  <h3>Whats on your mind?</h3>
                </div>
                <!-- Add Review Box -->
                <div id="add-review" class="add-review-box">
                  <!-- Review Comment -->
                  <form id="add-comment" class="add-comment  custom-form" name="rangeCalc">
                    <fieldset>
                      <textarea [(ngModel)]="myreview" name="review" cols="40" rows="3"
                        placeholder="Your Comments"></textarea>
                    </fieldset>
                    <button (click)="submitReview()" class="btn  big-btn flat-btn float-btn color2-bg"
                      style="margin-top:30px">Submit <i class="fal fa-paper-plane"></i></button>
                  </form>
                </div>
                <!-- Add Review Box / End -->
              </div>
            </div>
          </div>
          <!--   datails end  -->
          <!--   sidebar  -->
          <div class="col-md-4">
            <!--box-widget-wrap -->
            <div class="box-widget-wrap">
              <!--box-widget-item -->
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header">
                      <h3> Contact Information</h3>
                    </div>


                    <div class="box-widget-list">
                      <ul>
                        <li><span><i class="fal fa-map-marker"></i> Address :</span>
                          <a>{{shopDetail?.address?.address_line_1 + ', ' + shopDetail?.address?.address_line_2 + ', ' + shopDetail?.address?.city + ', ' + shopDetail?.address?.state}}</a>
                        </li>
                        <li><span><i class="fal fa-phone"></i> Phone :</span> <a>{{shopDetail.contact_number || "-"}}</a></li>
                        <li><span><i class="fal fa-envelope"></i> Mail :</span> <a>{{shopDetail.email || "-"}}</a>
                        </li>
                        <li *ngIf="shopDetail.website_url"><span><i class="fal fa-browser"></i> Website :</span> <a
                            target="_blank" href="">{{shopDetail.website_url || "-"}}</a></li>
                        <li><span><i class="fal fa-credit-card"></i> Online Payment :</span>
                          <a>{{shopDetail.online_payable ? "Yes" : "No"}}</a></li>
                        <li *ngIf="shopDetail?.operating_hours?.length>0">
                          <div><span><i class="fal fa-calendar"></i> Working Hours :</span></div><br><br>
                          <div class="ophours" *ngFor="let hour of shopDetail.operating_hours">{{hour.day}} :
                            {{hour.time}}</div>
                          <!-- <div>Sat - Sun : 10:00AM to 9:00PM</div> -->
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
              <!--box-widget-item end -->

              <!--box-widget-item -->
              <div class="box-widget-item fl-wrap">

                <!--box-widget-item -->
                <div class="box-widget-item fl-wrap">
                  <div class="box-widget">
                    <div class="box-widget-content">
                      <div class="box-widget-item-header">
                        <h3>Similar Shops</h3>
                      </div>
                      <div class="widget-posts fl-wrap">
                        <ul>
                          <li *ngFor="let related of relatedList" class="clearfix">
                            <a routerLink="/shop-detail/{{related.id}}" class="pointer widget-posts-img"><img [src]="related.banner_image"
                                class="respimg" alt=""></a>
                            <div class="widget-posts-descr">
                              <a class="pointer" routerLink="/shop-detail/{{related.id}}" title="">{{related.name}}</a>
                              <div class="emailcls123">
                                <a>
                                  <span class="email spantext recdoc" *ngIf="related.email"><i class="fal fa-envelope-open"></i>&nbsp;{{related.email}}</span>
                                </a>
                              </div>
                              <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                              <div class="geodir-category-location fl-wrap"><a><i
                                    class="fas fa-map-marker-alt"></i>{{shopDetail?.address?.address_line_1 + ', ' + shopDetail?.address?.address_line_2 + ', ' + shopDetail?.address?.city + ', ' + shopDetail?.address?.state}}</a></div>

                            </div>
                          </li>
                        </ul>
                        <a class="widget-posts-link" routerLink="/shops">See All Listing <i class="fal fa-long-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--box-widget-item end -->
              </div>
              <!--box-widget-wrap end -->
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header">
                      <h3> Follow Us </h3>
                    </div>
                    <div class="follow-us-widget">
                      <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="assets/images/blogs/facebook.svg"></a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="assets/images/blogs/twitter.svg"></a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="assets/images/blogs/google-plus.svg"></a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="assets/images/blogs/linkedin.svg"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header">
                      <h3> Get health tips in your inbox </h3>
                    </div>
                    <div class="search-widget">
                      <img src="assets/images/blogs/mailbox.svg" alt="" class="mail-box">
                      <form action="#" class="fl-wrap">
                        <input name="se" id="se" type="text" class="search" placeholder="Enter your email id here" />
                        <button class="search-submit color2-bg" id="submit_btn"><i
                            class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <!--   sidebar end  -->
          </div>
          <!--   row end  -->
        </div>
      </div>

      <!--   container  end  -->
    </section>
    <!--  section  end-->
  </div>
  <!-- content end-->
  <div class="limit-box fl-wrap"></div>
</div>
