.ophours{
    margin: 5px 26px;
}

i.selected{
    color: #EF0000;
}
.reviews-comments-wrap{
    width: 100% !important;
}

.geodir-category-content-title{
    border-bottom : 0 !important;
}

.docdet .geodir-category-img img, .gallery-item img {
    width: 120px;
    height: 110px;
    object-fit: cover;
}
.votetext{
    margin-top: 10px;
}