<div id="wrapper">
  <!-- content-->
  <div class="content">
    <!-- section-->
    <section class="flat-header color-bg adm-header">
      <div class="wave-bg wave-bg2"></div>
      <div class="container">
        <div class="dasboard-wrap fl-wrap">
          <div class="dasboard-breadcrumbs breadcrumbs"><a routerLink="/">Home</a><span>My Profile</span></div>
          <!--dasboard-sidebar-->
          <div class="dasboard-sidebar">
            <div class="dasboard-sidebar-content mypro-card fl-wrap">
              <div class="dasboard-avatar">
                <img src="{{profileDetails?.userprofile?.profile_pic || 'assets/images/avatar/4.jpg'}}" alt="">
              </div>
              <div class="dasboard-sidebar-item fl-wrap">
                <h3>
                  <span>Welcome </span>
                  {{profileDetails.full_name}}
                </h3>
                <p class="my-pro-phnno">{{profileDetails.username}}</p>
              </div>
              <a (click)="goEditPass()" class="pointer ed-btn">Edit Password</a>
              <div class="user-stats fl-wrap">
                <ul>
                  <li>
                    Likes
                    <span>4</span>
                  </li>
                  <li>
                    Bookmarks
                    <span>32</span>
                  </li>
                  <li>
                    Reviews
                    <span>9</span>
                  </li>
                </ul>
              </div>
              <a (click)="logout()" class="pointer log-out-btn color-bg mypro-logout-btn">Log Out <i
                  class="far fa-sign-out"></i></a>
            </div>
          </div>
          <!--dasboard-sidebar end-->
        </div>
      </div>
    </section>
    <!-- section end-->
    <!-- section-->
    <section class="middle-padding">
      <div class="container">
        <!--dasboard-wrap-->
        <div class="dasboard-wrap fl-wrap">
          <div class="main-tab-sec">
            <input type="radio" id="tab-1" name="show" checked />
            <input type="radio" id="tab-2" name="show" />
            <input type="radio" id="tab-3" name="show" />
            <input type="radio" id="tab-4" name="show" />
            <!-- <input type="radio" id="tab-5" name="show" /> -->
            <div class="custom-tab">
              <label for="tab-1">Profile</label>
              <label for="tab-2">My Likes</label>
              <label for="tab-3">My Bookmarks</label>
              <label for="tab-4">My Reviews</label>
              <!-- <label for="tab-5">My Forums</label> -->
            </div>
            <div class="custom-tab-content">
              <div class="content-dis">
                <!-- dashboard-content-->
                <div class="dashboard-content fl-wrap">
                  <div class="box-widget-item-header">
                    <h3>Your Profile</h3>
                  </div>
                  <!-- profile-edit-container-->
                  <div class="profile-edit-container">
                    <form id="form">
                      <div class="custom-form">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                          <div class="file-upload fileuploadbg">
                            <button class="file-upload-btn" type="button"
                              onclick="$('.file-upload-input').trigger( 'click' )"><img
                                src="assets/images/custom/camera.png" class="w100"></button>
                            <div class="image-upload-wrap">
                              <input class="file-upload-input" id="profile_pic" type='file' accept="image/*" />
                            </div>
                            <div class="file-upload-content">
                              <img class="file-upload-image" src="#" alt="your image" />
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                          <div class="row profilecls">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                              <label>First Name</label>
                              <input type="text" name="first_name" [(ngModel)]="profileDetails.first_name"
                                placeholder="First Name" value="" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                              <label>Last Name</label>
                              <input type="text" name="last_name" [(ngModel)]="profileDetails.last_name"
                                placeholder="Last Name" value="" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                              <label>E-Mail Id</label>
                              <input type="email" name="email" [(ngModel)]="profileDetails.email"
                                placeholder="Ex. xyz@gmail.com" value="" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                              <label>Phone Number</label>
                              <input type="text" readonly name="username" [(ngModel)]="profileDetails.username"
                                placeholder="Ex. 9090987890" value="" disabled />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                              <div class="listsearch-input-item gender-select">
                                <label>Gender</label>
                                <select data-placeholder="Your Country" id="gender"
                                  class="chosen-select1 no-search-select">
                                  <!-- <option>-- Choose One --</option> -->
                                  <option value="M">Male</option>
                                  <option value="F">Female</option>
                                  <!-- <option>Others</option> -->
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                              <label>Date of Birth</label>
                              <div class="date-time-picker1">
                                <input type="text" name="date" id="date_picker1" placeholder="Choose Date"
                                  data-dtp="dtp_ecFbI">
                              </div>
                            </div>
                          </div>
                        </div>
                        <button type="submit" name="action" class="btn color2-bg float-btn">Save Changes<i
                            class="fal fa-save"></i></button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- dashboard-list-box end-->
                <!-- dashboard-content-->
                <div class="dashboard-content fl-wrap mat-top">
                  <div class="box-widget-item-header">
                    <h3>Address Details</h3>
                  </div>
                  <!-- profile-edit-container-->
                  <div class="profile-edit-container">
                    <form id="form2">
                      <div class="custom-form">
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                            <label>House No./ Street Name/ Area</label>
                            <input name="address_line_1" [(ngModel)]="profileDetails.address.address_line_1" type="text"
                              placeholder="" value="" />
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                            <label>Colony/ Street/ Locality</label>
                            <input name="address_line_2" [(ngModel)]="profileDetails.address.address_line_2" type="text"
                              placeholder="" value="" />
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                            <label>City</label>
                            <input name="city" [(ngModel)]="profileDetails.address.city" type="text" placeholder=""
                              value="" />
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                            <label>State</label>
                            <input name="state" [(ngModel)]="profileDetails.address.state" type="text" placeholder=""
                              value="" />
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                            <div class="listsearch-input-item gender-select">
                              <label>Country</label>
                              <select data-placeholder="Your Country" id="country"
                                class="chosen-select1 no-search-select">
                                <option>-- Choose One --</option>
                                <option [value]="item.id" *ngFor="let item  of countriesList">{{item.nicename}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12">
                            <label>Pincode</label>
                            <input name="postcode" [(ngModel)]="profileDetails.address.postcode" type="text"
                              placeholder="" value="" />
                          </div>
                        </div>
                        <button type="submit" name="action" class="btn color2-bg  float-btn">Save Changes<i
                            class="fal fa-save"></i></button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- dashboard-list-box end-->
                <!-- dashboard-content-->
                <div class="dashboard-content fl-wrap mat-top">
                  <div class="box-widget-item-header">
                    <h3>Change Password</h3>
                  </div>
                  <!-- profile-edit-container-->
                  <div class="profile-edit-container">
                    <form id="form3">
                      <div class="custom-form">
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <label>Old Password</label>
                            <input name="old_password" id="old_password" [(ngModel)]="passwordDetails.old_password"
                              type="password" placeholder="Ex. *********" value="" />
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <label>New Password</label>
                            <input name="new_password" id="new_password" [(ngModel)]="passwordDetails.new_password"
                              type="password" placeholder="Ex. *********" value="" />
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12">
                            <label>Re-Type New Password</label>
                            <input name="confirm_password" [(ngModel)]="passwordDetails.confirm_password"
                              id="confirm_password" type="password" placeholder="Ex. *********" value="" />
                          </div>
                        </div>
                        <button type="submit" name="action" class="btn color2-bg float-btn">Reset Password<i
                            class="fal fa-key"></i></button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- dashboard-list-box end-->
              </div>
              <div class="content-dis">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                    <div class="side-bar-tab">
                      <ul class="side-bar-tab-ul">
                        <li class="sidebar-tab-li {{currTab==1 ? 'active-li' : ''}}"><a
                            (click)="showcardlist(1);">Doctors</a></li>
                        <li class="sidebar-tab-li {{currTab==2 ? 'active-li' : ''}}"><a
                            (click)="showcardlist(2);">Clinics</a></li>
                        <li class="sidebar-tab-li {{currTab==3 ? 'active-li' : ''}}"><a
                            (click)="showcardlist(3);">Pharmacies</a></li>
                        <li class="sidebar-tab-li {{currTab==4 ? 'active-li' : ''}}"><a
                            (click)="showcardlist(4);">Shops</a></li>
                        <li class="sidebar-tab-li {{currTab==5 ? 'active-li' : ''}}"><a
                            (click)="showcardlist(5);">Fitness Centers</a></li>
                        <li class="sidebar-tab-li {{currTab==6 ? 'active-li' : ''}}"><a
                            (click)="showcardlist(6);">Blogs</a></li>
                        <li class="sidebar-tab-li {{currTab==7 ? 'active-li' : ''}}"><a
                            (click)="showcardlist(7);">Videos</a></li>
                        <li class="sidebar-tab-li {{currTab==8 ? 'active-li' : ''}}"><a
                            (click)="showcardlist(8);">Flipbooks</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-12">
                    <div class="mypro-card-list show-doc-card" *ngIf="currTab==1">
                      <div class="row">
                        <div *ngFor="let doc of likesList.likes" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/doctor-detail/{{doc.id}}"><img class="myprofile-card-img"
                                  [src]="doc?.about?.profile_pic || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                              <div class="sale-window medtype">{{doc?.about?.experience}} Yrs Exp</div>
                              <div class="geodir-category-opt doclistfooter">
                                <div class="rate-class-name">
                                  <div class="score"><strong>{{doc.reviews_count}}</strong>Feedbacks </div>
                                  <span>{{doc.likes_count}}<br> Likes</span>
                                </div>
                              </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                              <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                  <h3 class="title-sin_map"><a routerLink="/doctor-detail/{{doc.id}}">{{doc?.name}}</a>
                                  </h3>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="doc?.email"
                                      class="map-item"><i class="fal fa-envelope"></i> {{doc?.email}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a
                                      *ngIf="doc.show_number && doc?.contact_number" class="map-item"><i
                                        class="fal fa-phone"></i> {{doc?.contact_number}}</a></div>
                                  <!-- <div class="geodir-category-location fl-wrap"><a *ngIf="doc?.address" class="map-item"><i
                                        class="fal fa-map-marker-alt"></i> {{doc?.address?.city + ", " + doc?.address?.state}}.</a></div> -->
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-doc-card" *ngIf="currTab==2">
                      <div class="row">
                        <div *ngFor="let clinic of likesList.likes" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/clinic-detail/{{clinic?.id}}"><img class="myprofile-card-img"
                                  [src]="clinic?.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                              <div class="sale-window medtype">{{clinic?.type}}</div>
                              <div class="geodir-category-opt doclistfooter">
                                <div class="rate-class-name">
                                  <div class="score"><strong>{{clinic?.reviews_count}}</strong>Feedbacks </div>
                                  <span>{{clinic?.likes_count}}<br> Likes</span>
                                </div>
                              </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                              <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                  <h3 class="title-sin_map"><a
                                      routerLink="/clinic-detail/{{clinic?.id}}">{{clinic?.name}}</a>
                                  </h3>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="clinic?.email"
                                      class="map-item"><i class="fal fa-envelope"></i> {{clinic?.email}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a
                                      *ngIf="clinic?.show_number && clinic?.contact_number" class="map-item"><i
                                        class="fal fa-phone"></i> {{clinic?.contact_number}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="clinic?.address"
                                      class="map-item"><i class="fal fa-map-marker-alt"></i>
                                      {{clinic?.address?.city + ", " + clinic?.address?.state}}.</a></div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-phar-card" *ngIf="currTab==3">
                      <div class="row">
                        <div *ngFor="let phar of likesList.likes" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/pharmacy-detail/{{phar.id}}"><img class="myprofile-card-img"
                                  [src]="phar?.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                              <!-- <div class="sale-window">{{phar?.type}}</div> -->
                              <div class="geodir-category-opt doclistfooter">
                                <div class="rate-class-name">
                                  <div class="score"><strong>{{phar.reviews_count}}</strong>Feedbacks </div>
                                  <span>{{phar.likes_count}}<br> Likes</span>
                                </div>
                              </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                              <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                  <h3 class="title-sin_map"><a
                                      routerLink="/pharmacy-detail/{{phar.id}}">{{phar?.name}}</a>
                                  </h3>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="phar?.email"
                                      class="map-item"><i class="fal fa-envelope"></i> {{phar?.email}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a
                                      *ngIf="phar.show_number && phar?.contact_number" class="map-item"><i
                                        class="fal fa-phone"></i> {{phar?.contact_number}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="phar?.address"
                                      class="map-item"><i class="fal fa-map-marker-alt"></i>
                                      {{phar?.address?.city + ", " + phar?.address?.state}}.</a></div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-shop-card" *ngIf="currTab==4">
                      <div class="row">
                        <div *ngFor="let shopdet of likesList.likes"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/shop-detail/{{shopdet?.id}}"><img class="myprofile-card-img"
                                  [src]="shopdet?.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                              <div class="sale-window">{{shopdet?.category}}</div>
                              <div class="geodir-category-opt doclistfooter">
                                <div class="rate-class-name">
                                  <div class="score"><strong>{{shopdet?.reviews_count}}</strong>Feedbacks </div>
                                  <span>{{shopdet?.likes_count}}<br> Likes</span>
                                </div>
                              </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                              <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                  <h3 class="title-sin_map"><a
                                      routerLink="/shop-detail/{{shopdet?.id}}">{{shopdet?.name}}</a>
                                  </h3>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="shopdet?.email"
                                      class="map-item"><i class="fal fa-envelope"></i> {{shopdet?.email}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a
                                      *ngIf="shopdet?.show_number && shopdet?.contact_number" class="map-item"><i
                                        class="fal fa-phone"></i> {{shopdet?.contact_number}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="shopdet?.address"
                                      class="map-item"><i class="fal fa-map-marker-alt"></i>
                                      {{shopdet?.address?.city + ", " + shopdet?.address?.state}}.</a></div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-fit-card" *ngIf="currTab==5">
                      <div class="row">
                        <div *ngFor="let fitnessdet of likesList.likes"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/fitness-detail/{{fitnessdet?.id}}"><img class="myprofile-card-img"
                                  [src]="fitnessdet?.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                              <div class="sale-window">{{fitnessdet?.category}}</div>
                              <div class="geodir-category-opt doclistfooter">
                                <div class="rate-class-name">
                                  <div class="score"><strong>{{fitnessdet?.reviews_count}}</strong>Feedbacks </div>
                                  <span>{{fitnessdet?.likes_count}}<br> Likes</span>
                                </div>
                              </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                              <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                  <h3 class="title-sin_map"><a
                                      routerLink="/fitness-detail/{{fitnessdet?.id}}">{{fitnessdet?.name}}</a>
                                  </h3>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="fitnessdet?.email"
                                      class="map-item"><i class="fal fa-envelope"></i> {{fitnessdet?.email}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a
                                      *ngIf="fitnessdet?.show_number && fitnessdet?.contact_number" class="map-item"><i
                                        class="fal fa-phone"></i> {{fitnessdet?.contact_number}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="fitnessdet?.address"
                                      class="map-item"><i class="fal fa-map-marker-alt"></i>
                                      {{fitnessdet?.address?.city + ", " + fitnessdet?.address?.state}}.</a></div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-blog-card" *ngIf="currTab==6">
                      <div class="row">
                        <div *ngFor="let blog of likesList.likes" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/blog-detail/{{blog.id}}"><img class="mypro-phar-img"
                                  [src]="blog?.image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                            </div>
                            <div class="card-post-content fl-wrap">
                              <h3><a class="pointer" routerLink="/blog-detail/{{blog.id}}">{{blog.title}}</a></h3>
                              <div class="post-opt">
                                <ul>
                                  <li><i class="fal fa-heart"></i> <a>{{blog.likes_count}}</a> </li>
                                  <!-- <li><i class="fal fa-eye"></i> <a href="#!">78</a> </li> -->
                                  <li><i class="fal fa-comments"></i> <a>{{blog.reviews_count}}</a> </li>
                                  <li class="fright"><i class="fal fa-calendar"></i>
                                    <span>{{blog.created_at | date : "dd MMM yy hh:mm a"}}</span></li>
                                </ul>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-video-card" *ngIf="currTab==7">
                      <div class="row">
                        <div *ngFor="let videodet of likesList.likes"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/video-detail/{{videodet.id}}"><img class="mypro-phar-img"
                                  [src]="videodet?.thumbnail || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                            </div>
                            <div class="card-post-content fl-wrap">
                              <h3><a class="pointer" routerLink="/video-detail/{{videodet.id}}">{{videodet.title}}</a>
                              </h3>
                              <div class="post-opt">
                                <ul>
                                  <li><i class="fal fa-heart"></i> <a>{{videodet.likes_count}}</a> </li>
                                  <!-- <li><i class="fal fa-eye"></i> <a href="#!">78</a> </li> -->
                                  <li><i class="fal fa-comments"></i> <a>{{videodet.reviews_count}}</a> </li>
                                  <li class="fright"><i class="fal fa-calendar"></i>
                                    <span>{{videodet.created_at | date : "dd MMM yy hh:mm a"}}</span></li>
                                </ul>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-flip-card" *ngIf="currTab==8">
                      <div class="row">
                        <div *ngFor="let bookdet of likesList.likes"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/flipbook-detail/{{bookdet.id}}"><img class="mypro-phar-img"
                                  [src]="bookdet?.featured_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                            </div>
                            <div class="card-post-content fl-wrap">
                              <h3><a class="pointer" routerLink="/flipbook-detail/{{bookdet.id}}">{{bookdet.title}}</a>
                              </h3>
                              <div class="post-opt">
                                <ul>
                                  <li><i class="fal fa-heart"></i> <a>{{bookdet.likes_count}}</a> </li>
                                  <!-- <li><i class="fal fa-eye"></i> <a href="#!">78</a> </li> -->
                                  <li><i class="fal fa-comments"></i> <a>{{bookdet.reviews_count}}</a> </li>
                                  <li class="fright"><i class="fal fa-calendar"></i>
                                    <span>{{bookdet.created_at | date : "dd MMM yy hh:mm a"}}</span></li>
                                </ul>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-dis">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                    <div class="side-bar-tab">
                      <ul class="side-bar-tab-ul">
                        <li class="sidebar-tab-li {{currTab==1 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(1);">Doctors</a></li>
                        <li class="sidebar-tab-li {{currTab==2 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(2);">Clinics</a></li>
                        <li class="sidebar-tab-li {{currTab==3 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(3);">Pharmacies</a></li>
                        <li class="sidebar-tab-li {{currTab==4 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(4);">Shops</a></li>
                        <li class="sidebar-tab-li {{currTab==5 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(5);">Fitness Centers</a></li>
                        <li class="sidebar-tab-li {{currTab==6 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(6);">Blogs</a></li>
                        <li class="sidebar-tab-li {{currTab==7 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(7);">Videos</a></li>
                        <li class="sidebar-tab-li {{currTab==8 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(8);">Flipbooks</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-12">
                    <div class="mypro-card-list show-doc-card" *ngIf="currTab==1">
                      <div class="row">
                        <div *ngFor="let doc of likesList.bookmarks"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/clinic-detail/{{doc.id}}"><img class="myprofile-card-img"
                                  [src]="doc?.about?.profile_pic || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                              <div class="sale-window medtype">{{doc?.about?.experience}} Yrs Exp</div>
                              <div class="geodir-category-opt doclistfooter">
                                <div class="rate-class-name">
                                  <div class="score"><strong>{{doc.reviews_count}}</strong>Feedbacks </div>
                                  <span>{{doc.likes_count}}<br> Likes</span>
                                </div>
                              </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                              <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                  <h3 class="title-sin_map"><a routerLink="/doctor-detail/{{doc.id}}">{{doc?.name}}</a>
                                  </h3>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="doc?.email"
                                      class="map-item"><i class="fal fa-envelope"></i> {{doc?.email}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a
                                      *ngIf="doc.show_number && doc?.contact_number" class="map-item"><i
                                        class="fal fa-phone"></i> {{doc?.contact_number}}</a></div>
                                  <!-- <div class="geodir-category-location fl-wrap"><a *ngIf="doc?.address" class="map-item"><i
                                        class="fal fa-map-marker-alt"></i> {{doc?.address?.city + ", " + doc?.address?.state}}.</a></div> -->
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-doc-card" *ngIf="currTab==2">
                      <div class="row">
                        <div *ngFor="let clinic of likesList.bookmarks"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/clinic-detail/{{clinic?.id}}"><img class="myprofile-card-img"
                                  [src]="clinic?.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                              <div class="sale-window medtype">{{clinic?.type}}</div>
                              <div class="geodir-category-opt doclistfooter">
                                <div class="rate-class-name">
                                  <div class="score"><strong>{{clinic?.reviews_count}}</strong>Feedbacks </div>
                                  <span>{{clinic?.likes_count}}<br> Likes</span>
                                </div>
                              </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                              <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                  <h3 class="title-sin_map"><a
                                      routerLink="/doctor-detail/{{clinic?.id}}">{{clinic?.name}}</a>
                                  </h3>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="clinic?.email"
                                      class="map-item"><i class="fal fa-envelope"></i> {{clinic?.email}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a
                                      *ngIf="clinic?.show_number && clinic?.contact_number" class="map-item"><i
                                        class="fal fa-phone"></i> {{clinic?.contact_number}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="clinic?.address"
                                      class="map-item"><i class="fal fa-map-marker-alt"></i>
                                      {{clinic?.address?.city + ", " + clinic?.address?.state}}.</a></div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-phar-card" *ngIf="currTab==3">
                      <div class="row">
                        <div *ngFor="let phar of likesList.bookmarks"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/pharmacy-detail/{{phar.id}}"><img class="myprofile-card-img"
                                  [src]="phar?.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                              <!-- <div class="sale-window">{{phar?.type}}</div> -->
                              <div class="geodir-category-opt doclistfooter">
                                <div class="rate-class-name">
                                  <div class="score"><strong>{{phar.reviews_count}}</strong>Feedbacks </div>
                                  <span>{{phar.likes_count}}<br> Likes</span>
                                </div>
                              </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                              <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                  <h3 class="title-sin_map"><a
                                      routerLink="/doctor-detail/{{phar.id}}">{{phar?.name}}</a>
                                  </h3>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="phar?.email"
                                      class="map-item"><i class="fal fa-envelope"></i> {{phar?.email}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a
                                      *ngIf="phar.show_number && phar?.contact_number" class="map-item"><i
                                        class="fal fa-phone"></i> {{phar?.contact_number}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="phar?.address"
                                      class="map-item"><i class="fal fa-map-marker-alt"></i>
                                      {{phar?.address?.city + ", " + phar?.address?.state}}.</a></div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-shop-card" *ngIf="currTab==4">
                      <div class="row">
                        <div *ngFor="let shopdet of likesList.bookmarks"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/shop-detail/{{shopdet?.id}}"><img class="myprofile-card-img"
                                  [src]="shopdet?.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                              <div class="sale-window">{{shopdet?.category}}</div>
                              <div class="geodir-category-opt doclistfooter">
                                <div class="rate-class-name">
                                  <div class="score"><strong>{{shopdet?.reviews_count}}</strong>Feedbacks </div>
                                  <span>{{shopdet?.likes_count}}<br> Likes</span>
                                </div>
                              </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                              <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                  <h3 class="title-sin_map"><a
                                      routerLink="/doctor-detail/{{shopdet?.id}}">{{shopdet?.name}}</a>
                                  </h3>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="shopdet?.email"
                                      class="map-item"><i class="fal fa-envelope"></i> {{shopdet?.email}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a
                                      *ngIf="shopdet?.show_number && shopdet?.contact_number" class="map-item"><i
                                        class="fal fa-phone"></i> {{shopdet?.contact_number}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="shopdet?.address"
                                      class="map-item"><i class="fal fa-map-marker-alt"></i>
                                      {{shopdet?.address?.city + ", " + shopdet?.address?.state}}.</a></div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-fit-card" *ngIf="currTab==5">
                      <div class="row">
                        <div *ngFor="let fitnessdet of likesList.bookmarks"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/shop-detail/{{fitnessdet?.id}}"><img class="myprofile-card-img"
                                  [src]="fitnessdet?.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                              <div class="sale-window">{{fitnessdet?.category}}</div>
                              <div class="geodir-category-opt doclistfooter">
                                <div class="rate-class-name">
                                  <div class="score"><strong>{{fitnessdet?.reviews_count}}</strong>Feedbacks </div>
                                  <span>{{fitnessdet?.likes_count}}<br> Likes</span>
                                </div>
                              </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                              <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                  <h3 class="title-sin_map"><a
                                      routerLink="/doctor-detail/{{fitnessdet?.id}}">{{fitnessdet?.name}}</a>
                                  </h3>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="fitnessdet?.email"
                                      class="map-item"><i class="fal fa-envelope"></i> {{fitnessdet?.email}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a
                                      *ngIf="fitnessdet?.show_number && fitnessdet?.contact_number" class="map-item"><i
                                        class="fal fa-phone"></i> {{fitnessdet?.contact_number}}</a></div>
                                  <div class="geodir-category-location fl-wrap"><a *ngIf="fitnessdet?.address"
                                      class="map-item"><i class="fal fa-map-marker-alt"></i>
                                      {{fitnessdet?.address?.city + ", " + fitnessdet?.address?.state}}.</a></div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-blog-card" *ngIf="currTab==6">
                      <div class="row">
                        <div *ngFor="let blog of likesList.bookmarks"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/blog-detail/{{blog.id}}"><img class="mypro-phar-img"
                                  [src]="blog?.image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                            </div>
                            <div class="card-post-content fl-wrap">
                              <h3><a class="pointer" routerLink="/blog-detail/{{blog.id}}">{{blog.title}}</a></h3>
                              <div class="post-opt">
                                <ul>
                                  <li><i class="fal fa-heart"></i> <a>{{blog.likes_count}}</a> </li>
                                  <!-- <li><i class="fal fa-eye"></i> <a href="#!">78</a> </li> -->
                                  <li><i class="fal fa-comments"></i> <a>{{blog.reviews_count}}</a> </li>
                                  <li class="fright"><i class="fal fa-calendar"></i>
                                    <span>{{blog.created_at | date : "dd MMM yy hh:mm a"}}</span></li>
                                </ul>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-video-card" *ngIf="currTab==7">
                      <div class="row">
                        <div *ngFor="let videodet of likesList.bookmarks"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/video-detail/{{videodet.id}}"><img class="mypro-phar-img"
                                  [src]="videodet?.thumbnail || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                            </div>
                            <div class="card-post-content fl-wrap">
                              <h3><a class="pointer" routerLink="/video-detail/{{videodet.id}}">{{videodet.title}}</a>
                              </h3>
                              <div class="post-opt">
                                <ul>
                                  <li><i class="fal fa-heart"></i> <a>{{videodet.likes_count}}</a> </li>
                                  <!-- <li><i class="fal fa-eye"></i> <a href="#!">78</a> </li> -->
                                  <li><i class="fal fa-comments"></i> <a>{{videodet.reviews_count}}</a> </li>
                                  <li class="fright"><i class="fal fa-calendar"></i>
                                    <span>{{videodet.created_at | date : "dd MMM yy hh:mm a"}}</span></li>
                                </ul>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="mypro-card-list show-flip-card" *ngIf="currTab==8">
                      <div class="row">
                        <div *ngFor="let bookdet of likesList.bookmarks"
                          class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                          <article class="geodir-category-listing fl-wrap mypro-doc-card">
                            <div class="geodir-category-img">
                              <a routerLink="/flipbook-detail/{{bookdet.id}}"><img class="mypro-phar-img"
                                  [src]="bookdet?.featured_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                            </div>
                            <div class="card-post-content fl-wrap">
                              <h3><a class="pointer" routerLink="/flipbook-detail/{{bookdet.id}}">{{bookdet.title}}</a>
                              </h3>
                              <div class="post-opt">
                                <ul>
                                  <li><i class="fal fa-heart"></i> <a>{{bookdet.likes_count}}</a> </li>
                                  <!-- <li><i class="fal fa-eye"></i> <a href="#!">78</a> </li> -->
                                  <li><i class="fal fa-comments"></i> <a>{{bookdet.reviews_count}}</a> </li>
                                  <li class="fright"><i class="fal fa-calendar"></i>
                                    <span>{{bookdet.created_at | date : "dd MMM yy hh:mm a"}}</span></li>
                                </ul>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-dis">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-12">
                    <div class="side-bar-tab">
                      <ul class="side-bar-tab-ul">
                        <li class="sidebar-tab-li {{currTab==1 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(1);">Doctors</a></li>
                        <li class="sidebar-tab-li {{currTab==2 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(2);">Clinics</a></li>
                        <li class="sidebar-tab-li {{currTab==3 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(3);">Pharmacies</a></li>
                        <li class="sidebar-tab-li {{currTab==4 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(4);">Shops</a></li>
                        <li class="sidebar-tab-li {{currTab==5 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(5);">Fitness Centers</a></li>
                        <li class="sidebar-tab-li {{currTab==6 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(6);">Blogs</a></li>
                        <li class="sidebar-tab-li {{currTab==7 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(7);">Videos</a></li>
                        <li class="sidebar-tab-li {{currTab==8 ? 'active-li' : ''}}"><a
                            (click)="showBookmarkList(8);">Flipbooks</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-12">
                    <div class="review-box" *ngFor="let review of likesList.reviews">
                      <div class="review-sec">
                        <p class="review-txt">{{review.text}}</p>
                        <div class="datesec">
                          <span class="review-date"><i class="fal fa-calendar"></i> <span>{{review.created_at | date : 'dd MMM yyyy'}}</span></span>
                          <!-- <p class="review-sec-name">Blogs</p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- dasboard-wrap end-->
          </div>
        </div>
      </div>
    </section>
    <div class="limit-box fl-wrap"></div>
  </div>
  <!-- content end-->
</div>
