.profilecls div {
  height: 90px;
}

.custom-form input {
  margin-bottom: 5px !important;
}

.review-sec {
  display: flex !important;
}

.dasboard-avatar img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.custom-tab {
  display: flex;
  label {
    width: 100%;
  }
}
