@font-face {
  font-family: sofiaProMedium;
  src: url('assets/fonts/sofia_pro_medium-webfont.woff2');
}

// #main{
//   overflow-y: auto !important;
// }

body {
  overflow-y: auto !important;
  font-family: sofiaProMedium !important;
}

div.error {
  text-align: right;
  color: #EF0000 !important;
  margin-bottom: 10px;
  font-size: 13px;
}

body {
  background: #fff !important;
}

.pointer {
  cursor: pointer !important;
}

.plyr {
  max-height: 400px !important
}

.plyr__poster {
  background-color: white !important;
  background-size: cover !important;
}

.dtp-select-year-range {
  color: #212121 !important;

  i {
    right: inherit !important;
  }
}

.typecls-123 {
  a {
    color: #F9B90F !important;
  }

  margin-top: 10px;
}

.emailcls123 {
  margin-top: 10px;
}

.light-carousel-1 .slick-slide{
  padding: 0 10px !important;
}