<div id="wrapper">
  <!-- content-->
  <div class="content">
    <!--  section  -->
    <section class="color-bg middle-padding banner-sec">
      <div class="wave-bg wave-bg2 blogs-bg"></div>
      <div class="container">
        <div class="flat-title-wrap top-banner-sec">
          <h2><span>Our Forum</span></h2>
          <!-- <span class="section-separator"></span> -->
          <!-- <h3>Solve all your doubt and enrich life with great articles from top doctors around the world</h3> -->
        </div>
      </div>
    </section>
    <!--  section  end-->
    <div class="breadcrumbs-fs fl-wrap">
      <div class="container">
        <div class="breadcrumbs fl-wrap"><a class="pointer" routerLink="/">Home</a><a class="pointer" routerLink="/forums">Forum</a><span>{{forumDetail.title}}</span>
        </div>
      </div>
    </div>
    <!--  section  -->
    <section class="grey-blue-bg small-padding scroll-nav-container1" id="sec2">
      <!--   container  -->
      <div class="container">
        <!--   row  -->
        <div class="row">
          <!--   datails -->
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="list-single-main-container">
              <!--   list-single-main-item -->
              <div class="list-single-main-item fl-wrap blog-content">
                <h3 class="video-det-tit">{{forumDetail.title}}</h3>
                <p>{{forumDetail.description}}</p>
                <div class="forum-det-btmsec">
                  <ul class="video-det-ul">
                    <!-- <li><i class="fal fa-eye"></i> <a href="#">78</a> </li>
                                        <li><i class="fal fa-comments-alt"></i> <a href="#">10</a> </li>
                                        <li><i class="fal fa-hand-point-right"></i> <span>20</span></li> -->
                    <!--<li><i class="fal fa-share-alt"></i> <span>8</span></li>-->
                    <li class="fright"><i class="fal fa-calendar"></i>
                      <span>{{forumDetail.created_at | date : 'dd MMM yyyy' }}</span></li>
                  </ul>
                  <div class="video-det-links">
                    <a class="lisd-link">{{forumDetail?.category?.name}}</a>
                  </div>
                </div>
              </div>
              <!--   list-single-main-item end -->
            </div>
            <!-- list-single-main-item -->
            <div *ngIf="reviewList?.length>0" class="list-single-main-item comments-sec fl-wrap video-det-comments-sec"
              id="sec5">
              <!-- reviews-score-wrap end -->
              <div class="reviews-comments-wrap">
                <div class="reviews-comments-item" *ngFor="let comment of reviewList">
                  <div class="review-comments-avatar">
                    <img [src]="comment?.user?.profile_pic" alt="">
                  </div>
                  <div class="reviews-comments-item-text">
                    <h4><a>{{comment?.user?.first_name}}</a></h4>
                    <div class="clearfix"></div>
                    <p>{{comment.comment}}</p>
                    <div class="reviews-comments-item-date"><span><i
                          class="far fa-calendar-check"></i>{{comment.created_at | date : "dd MMM yyyy"}}</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- list-single-main-item end -->
            <!-- list-single-main-item -->
            <div class="list-single-main-item fl-wrap" id="sec6">
              <div class="list-single-main-item-title fl-wrap">
                <h3>Post Your Comment</h3>
              </div>
              <!-- Add Review Box -->
              <div id="add-review" class="add-review-box">
                <!-- Review Comment -->
                <div id="" class="add-comment  custom-form" name="rangeCalc">
                  <fieldset>
                    <textarea [(ngModel)]="myreview" cols="40" rows="3" placeholder="Your Comment:"></textarea>
                  </fieldset>
                  <button (click)="submitReview()" class="btn  big-btn flat-btn float-btn color2-bg"
                    style="margin-top:30px">Submit Comment <i class="fal fa-paper-plane"></i></button>
                </div>
              </div>
              <!-- Add Review Box / End -->
            </div>
            <!-- list-single-main-item end -->
            <!--light-carousel-wrap-->
          </div>
          <!--   sidebar  -->
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!--box-widget-wrap -->
            <div class="box-widget-wrap fl-wrap hidden-in-ipad">
              <!--box-widget-item -->
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header">
                      <h3> Ask Question? </h3>
                    </div>
                    <div class="search-widget">
                      <form action="#" class="fl-wrap">
                        <input name="se" id="se" type="text" class="search" placeholder="Type question here..."
                          value="Type question here..." />
                        <button class="search-submit color2-bg" id="submit_btn"><i
                            class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--box-widget-item end -->
              <!--box-widget-item -->
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header">
                      <h3> Posted Person </h3>
                    </div>
                    <div class="author-details-widget">
                      <a href="#" class="img"><img src="images/avatar/4.jpg" alt=""></a>
                      <a href="#" class="details">
                        <span class="name">Dr.Aanchal Sehrawat &nbsp; <i
                            class="fal fa-external-link-alt"></i></span><br>
                        <span class="email spantext"><i class="fal fa-envelope-open"></i>&nbsp;
                          draanchal@gmail.com</span>
                        <span class="phno spantext"><i class="fal fa-phone"></i>&nbsp; 9094483144</span>
                        <span class="speciality spantext"><i class="fa fa-map-pin">&nbsp;</i>Chennai</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!--box-widget-item end -->
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header fnone mb-15px">
                      <h3> Related Questions </h3>
                    </div>
                    <div class="related-question-widget">
                      <ul>
                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!!
                          Or mediation t... <a href="#">Read more</a></li>
                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!!
                          Or mediation t... <a href="#">Read more</a></li>
                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or treatment...!!
                          Or mediation t... <a href="#">Read more</a></li>
                      </ul>
                      <a href="list-forums.html" class="color-bg view-all-btn">View All</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team-holder section-team fl-wrap flipbook-show">
                <div class="team-box">
                  <div class="team-photo">
                    <img src="images/blogs/blog-1.jpg" alt="" class="respimg">
                    <div class="sale-window big-sale">Blog</div>
                  </div>
                  <div class="team-info">
                    <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                    <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                    <h4>Heart Diseases | Healthy Heart</h4>
                    <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="team-social">
                      <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                      </ul>
                      <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--box-widget-item -->
              <div class="box-widget-item fl-wrap">
                <div class="box-widget counter-widget">
                  <div class="banner-wdget fl-wrap">
                    <div class="overlay"></div>
                    <div class="bg" data-bg="images/blogs/rel-blog-post-3.jpg"></div>
                    <div class="banner-wdget-content fl-wrap">
                      <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                      <div class="countdown fl-wrap">
                        <div class="countdown-item">
                          <span class="days rot">200</span>
                          <p>Views</p>
                        </div>
                        <div class="countdown-item">
                          <span class="hours rot">17</span>
                          <p>Likes</p>
                        </div>
                        <div class="countdown-item">
                          <span class="minutes rot">26</span>
                          <p>Comments</p>
                        </div>
                      </div>
                      <a href="#">Watch Video Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team-holder section-team fl-wrap flipbook-show">
                <div class="team-box">
                  <div class="team-photo">
                    <img src="images/blogs/flipbook-sample.jpg" alt="" class="respimg">
                    <div class="sale-window big-sale">Flip Book</div>
                  </div>
                  <div class="team-info">
                    <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                    <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                    <h4>Heart Diseases | Healthy Heart</h4>
                    <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="team-social">
                      <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                      </ul>
                      <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header">
                      <h3> Follow Us </h3>
                    </div>
                    <div class="follow-us-widget">
                      <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="images/blogs/facebook.svg"></a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="images/blogs/twitter.svg"></a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="images/blogs/google-plus.svg"></a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <a class="follow-us-btn" href="#"><img src="images/blogs/linkedin.svg"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--box-widget-item -->
              <div class="box-widget-item fl-wrap">
                <div class="box-widget">
                  <div class="box-widget-content">
                    <div class="box-widget-item-header">
                      <h3> Get health tips in your inbox </h3>
                    </div>
                    <div class="search-widget">
                      <img src="images/blogs/mailbox.svg" alt="" class="mail-box">
                      <form action="#" class="fl-wrap">
                        <input name="se" id="se" type="text" class="search" placeholder="Enter your email id here" />
                        <button class="search-submit color2-bg" id="submit_btn"><i
                            class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--box-widget-wrap end -->
            <div class="show-in-ipad">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <!--box-widget-item -->
                  <div class="box-widget-item fl-wrap">
                    <div class="box-widget">
                      <div class="box-widget-content">
                        <div class="box-widget-item-header">
                          <h3> Ask Question? </h3>
                        </div>
                        <div class="search-widget">
                          <form action="#" class="fl-wrap">
                            <input name="se" id="se" type="text" class="search" placeholder="Type question here..."
                              value="Type question here..." />
                            <button class="search-submit color2-bg" id="submit_btn"><i
                                class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--box-widget-item end -->
                  <!--box-widget-item -->
                  <div class="box-widget-item fl-wrap">
                    <div class="box-widget">
                      <div class="box-widget-content">
                        <div class="box-widget-item-header">
                          <h3> Posted Person </h3>
                        </div>
                        <div class="author-details-widget">
                          <a href="#" class="img"><img src="images/avatar/4.jpg" alt=""></a>
                          <a href="#" class="details">
                            <span class="name">Dr.Aanchal Sehrawat &nbsp; <i
                                class="fal fa-external-link-alt"></i></span><br>
                            <span class="email spantext"><i class="fal fa-envelope-open"></i>&nbsp;
                              draanchal@gmail.com</span>
                            <span class="phno spantext"><i class="fal fa-phone"></i>&nbsp; 9094483144</span>
                            <span class="speciality spantext"><i class="fa fa-map-pin">&nbsp;</i>Chennai</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--box-widget-item end -->

                  <div class="team-holder section-team fl-wrap flipbook-show">
                    <div class="team-box">
                      <div class="team-photo">
                        <img src="images/blogs/blog-1.jpg" alt="" class="respimg">
                        <div class="sale-window big-sale">Blog</div>
                      </div>
                      <div class="team-info">
                        <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                        <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                        <h4>Heart Diseases | Healthy Heart</h4>
                        <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                          eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <div class="team-social">
                          <ul>
                            <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                          </ul>
                          <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--box-widget-item -->
                  <div class="box-widget-item fl-wrap">
                    <div class="box-widget counter-widget">
                      <div class="banner-wdget fl-wrap">
                        <div class="overlay"></div>
                        <div class="bg" data-bg="images/blogs/rel-blog-post-3.jpg"></div>
                        <div class="banner-wdget-content fl-wrap">
                          <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                          <div class="countdown fl-wrap">
                            <div class="countdown-item">
                              <span class="days rot">200</span>
                              <p>Views</p>
                            </div>
                            <div class="countdown-item">
                              <span class="hours rot">17</span>
                              <p>Likes</p>
                            </div>
                            <div class="countdown-item">
                              <span class="minutes rot">26</span>
                              <p>Comments</p>
                            </div>
                          </div>
                          <a href="#">Watch Video Now</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="box-widget-item fl-wrap">
                    <div class="box-widget">
                      <div class="box-widget-content">
                        <div class="box-widget-item-header fnone mb-15px">
                          <h3> Related Questions </h3>
                        </div>
                        <div class="related-question-widget">
                          <ul>
                            <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or
                              treatment...!! Or mediation t... <a href="#">Read more</a></li>
                            <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or
                              treatment...!! Or mediation t... <a href="#">Read more</a></li>
                            <li><b>Hair growth problem</b>Hair growth problem...!! Pleas refer me any oil or
                              treatment...!! Or mediation t... <a href="#">Read more</a></li>
                          </ul>
                          <a href="list-forums.html" class="color-bg view-all-btn">View All</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="team-holder section-team fl-wrap flipbook-show">
                    <div class="team-box">
                      <div class="team-photo">
                        <img src="images/blogs/flipbook-sample.jpg" alt="" class="respimg">
                        <div class="sale-window big-sale">Flip Book</div>
                      </div>
                      <div class="team-info">
                        <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                        <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                        <h4>Heart Diseases | Healthy Heart</h4>
                        <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                          eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <div class="team-social">
                          <ul>
                            <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                          </ul>
                          <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box-widget-item fl-wrap">
                    <div class="box-widget">
                      <div class="box-widget-content">
                        <div class="box-widget-item-header">
                          <h3> Follow Us </h3>
                        </div>
                        <div class="follow-us-widget">
                          <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                              <a class="follow-us-btn" href="#"><img src="images/blogs/facebook.svg"></a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                              <a class="follow-us-btn" href="#"><img src="images/blogs/twitter.svg"></a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                              <a class="follow-us-btn" href="#"><img src="images/blogs/google-plus.svg"></a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                              <a class="follow-us-btn" href="#"><img src="images/blogs/linkedin.svg"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--box-widget-item -->
                  <div class="box-widget-item fl-wrap">
                    <div class="box-widget">
                      <div class="box-widget-content">
                        <div class="box-widget-item-header">
                          <h3> Get health tips in your inbox </h3>
                        </div>
                        <div class="search-widget">
                          <img src="images/blogs/mailbox.svg" alt="" class="mail-box">
                          <form action="#" class="fl-wrap">
                            <input name="se" id="se" type="text" class="search"
                              placeholder="Enter your email id here" />
                            <button class="search-submit color2-bg" id="submit_btn"><i
                                class="fal fa-arrow-alt-circle-right transition send-icon"></i> </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--   sidebar end  -->
        </div>
        <!--   row end  -->
      </div>
      <!--   container  end  -->
    </section>
    <!--  section  end-->
  </div>
  <!-- content end-->
  <div class="limit-box fl-wrap"></div>
</div>
