<div id="wrapper" class="pt58">
  <div class="content">
    <section class="hero-section" data-scrollax-parent="true" id="sec1">
      <div class="hero-parallax">
        <div class="bg bannersection" data-bg="assets/images/custom/bannernew.jpg"></div>
        <!-- <div class="overlay op7"></div> -->
      </div>
      <div class="hero-section-wrap fl-wrap">
        <div class="container">
          <div class="home-intro">
            <div class="section-title-separator"><span></span></div>
            <h2>Connect With Us! Stay Healthy!</h2>
            <span class="section-separator"></span>
            <h3>Let's start exploring the world together with Health & Fitness</h3>
          </div>
          <div class="main-search-input-wrap">
            <div class="main-search-input fl-wrap">
              <div class="main-search-input-item location" id="autocomplete-container">
                <span class="inpt_dec"><i class="fal fa-map-marker"></i></span>
                <input type="text" placeholder="City..." class="autocomplete-input" id="autocompleteid2" value="" />
                <a href="#"><i class="fal fa-dot-circle"></i></a>
              </div>
              <div class="main-search-input-item">
                <div class="qty-dropdown fl-wrap">
                  <div class="qty-dropdown-header fl-wrap"><i class="fal fa-users"></i>
                    <input class="autocomplete_input" (focus)="showHideAutoComplete(true)"
                      (focusout)="showHideAutoComplete(false)" name="search" [(ngModel)]="searchVal"
                      (keyup)="search(searchVal)" type="text"
                      placeholder="Search Doctors, Pharmacies, Medicines, Shops..">
                  </div>
                  <div class="search_block qty-dropdown-content fl-wrap nopadding searchddm">
                    <div class="hospitalsection" *ngIf="searchResults?.hospitals?.length>0">
                      <div class="searchddmtitle">
                        <p class="ddmtitle">Hospitals</p>
                      </div>
                      <div (click)="common.go('clinic-detail/' + item.id)" class="row minht"
                        *ngFor="let item of searchResults.hospitals;let index = index;"
                        [class.searchddmseperator]="index != (searchResults.hospitals.length-1)">
                        <div class="col-lg-2">
                          <span class="initialstyle">{{item.name.slice(0,1)}}</span>
                        </div>
                        <div class="col-lg-10 pl6">
                          <p class="ddmmaintitle">{{item.name}}</p>
                          <p *ngIf="item.city" class="ddmsubtitle">{{item.city}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="pharmaciessection" *ngIf="searchResults?.pharmacies?.length>0">
                      <div class="searchddmtitle">
                        <p class="ddmtitle">Pharmacies</p>
                      </div>
                      <div (click)="common.go('pharmacy-detail/' + item.id)" class="row minht"
                        *ngFor="let item of searchResults.pharmacies;let index = index;"
                        [class.searchddmseperator]="index != (searchResults.pharmacies.length-1)">
                        <div class="col-lg-2">
                          <span class="initialstyle">{{item.name.slice(0,1)}}</span>
                        </div>
                        <div class="col-lg-10 pl6">
                          <p class="ddmmaintitle">{{item.name}}</p>
                          <p *ngIf="item.city" class="ddmsubtitle">{{item.city}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="doctorsection" *ngIf="searchResults?.doctors?.length>0">
                      <div class="searchddmtitle">
                        <p class="ddmtitle">Doctors</p>
                      </div>
                      <div (click)="common.go('doctor-detail/' + item.id)" class="row minht"
                        *ngFor="let item of searchResults.doctors;let index = index;"
                        [class.searchddmseperator]="index != (searchResults.doctors.length-1)">
                        <div class="col-lg-2">
                          <span class="initialstyle">{{item.name.slice(0,1)}}</span>
                        </div>
                        <div class="col-lg-10 pl6">
                          <p class="ddmmaintitle">{{item.name}}</p>
                          <p *ngIf="item.city" class="ddmsubtitle">{{item.city}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="shopssection" *ngIf="searchResults?.shops?.length>0">
                      <div class="searchddmtitle">
                        <p class="ddmtitle">Shops</p>
                      </div>
                      <div (click)="common.go('shop-detail/' + item.id)" class="row minht"
                        *ngFor="let item of searchResults.shops;let index = index;"
                        [class.searchddmseperator]="index != (searchResults.shops.length-1)">
                        <div class="col-lg-2">
                          <span class="initialstyle">{{item.name.slice(0,1)}}</span>
                        </div>
                        <div class="col-lg-10 pl6">
                          <p class="ddmmaintitle">{{item.name}}</p>
                          <p *ngIf="item.city" class="ddmsubtitle">{{item.city}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="fitnesssection" *ngIf="searchResults?.fitness?.length>0">
                      <div class="searchddmtitle">
                        <p class="ddmtitle">Fitness</p>
                      </div>
                      <div (click)="common.go('fitness-detail/' + item.id)" class="row minht"
                        *ngFor="let item of searchResults.fitness;let index = index;"
                        [class.searchddmseperator]="index != (searchResults.fitness.length-1)">
                        <div class="col-lg-2">
                          <span class="initialstyle">{{item.name.slice(0,1)}}</span>
                        </div>
                        <div class="col-lg-10 pl6">
                          <p class="ddmmaintitle">{{item.name}}</p>
                          <p *ngIf="item.city" class="ddmsubtitle">{{item.city}}</p>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="quantity-item">
                      <a href="" class="ddmlink"><i class="fas fa-search"></i> Gynaecologist</a>
                    </div>
                    <div class="quantity-item">
                      <a href="" class="ddmlink"><i class="fas fa-search"></i> ENT Specialist</a>
                    </div>
                    <div class="quantity-item">
                      <a href="" class="ddmlink"><i class="fas fa-search"></i> Cardiologist</a>
                    </div>
                    <div class="quantity-item">
                      <a href="" class="ddmlink"><i class="fas fa-search"></i> Child Specialist</a>
                    </div> -->
                  </div>
                </div>
              </div>
              <button class="main-search-button color2-bg">Search Now<i class="fal fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="header-sec-link">
        <div class="container"><a href="#sec2" class="custom-scroll-link color-bg"><i
              class="fal fa-angle-double-down"></i></a></div>
      </div>
    </section>
    <section id="sec2" class="grey-blue-bg">
      <div class="container">
        <div class="section-title">
          <div class="section-title-separator"><span></span></div>
          <h2>Why Choose Us</h2>
          <span class="section-separator"></span>
          <p>Search for the best specialists or medical services and pick a suitable time slot and book instantly with
            a few clicks</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="process-item big-pad-pr-item">
              <span class="process-count"> </span>
              <div class="time-line-icon"><img src="assets/images/custom/doctor.png" class="healthicon"></div>
              <h4><a href="#"> Search Doctors & Clinics</a></h4>
              <p>Find out the best doctors, hospitals, Gym, near by you</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="process-item big-pad-pr-item">
              <span class="process-count"> </span>
              <div class="time-line-icon"><img src="assets/images/custom/medicine.png" class="healthicon"></div>
              <h4> <a href="#">Search Pharmacies & Medicines</a></h4>
              <p>Get advice from health experts on any health hazardous.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="process-item big-pad-pr-item nodecpre">
              <span class="process-count"> </span>
              <div class="time-line-icon"><img src="assets/images/custom/gym.png" class="healthicon"></div>
              <h4><a href="#">Search Shops & Fitness Centers</a></h4>
              <p>Ask questions and interact with people on your health needs.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="parallax-section ptb0" data-scrollax-parent="true">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title mt40">
            <div class="section-title-separator"><span></span></div>
            <h2 class="greencolor">Services We Provide</h2>
            <span class="section-separator"></span>
            <p class="servicecontent">For millions of people, Our platform is the trusted and familiar home where they
              know they’ll find a healing touch. It connects them with everything they need to take good care of
              themselves and their family - assessing health issues, finding the right doctor, Pharmacy, Fitness
              Centers and so on.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/custom/image1.png" class="sideimage">
        </div>
        <div class="col-md-6">
          <div class="servicecolorboxes">
            <div class="row ml60">
              <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="serviceboxes colorbox1">
                  <img src="assets/images/custom/serviceicon5.png" class="serviceicons">
                  <p>Fitness</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="serviceboxes colorbox2">
                  <img src="assets/images/custom/serviceicon2.png" class="serviceicons">
                  <p>Health</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="serviceboxes colorbox3">
                  <img src="assets/images/custom/serviceicon3.png" class="serviceicons">
                  <p>Diet and Nutrition</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="serviceboxes colorbox4">
                  <img src="assets/images/custom/serviceicon7.png" class="serviceicons">
                  <p>Kids Development</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="serviceboxes colorbox5">
                  <img src="assets/images/custom/serviceicon4.png" class="serviceicons">
                  <p>Parenting</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="serviceboxes colorbox6 plr0">
                  <img src="assets/images/custom/serviceicon1.png" class="serviceicons width43">
                  <p class="mb-10">Ask Doctor</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grey-blue-bg">
      <div class="container">
        <div class="section-title mb20">
          <div class="section-title-separator"><span></span></div>
          <h2>
            <!-- Doctors Nearby You -->
            Featured hospitals
          </h2>
          <span class="section-separator"></span>
          <p>No waiting. No hold music. Our platform is available round-the-clock.</p>
        </div>
        <div class="listing-item-container init-grid-items fl-wrap homedoctorsection">
          <div *ngFor="let item of homeDetails.clinics" class="listing-item has_two_column has_one_column homedoctors"
            style="padding:0px 5px !important;">
            <article class="geodir-category-listing fl-wrap">
              <div class="geodir-category-img width35">
                <a routerLink="/clinic-detail/{{item.id}}"><img
                    [src]="item?.banner_image || 'assets/images/custom/pharmacy-1.jpg'" alt=""></a>
                <div class="sale-window medtype">{{item?.type}} Yrs Exp</div>
                <div class="geodir-category-opt doclistfooter">
                  <div class="rate-class-name floatnone">
                    <div class="score floatleft mt15"><strong class="alignleft">{{item.reviews_count}}</strong>Feedback
                    </div>
                    <span class="floatright">{{item.likes_count}}<br> Likes</span>
                  </div>
                </div>
              </div>
              <div class="geodir-category-content fl-wrap title-sin_item width65">
                <div class="geodir-category-content-title fl-wrap doclistcontent">
                  <div class="geodir-category-content-title-item">
                    <h3 class="title-sin_map"><a routerLink="/clinic-detail/{{item.id}}">{{item?.name}}</a></h3>
                    <!-- <div class="geodir-category-location fl-wrap"><a href="#" class="map-item"><i
                          class="fas fa-briefcase-medical"></i> {{item.specialization[0]?.specialization}}</a></div> -->
                  </div>
                </div>
                <p>{{(item?.description.length < 180) ? item?.description : (item?.description.slice(0,180) + '...')}}
                </p>
                <ul class="facilities-list fl-wrap">
                  <li *ngIf="item.show_number && item?.contact_number"><i
                      class="fal fa-phone"></i><span>{{item?.contact_number}}</span></li>
                  <li *ngIf="item.email"><i class="fal fa-envelope"></i><span>{{item?.email}}</span></li>
                  <li><i class="fal fa-credit-card"></i><span>Online Payment :
                      {{item.online_payable ? 'Yes' : "No"}}</span></li>
                  <!-- <li><i class="fal fa-map-marker-alt"></i><span>{{}}kms From Here</span></li> -->
                </ul>
                <div class="geodir-category-footer fl-wrap doclistviewmore">
                  <div class="geodir-category-price bookappt">
                    <a routerLink="/clinic-detail/{{item.id}}">View More</a>
                    <!-- <div class="floatright">
                      <p class="voteicon"><i class="fa fa-thumbs-up"></i> 99%</p>
                      <p class="votetext">3467 Likes</p>
                    </div> -->
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section class="parallax-section ptb50" data-scrollax-parent="true">
      <div class="bg" data-bg="assets/images/custom/homefitness.jpg"
        data-scrollax="properties: { translateY: '100px' }">
      </div>
      <div class="overlay mediumoverlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="colomn-text pt0 fl-wrap pad-top-column-text_small pr0mobile">
              <div class="colomn-text-title centeraligndetails">
                <h3>
                  <!-- Most Popular Fitness Centres -->
                  Visitors Choice
                </h3>
                <p>Too Tired of Searching Fitness Centres that suits your needs. Login With Us & Start Enjoying.</p>
                <a routerLink="/fitness" class="btn color2-bg float-btn">View All Fitness Centres<i
                    class="fas fa-caret-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <!--light-carousel-wrap-->
            <div class="light-carousel-wrap fl-wrap fitness">
              <!--light-carousel-->
              <div class="light-carousel-1">
                <div class="slick-slide-item" *ngFor="let fitdet of homeDetails.fitness">
                  <div class="hotel-card fl-wrap title-sin_item">
                    <div class="geodir-category-img card-post">
                      <a class="pointer" routerLink="/fitness-detail/{{fitdet.id}}"><img src="{{fitdet.banner_image}}"
                          alt=""></a>
                      <div class="sale-window">{{fitdet.category}}</div>
                      <div class="geodir-category-opt">
                        <h4 class="title-sin_map"><a routerLink="/fitness-detail/{{fitdet.id}}">{{fitdet.name}}</a></h4>
                        <div class="geodir-category-location pointer"><a href="#" class="single-map-item"
                            data-newlatitude="40.90261483" data-newlongitude="-74.15737152"><i
                              class="fas fa-map-marker-alt"></i> 75 Prince St, Adyar.</a></div>
                        <div class="rate-class-name">
                          <div class="score"><strong> {{fitdet.likes_count}}</strong>Likes</div>
                          <span>{{fitdet.reviews_count}} feedbacks</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="slick-slide-item">
                  <div class="hotel-card fl-wrap title-sin_item">
                    <div class="geodir-category-img card-post">
                      <a class="f-img pointer" (click)="goFitnessDetail(1)"><img src="assets/images/custom/gym-1.jpg"
                          alt=""></a>
                      <div class="sale-window f-type">Gym</div>
                      <div class="geodir-category-opt">
                        <div class="votescount"><i class="fa fa-thumbs-up"></i><span class="f-likes">778</span></div>

                        <h4 class="title-sin_map"><a class="f-title pointer" (click)="goFitnessDetail(1)">ABC Fitness
                            Gym</a></h4>
                        <div class="rate-class-name">
                          <span><b class="f-fback">5</b> Feedbacks</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide-item">
                  <div class="hotel-card fl-wrap title-sin_item">
                    <div class="geodir-category-img card-post">
                      <a class="f-img pointer" (click)="goFitnessDetail(1)"><img src="assets/images/custom/gym-1.jpg"
                          alt=""></a>
                      <div class="sale-window f-type">Gym</div>
                      <div class="geodir-category-opt">
                        <div class="votescount"><i class="fa fa-thumbs-up"></i><span class="f-likes">778</span></div>

                        <h4 class="title-sin_map"><a class="f-title pointer" (click)="goFitnessDetail(1)">ABC Fitness
                            Gym</a></h4>
                        <div class="rate-class-name">
                          <span><b class="f-fback">5</b> Feedbacks</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide-item">
                  <div class="hotel-card fl-wrap title-sin_item">
                    <div class="geodir-category-img card-post">
                      <a class="f-img pointer" (click)="goFitnessDetail(1)"><img src="assets/images/custom/gym-1.jpg"
                          alt=""></a>
                      <div class="sale-window f-type">Gym</div>
                      <div class="geodir-category-opt">
                        <div class="votescount"><i class="fa fa-thumbs-up"></i><span class="f-likes">778</span></div>

                        <h4 class="title-sin_map"><a class="f-title pointer" (click)="goFitnessDetail(1)">ABC Fitness
                            Gym</a></h4>
                        <div class="rate-class-name">
                          <span><b class="f-fback">5</b> Feedbacks</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <!--light-carousel end-->
              <div class="fc-cont  lc-prev"><i class="fal fa-angle-left"></i></div>
              <div class="fc-cont  lc-next"><i class="fal fa-angle-right"></i></div>
            </div>
            <!--light-carousel-wrap end-->
          </div>
        </div>
      </div>
    </section>
    <section class="grey-blue-bg blogs-list">
      <div class="container">
        <div class="section-title">
          <div class="section-title-separator"><span></span></div>
          <h2>
            <!-- Pharmacies Near You -->
            Most popular articles
          </h2>
          <span class="section-separator"></span>
          <p>Too Difficult to find pharmacies around you?</p>
        </div>
      </div>
      <div class="list-carousel fl-wrap card-listing">
        <!--listing-carousel-->
        <div class="listing-carousel-1  fl-wrap">
          <div class="slick-slide-item" *ngFor="let blog of homeDetails.blogs">
            <div class="listing-item">
              <article class="card-post">
                <div class="card-post-img fl-wrap geodir-category-img">
                  <a routerLink="/blog/{{blog.id}}"><img [src]="blog.image" alt=""></a>
                  <div class="geodir-category-opt">
                    <div class="rate-class-name">
                      <span><i class="fa fa-heart"></i> &nbsp; {{blog.likes_count}}</span>
                    </div>
                  </div>
                </div>
                <div class="card-post-content fl-wrap">
                  <h3><a routerLink="/blog/{{blog.id}}">{{blog.title}}</a></h3>
                  <div class="desc" [innerHTML]="blog.description"></div>
                  <!-- <p>It is important to keep your skin clean with simple washing up of exposed parts of the body a few times a day. However, never over-do it and never scrub your skin...<a class="blog-readmore" href="blog-details.html">Read More</a></p> -->
                  <div class="post-author">
                    <!-- <a href="#"><img src="assets/images/avatar/4.jpg" alt=""></a> -->
                    <a><span class="authorcls">Author&nbsp;:&nbsp;</span>
                      <span>{{blog.author}}</span>
                      <!-- <i class="fal fa-external-link-alt"></i></span><br> -->
                      <!-- <span>Dermatologist</span> -->
                    </a>
                  </div>
                  <div class="post-opt">
                    <ul>
                      <li><i class="fal fa-heart"></i> <a href="#">{{blog.likes_count}}</a> </li>
                      <!-- <li><i class="fal fa-share-alt"></i> <span>8</span></li> -->
                      <li><i class="fal fa-comments-alt"></i> <a href="#">{{blog.reviews_count}}</a> </li>
                      <li class="fright"><i class="fal fa-calendar"></i>
                        <span>{{blog.created_at | date : "dd MMM yyyy hh:mm a"}}</span></li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <!--listing-carousel end-->
        <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
        <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
      </div>
    </section>
    <section class="parallax-section ptb50" data-scrollax-parent="true">
      <div class="bg" data-bg="assets/images/custom/homevideo.jpg" data-scrollax="properties: { translateY: '100px' }">
      </div>
      <div class="overlay mediumoverlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="colomn-text pt0 fl-wrap pad-top-column-text_small pr0mobile">
              <div class="colomn-text-title centeraligndetails">
                <h3>Our Videos</h3>
                <p>Stay Connected With Us and Watch our exclusive and informative videos to Know More About the Facts
                  Around You.</p>
                <a class="pointer" routerLink="/videos" class="btn color2-bg float-btn">View All Videos<i
                    class="fas fa-caret-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="light-carousel-wrap fl-wrap">
              <div class="light-carousel-1">
                <div class="slick-slide-item" *ngFor="let video of homeDetails.videos">
                  <div class="hotel-card fl-wrap title-sin_item">
                    <div class="geodir-category-img">
                      <a class="pointer" routerLink="/video-detail/{{video.id}}"><img
                          [src]="video.thumbnail || 'assets/images/blogs/flipbook-sample.jpg'" alt=""></a>
                      <div class="geodir-category-opt">
                        <h4 class="title-sin_map t40"><a class="pointer"
                            routerLink="/video-detail/{{video.id}}">{{video.title}}</a><br><span
                            class="pubdate">Published On : {{video.created_at | date : 'dd MMM yyyy'}}</span></h4>
                        <div class="rate-class-name">
                          <div class="score"><strong> {{video.reviews_count}}</strong>Feedbacks</div>
                          <span><i class="fal fa-thumbs-up"></i> &nbsp; {{video.likes_count}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="slick-slide-item">
                  <div class="hotel-card fl-wrap title-sin_item">
                    <div class="geodir-category-img">
                      <a href="video-detail.html"><img src="assets/images/blogs/rel-blog-post-3.jpg" alt=""></a>
                      <div class="geodir-category-opt">
                        <h4 class="title-sin_map t40"><a href="video-detail.html">How to lead a healthy
                            life?</a><br><span class="pubdate">Published On : 28th Oct 2018</span></h4>
                        <div class="rate-class-name">
                          <div class="score"><strong> 478</strong>Views</div>
                          <span><i class="fal fa-clock"></i> &nbsp; 2:55</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide-item">
                  <div class="hotel-card fl-wrap title-sin_item">
                    <div class="geodir-category-img">
                      <a href="video-detail.html"><img src="assets/images/blogs/flipbook-sample.jpg" alt=""></a>
                      <div class="geodir-category-opt">
                        <h4 class="title-sin_map t40"><a href="video-detail.html">Essentials for healthy
                            life?</a><br><span class="pubdate">Published On : 28th Oct 2018</span></h4>
                        <div class="rate-class-name">
                          <div class="score"><strong> 478</strong>Views</div>
                          <span><i class="fal fa-clock"></i> &nbsp; 2:55</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide-item">
                  <div class="hotel-card fl-wrap title-sin_item">
                    <div class="geodir-category-img">
                      <a href="video-detail.html"><img src="assets/images/blogs/rel-blog-post-3.jpg" alt=""></a>
                      <div class="geodir-category-opt">
                        <h4 class="title-sin_map t40"><a href="video-detail.html">How to lead a healthy
                            life?</a><br><span class="pubdate">Published On : 28th Oct 2018</span></h4>
                        <div class="rate-class-name">
                          <div class="score"><strong> 478</strong>Views</div>
                          <span><i class="fal fa-clock"></i> &nbsp; 2:55</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="fc-cont  lc-prev"><i class="fal fa-angle-left"></i></div>
              <div class="fc-cont  lc-next"><i class="fal fa-angle-right"></i></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="middle-padding">
      <div class="container">
        <div class="section-title">
          <div class="section-title-separator"><span></span></div>
          <h2>What Health experts says</h2>
          <span class="section-separator"></span>
          <p>Are you looking for a simple way to get the best health and Fitness advices? Have a look at our latest
            blogs which provides you a great knowldge from top doctors of the world and turn out your life and family
            more happy and healthy.</p>
        </div>
        <div class="row home-posts">
          <div class="col-md-4">
            <article class="card-post">
              <div class="card-post-img fl-wrap">
                <a href="blog-details.html"><img src="assets/images/all/11.jpg" alt=""></a>
              </div>
              <div class="card-post-content fl-wrap">
                <h3><a href="blog-details.html">7 Habits of Effective Skin Care</a></h3>
                <p>It is important to keep your skin clean with simple washing up of exposed parts of the body. </p>
                <div class="post-author blogauthor"><a href="#"><img src="assets/images/avatar/4.jpg" alt=""><span
                      align="left">Dr.
                      Surya MBBS FRCS</span><span align="left">Dermatologist</span></a></div>
                <div class="post-opt">
                  <ul>
                    <li><i class="fal fa-calendar"></i> <span>25 April 2018</span></li>
                    <li><i class="fal fa-eye"></i> <span>264</span></li>
                    <li><i class="fal fa-tags"></i> <a href="#">Design</a> </li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="card-post">
              <div class="card-post-img fl-wrap">
                <div class="card-post-img fl-wrap">
                  <a href="blog-details.html"><img src="assets/images/all/9.jpg" alt=""></a>
                </div>
              </div>
              <div class="card-post-content fl-wrap">
                <h3><a href="blog-details.html">5 Tips to Follow When Suffering From Diabetes</a></h3>
                <p>This is crucial when you have diabetes because what you eat affects your blood sugar. </p>
                <div class="post-author blogauthor"><a href="#"><img src="assets/images/avatar/1.jpg" alt=""><span
                      align="left">Dr.
                      Pavithra MBBS</span><span align="left">Child Specialist</span></a></div>
                <div class="post-opt">
                  <ul>
                    <li><i class="fal fa-calendar"></i> <span>25 April 2018</span></li>
                    <li><i class="fal fa-eye"></i> <span>264</span></li>
                    <li><i class="fal fa-tags"></i> <a href="#">Design</a> </li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="card-post">
              <div class="card-post-img fl-wrap">
                <a href="blog-details.html"><img src="assets/images/all/10.jpg" alt=""></a>
              </div>
              <div class="card-post-content fl-wrap">
                <h3><a href="blog-details.html">How to Maintain the Results of a Facelift</a></h3>
                <p>People usually raise “how long will a facelift last?” and also the answer depends on a lot of
                  things. </p>
                <div class="post-author blogauthor"><a href="#"><img src="assets/images/avatar/3.jpg" alt=""><span
                      align="left">Dr.
                      Karthick MBBS</span><span align="left">ENT Specialist</span></a></div>
                <div class="post-opt">
                  <ul>
                    <li><i class="fal fa-calendar"></i> <span>25 April 2018</span></li>
                    <li><i class="fal fa-eye"></i> <span>264</span></li>
                    <li><i class="fal fa-tags"></i> <a href="#">Design</a> </li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
        <a href="list-blogs.html" class="btn color-bg f14">Read All News<i class="fas fa-caret-right"></i></a>
      </div>
    </section> -->
    <section class="color-bg hidden-section">
      <div class="wave-bg wave-bg2"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="colomn-text  pad-top-column-text fl-wrap">
              <div class="colomn-text-title centeraligndetails">
                <h3>Download our Health and Fitness app now</h3>
                <p>You can download our app from both Google Play and App Store. You can use our app to search near by
                  Doctors, Pharmacies, Supplementry Shops, Health and Fitness Center and Consult doctors online. You
                  can also explore our latest blogs, Videos and Flipbooks from top doctors from the world.</p><br
                  class="hidden-lg hidden-md hidden-sm"><br class="hidden-lg hidden-md hidden-sm">
                <a href="#" class=" down-btn color3-bg"><i class="fab fa-apple"></i> Download for iPhone</a><br
                  class="hidden-lg hidden-md hidden-sm"><br class="hidden-lg hidden-md hidden-sm"><br
                  class="hidden-lg hidden-md hidden-sm"><br class="hidden-lg hidden-md hidden-sm">
                <a href="#" class=" down-btn color3-bg"><i class="fab fa-android"></i> Download for Android</a>
              </div>
            </div>
            <!--process-wrap   end-->
          </div>
          <div class="col-md-6">
            <div class="collage-image">
              <img src="assets/images/api.png" class="main-collage-image" alt="">
              <div class="images-collage-title color3-bg">Health & <span>Fitness</span></div>
              <div class="collage-image-min cim_1"><img src="assets/images/api/1.jpg" alt=""></div>
              <div class="collage-image-min cim_2"><img src="assets/images/api/2.jpg" alt=""></div>
              <div class="collage-image-min cim_3"><img src="assets/images/api/3.jpg" alt=""></div>
              <div class="collage-image-btn color2-bg f14">Download now</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="forumsection">
      <img src="assets/images/custom/group.png" class="forumicon">
      <h2 class="forumtitle">Ask your Question</h2>
      <p class="forumpara">Ask your questions join the forum where millions of people discuss about what you want</p>
      <div class="row mb-70">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="btnsection">
            <a class="pointer quebtn1" [class.quebtn2]="currForumCategory.id==forum.id"
              *ngFor="let forum of forumsCategory" (click)="selectCategory(forum);">{{forum.name}}</a>
            <!-- <a href="" class="quebtn1">For Myself</a>
            <a href="" class="quebtn2">For Someone Else</a> -->
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="section-decor"></div>
    </div>
    <section class="parallax-section ptb0 grey-blue-bg" data-scrollax-parent="true">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/custom/flipbookimg.png" class="sideimage o7">
        </div>
        <div class="col-md-6">
          <div class="sidesection">
            <div class="section-title">
              <div class="section-title-separator"><span></span></div>
              <h2 class="greencolor">Use Our FlipBooks</h2>
              <span class="section-separator"></span>
              <p>To Enjoy exciting Information & Details stay connected with Us On Flipbook<br>& Get Benefitted!!!</p>
            </div>
            <div class="row plr100">
              <div class="col-md-4">
                <img src="assets/images/custom/flip1.png" class="flipicons">
                <p class="fliptext">Select Your Book</p>
              </div>
              <div class="col-md-4">
                <img src="assets/images/custom/flip2.png" class="flipicons">
                <p class="fliptext">Start Learning</p>
              </div>
              <div class="col-md-4">
                <img src="assets/images/custom/flip3.png" class="flipicons">
                <p class="fliptext">Get Benefitted</p>
              </div>
            </div>
            <a class="btn color-bg yellowbtn readbtn mb30mobile pointer" routerLink="/flipbooks">Start Reading <i
                class="fal fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </section>
    <section class="">
      <div class="container">
        <div class="section-title mb0">
          <div class="section-title-separator"><span></span></div>
          <h2>Testimonials</h2>
          <span class="section-separator"></span>
          <p>Just Know What People think about Us.</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--slider-carousel-wrap -->
      <div class="slider-carousel-wrap text-carousel-wrap fl-wrap">
        <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
        <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
        <div class="text-carousel single-carousel-1 fl-wrap">
          <!--slick-item -->
          <div class="slick-item">
            <div class="text-carousel-item">
              <div class="popup-avatar"><img src="assets/images/avatar/1.jpg" alt=""></div>
              <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
              <div class="review-owner fl-wrap">Karthick - <span>MBBS</span></div>
              <p> "Good initiative. The doctors are responsive and provide you a brief consultation"</p>
              <a href="#" class="testim-link">Via Facebook</a>
            </div>
          </div>
          <!--slick-item end -->
          <!--slick-item -->
          <div class="slick-item">
            <div class="text-carousel-item">
              <div class="popup-avatar"><img src="assets/images/avatar/2.jpg" alt=""></div>
              <div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
              <div class="review-owner fl-wrap">Mari Selvam - <span>Patient</span></div>
              <p> "It serve only what we need. Very simple and more than sufficient for getting solution for any
                medical queries."</p>
              <a href="#" class="testim-link">Via Google</a>
            </div>
          </div>
          <!--slick-item end -->
          <!--slick-item -->
          <div class="slick-item">
            <div class="text-carousel-item">
              <div class="popup-avatar"><img src="assets/images/avatar/3.jpg" alt=""></div>
              <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
              <div class="review-owner fl-wrap">Praveen Kumar - <span>Diabetic Patient</span></div>
              <p> "All your health needs in one app. Online consultation for minor health issues, medicines etc."</p>
              <a href="#" class="testim-link">Via Facebook</a>
            </div>
          </div>
          <!--slick-item end -->
          <!--slick-item -->
          <div class="slick-item">
            <div class="text-carousel-item">
              <div class="popup-avatar"><img src="assets/images/avatar/4.jpg" alt=""></div>
              <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
              <div class="review-owner fl-wrap">Milka Antony - <span>Happy Patient</span></div>
              <p> "It has excellent doctors, excellent user interface, very very user friendly, has options for free
                consultations also."</p>
              <a href="#" class="testim-link">Via Facebook</a>
            </div>
          </div>
          <!--slick-item end -->
        </div>
      </div>
    </section>
    <div class="subscribe-wrap color-bg ptb40 fl-wrap">
      <div class="container">
        <div class="sp-bg"> </div>
        <div class="row">
          <div class="col-md-6">
            <div class="subscribe-header centeraligndetails">
              <h3>Subscribe</h3>
              <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a
                notification by email.</p>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="footer-widget fl-wrap">
              <div class="subscribe-widget fl-wrap">
                <div class="subcribe-form">
                  <form id="subscribe" novalidate="true">
                    <input [(ngModel)]="email" name="email" class="enteremail fl-wrap" id="subscribe-email" placeholder="Enter Your Email"
                      spellcheck="false" type="text">
                    <button (click)="subscribe(email)" type="submit" id="subscribe-button" class="subscribe-button"><i
                        class="fas fa-rss-square"></i>
                      Subscribe</button>
                    <label for="subscribe-email" class="subscribe-message"></label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wave-bg"></div>
    </div>
  </div>
</div>