.facilities-list1 {
  li {
    text-align: left;
    color: #999;

    i {
      padding-right: 8px;
    }
  }
}

.hotel-card .geodir-category-img {
  height: 200px !important;
}

// .qty-dropdown-header {
//   overflow: hidden;
// }

.main-search-input-item input.autocomplete_input {
  position: absolute;
  padding: 5px !important;
}

.row.minht {
  cursor: pointer;
  min-height: 30px;
}


.minht .initialstyle {
  background: #ebebe4;
  margin-left: 10px;
  margin-top: -7px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sw-btn {
  z-index: 9990;
}

.blogs-list {
  article {
    // height: 600px;
    max-height: 600px;
    overflow: hidden;
    .card-post-content h3{
      min-height: 71px;
      max-height: 71px;
    }
    .desc {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      height: 80px;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .card-post-img img {
      max-height: 200px;
      object-fit: cover;
    }
  }

  .post-author {
    text-align: left;
    margin-top: 0 !important;
  }

  .authorcls {
    color: #999;
    float: none !important;
  }

  .activecat {
    text-decoration: underline !important;
    text-decoration-color: #EF0000 !important;
    color: #EF0000 !important;
  }

  .load_more {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .toggle {
    cursor: pointer !important;
  }

  .toggle.selected {
    border: 1px solid #F9B90F;

    span {
      background: #F9B90F !important;
    }
  }

  .desc-cls {
    height: 50px;
    overflow: hidden;
  }
}
