<div id="wrapper">
    <!-- content-->
    <div class="content">
        <!--  section  -->
        <section class="color-bg middle-padding banner-sec">
            <div class="wave-bg wave-bg2 blogs-bg"></div>
            <div class="container">
                <div class="flat-title-wrap top-banner-sec">
                    <h2><span>Our Flipbook</span></h2>
                    <!-- <span class="section-separator"></span> -->
                    <!-- <h3>Solve all your doubt and enrich life with great articles from top doctors around the world</h3> -->
                </div>
            </div>
        </section>
        <!--  section  end-->
        <div class="breadcrumbs-fs fl-wrap">
            <div class="container">
                <div class="breadcrumbs"><a routerLink="/">Home</a><a
                        routerLink="/flipbooks">Flipbooks</a><span>{{flipbookDetail.name}}</span></div>
            </div>
        </div>
        <!--  section  -->
        <section class="grey-blue-bg small-padding scroll-nav-container1" id="sec2">
            <!--   container  -->
            <div class="container">
                <!--   row  -->
                <div class="row">
                    <!--   datails -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="list-single-main-container">
                            <!--   list-single-main-item -->
                            <div class="list-single-main-item fl-wrap blog-content">
                                <h3 class="video-det-tit">{{flipbookDetail.title}}<div class="video-like-count"><img
                                            src="assets/images/custom/heart.png"><span
                                            class="likes-count">{{flipbookDetail.likes_count}}</span></div>
                                </h3>
                                <p>{{flipbookDetail.description}}</p>
                                <div class="video-det-btmsec">
                                    <ul class="video-det-ul">
                                        <!-- <li><i class="fal fa-eye"></i> <a href="#">78</a> </li> -->
                                        <li><i class="fal fa-comments-alt"></i> <a
                                                href="#">{{flipbookDetail.reviews_count}}</a> </li>
                                        <li><i class="fal fa-bookmark"></i>
                                            <span>{{flipbookDetail.bookmarks_count}}</span></li>
                                        <!--<li><i class="fal fa-share-alt"></i> <span>8</span></li>-->
                                        <li class="fright"><i class="fal fa-calendar"></i>
                                            <span>{{flipbookDetail.created_at | date : "dd MMM yyyy hh:mm a"}}</span>
                                        </li>
                                    </ul>
                                    <div class="video-det-links">
                                        <a class="lisd-link pointer" (click)="toggleLike()"><i
                                                class="{{flipbookDetail.is_liked ? 'fa' : 'fal'}} fa-heart {{flipbookDetail.is_liked ? 'selected' : ''}}"></i>
                                            {{flipbookDetail.is_liked ? 'Liked' : 'Like'}}</a>
                                        <a class="custom-scroll-link lisd-link pointer" (click)="goAddReview()"><i
                                                class="fal fa-comment-alt-check"></i> Add Comments</a>
                                        <a class="lisd-link pointer" (click)="toggleBookmark()"><i
                                                class="{{flipbookDetail.is_bookmarked ? 'fa' : 'fal'}} fa-bookmark {{flipbookDetail.is_bookmarked ? 'selected' : ''}}"></i>
                                            {{flipbookDetail.is_bookmarked ? 'Bookmarked' : 'Bookmark'}}</a>
                                    </div>
                                </div>
                            </div>

                            <!-- old flipbooks start -->
                            <!-- <div class="list-single-main-item fl-wrap flip-show-mbl">
                                <div class="light-carousel-wrap fl-wrap">
                                    <div class="light-carousel mbl-flipbook">
                                        <div class="slick-slide-item">
                                            <img src="assets/flipbook/pages/1.jpg">
                                        </div>
                                        <div class="slick-slide-item">
                                            <img src="assets/flipbook/pages/2.jpg">
                                        </div>
                                        <div class="slick-slide-item">
                                            <img src="assets/flipbook/pages/3.jpg">
                                        </div>
                                    </div>
                                    <div class="fc-cont  lc-prev"><i class="fal fa-angle-left"></i></div>
                                    <div class="fc-cont  lc-next"><i class="fal fa-angle-right"></i></div>
                                </div>
                            </div>

                            <div class="list-single-main-item fl-wrap blog-content flip-hide-mbl">
                                <div class="flipbook-viewport">
                                    <div class="container">
                                        <div class="flipbook">
                                            <div style="background-image:url(assets/flipbook/pages/1.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/2.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/3.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/4.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/5.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/6.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/7.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/8.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/9.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/10.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/11.jpg)"></div>
                                            <div style="background-image:url(assets/flipbook/pages/12.jpg)"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- old flipbooks end -->

                            <div class="list-single-main-item fl-wrap">
                                <!-- BEGIN FLIPBOOK STRUCTURE -->
                                <div id="fb5-ajax">
                                    <!-- BEGIN HTML BOOK -->
                                    <div data-current="book5" class="fb5" id="fb5">
                                        <!-- BACKGROUND FOR BOOK -->
                                        <div class="fb5-bcg-book"></div>

                                        <!-- BEGIN CONTAINER BOOK -->
                                        <div id="fb5-container-book">

                                            <!-- BEGIN deep linking -->
                                            <section id="fb5-deeplinking">
                                                <ul>
                                                    <li data-address="page1" data-page="1"></li>
                                                    <li *ngFor="let item of flipbookDetail.pages; let index=index;"
                                                        [attr.data-address]="'page' + (index + 2)"
                                                        [attr.data-page]="index+2"></li>
                                                </ul>
                                            </section>
                                            <!-- END deep linking -->
                                            <div id="fb5-book">
                                                <div data-background-image="" class="">
                                                    <!-- begin container page book -->
                                                    <div class="fb5-cont-page-book">

                                                        <!-- description for page from WYSWIG -->
                                                        <div class="fb5-page-book">
                                                            <div *ngIf="flipbookDetail.featured_image" class="flip_img">
                                                                <img [src]="flipbookDetail.featured_image" alt="">
                                                            </div>
                                                            <h1>{{flipbookDetail.title}}</h1>
                                                            <div [innerHTML]="flipbookDetail.description"></div>
                                                        </div>

                                                        <!-- number page and title for page -->
                                                        <div class="fb5-meta">
                                                            <span class="fb5-num">1</span>|<span
                                                                class="fb5-description">Thivas</span>
                                                        </div>
                                                        <!-- END number page and title for page -->
                                                    </div>
                                                    <!-- end container page book -->
                                                </div>
                                                <div *ngFor="let item of flipbookDetail.pages; let index=index;"
                                                    data-background-image="" class="">
                                                    <!-- begin container page book -->
                                                    <div class="fb5-cont-page-book">

                                                        <!-- description for page from WYSWIG -->
                                                        <div class="fb5-page-book">
                                                            <div *ngIf="item.image" class="flip_img"><img
                                                                    [src]="item.image" alt=""></div>
                                                            <h1>{{item.title}}</h1>
                                                            <div [innerHTML]="item.description"></div>
                                                        </div>

                                                        <!-- number page and title for page -->
                                                        <div class="fb5-meta">
                                                            <span class="fb5-num">{{index+2}}</span>|<span
                                                                class="fb5-description">Thivas</span>
                                                        </div>
                                                        <!-- END number page and title for page -->
                                                    </div>
                                                    <!-- end container page book -->
                                                </div>
                                            </div>

                                            <!-- arrows -->
                                            <a class="fb5-nav-arrow prev"></a>
                                            <a class="fb5-nav-arrow next"></a>
                                        </div>
                                        <!-- END CONTAINER BOOK -->

                                        <!-- BEGIN FOOTER -->
                                        <div id="fb5-footer">
                                            <div class="fb5-bcg-tools"></div>

                                            <a id="fb5-logo" target="_blank"
                                                href="http://codecanyon.net/user/flashmaniac?ref=flashmaniac">
                                                <img alt="" src="assets/flipbooks/img/logo.png">
                                            </a>

                                            <div class="fb5-menu" id="fb5-center">
                                                <ul>

                                                    <!-- icon download -->
                                                    <!-- <li>
                                                                <a title="DOWNLOAD (ZIP)  " class="fb5-download" href="assets/flipbooks/img/file.pdf"></a>
                                                            </li> -->


                                                    <!-- icon_zoom_in -->
                                                    <li>
                                                        <a title="ZOOM IN" class="fb5-zoom-in"></a>
                                                    </li>

                                                    <!-- icon_zoom_out -->

                                                    <li>
                                                        <a title="ZOOM OUT " class="fb5-zoom-out"></a>
                                                    </li>

                                                    <!-- icon_zoom_auto -->
                                                    <li>
                                                        <a title="ZOOM AUTO " class="fb5-zoom-auto"></a>
                                                    </li>

                                                    <!-- icon_zoom_original -->
                                                    <li>
                                                        <a title="ZOOM ORIGINAL (SCALE 1:1)"
                                                            class="fb5-zoom-original"></a>
                                                    </li>

                                                    <!-- icon_home -->
                                                    <li>
                                                        <a title="SHOW HOME PAGE " class="fb5-home"></a>
                                                    </li>

                                                </ul>
                                            </div>

                                            <div class="fb5-menu" id="fb5-right">
                                                <ul>
                                                    <!-- icon page manager -->
                                                    <li class="fb5-goto">
                                                        <label for="fb5-page-number"
                                                            id="fb5-label-page-number">PAGE</label>
                                                        <input type="text" id="fb5-page-number">
                                                        <button type="button">GO</button>
                                                    </li>

                                                    <!-- icon fullscreen -->
                                                    <li>
                                                        <a title="FULL / NORMAL SCREEN" class="fb5-fullscreen"></a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <!-- END FOOTER -->
                                    </div>
                                    <!-- END HTML BOOK -->
                                </div>
                                <!-- END FLIPBOOK STRUCTURE -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div *ngIf="reviewList?.results?.length>0" class="list-single-main-item comments-sec fl-wrap"
                            id="sec5">
                            <div class="list-single-main-item-title fl-wrap">
                                <h3>Comments</h3>
                            </div>
                            <div class="reviews-comments-wrap">
                                <div class="reviews-comments-item" *ngFor="let review of reviewList.results">
                                    <div class="review-comments-avatar">
                                        <img [src]="review?.user?.profile_pic || 'assets/images/avatar/2.jpg'" alt="">
                                    </div>
                                    <div class="reviews-comments-item-text">
                                        <h4><a href="#">{{review?.user?.first_name}}</a></h4>
                                        <div class="clearfix"></div>
                                        <p>{{review.text}}</p>
                                        <div class="reviews-comments-item-date"><span><i
                                                    class="far fa-calendar-check"></i>{{review.created_at | date : "dd MMM yyyy hh:mm a"}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- list-single-main-item end -->
                        <!-- list-single-main-item -->
                        <div class="list-single-main-item fl-wrap" id="sec6">
                            <div class="list-single-main-item-title fl-wrap">
                                <h3>Whats on your mind?</h3>
                            </div>
                            <!-- Add Review Box -->
                            <div id="add-review" class="add-review-box">
                                <!-- Review Comment -->
                                <form id="add-comment" class="add-comment  custom-form" name="rangeCalc">
                                    <fieldset>
                                        <div class="row">
                                            <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label><i class="fal fa-user"></i></label>
                                                <input type="text" placeholder="Your Name *" value="" />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label><i class="fal fa-envelope"></i> </label>
                                                <input type="text" placeholder="Email Address*" value="" />
                                            </div> -->
                                        </div>
                                        <textarea [(ngModel)]="myreview" name="review" cols="40" rows="3"
                                            placeholder="Your Comments"></textarea>
                                    </fieldset>
                                    <button (click)="submitReview()" class="btn  big-btn flat-btn float-btn color2-bg"
                                        style="margin-top:30px">Submit <i class="fal fa-paper-plane"></i></button>
                                </form>
                            </div>
                            <!-- Add Review Box / End -->
                        </div>
                        <!-- list-single-main-item end -->
                        <div class="box-widget-item fl-wrap">
                            <div class="box-widget">
                                <div class="box-widget-content">
                                    <div class="box-widget-item-header">
                                        <h3> Follow Us </h3>
                                    </div>
                                    <div class="follow-us-widget custom-follow-us">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <a class="follow-us-btn" href="#"><img
                                                        src="assets/images/blogs/facebook.svg"></a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <a class="follow-us-btn" href="#"><img
                                                        src="assets/images/blogs/twitter.svg"></a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <a class="follow-us-btn" href="#"><img
                                                        src="assets/images/blogs/google-plus.svg"></a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <a class="follow-us-btn" href="#"><img
                                                        src="assets/images/blogs/linkedin.svg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--light-carousel-wrap-->
                        <div class="box-widget-item fl-wrap">
                            <div class="box-widget widget-posts">
                                <div class="box-widget-content">
                                    <div class="box-widget-item-header">
                                        <h3>Related Flipbooks</h3>
                                    </div>
                                    <div class="light-carousel-wrap fl-wrap">
                                        <!--light-carousel-->
                                        <div class="light-carousel">
                                            <div class="slick-slide-item">
                                                <div class="article-masonry1">
                                                    <article class="card-post">
                                                        <div class="card-post-img fl-wrap geodir-category-img">
                                                            <a href="flipbook-details.html"><img
                                                                    src="assets/images/custom/hair-care.jpg" alt=""
                                                                    class="flipbuk-card-img"></a>
                                                            <div class="geodir-category-opt">
                                                                <div class="rate-class-name">
                                                                    <span><i class="fa fa-eye"></i> &nbsp; 4500</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-post-content fl-wrap">
                                                            <h3>
                                                                <a href="flipbook-details.html">Quick Hair Care Tips</a>
                                                                <span class="flipbuk-tags">Hair Care | Hair Fall</span>
                                                            </h3>
                                                            <p>Many aspects of our lifestyle from what we eat to how we
                                                                handle our hair can affect our hair. While losing a few
                                                                hair strands is...<a class="blog-readmore"
                                                                    href="flipbook-details.html">Read More</a></p>
                                                            <div class="post-opt">
                                                                <ul>
                                                                    <li><i class="fal fa-heart"></i> <a href="#">78</a>
                                                                    </li>
                                                                    <li><i class="fal fa-bookmark"></i> <span>8</span>
                                                                    </li>
                                                                    <li><i class="fal fa-comments-alt"></i> <a
                                                                            href="#">10</a> </li>
                                                                    <li class="fright"><i class="fal fa-calendar"></i>
                                                                        <span>25 April 2018</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                            <div class="slick-slide-item">
                                                <div class="article-masonry1">
                                                    <article class="card-post">
                                                        <div class="card-post-img fl-wrap geodir-category-img">
                                                            <a href="flipbook-details.html"><img
                                                                    src="assets/images/custom/heart1.jpg" alt=""
                                                                    class="flipbuk-card-img"></a>
                                                            <div class="geodir-category-opt">
                                                                <div class="rate-class-name">
                                                                    <span><i class="fa fa-eye"></i> &nbsp; 4500</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-post-content fl-wrap">
                                                            <h3>
                                                                <a href="flipbook-details.html">Ways To Keep Your Heart
                                                                    Healthy</a>
                                                                <span class="flipbuk-tags">Pain Managemet | Heart
                                                                    Attack</span>
                                                            </h3>
                                                            <p>If you are concerned about your blood cholesterol levels,
                                                                you can contact a dietitian/nutritionist who would be
                                                                heartily willing...<a class="blog-readmore"
                                                                    href="flipbook-details.html">Read More</a></p>
                                                            <div class="post-opt">
                                                                <ul>
                                                                    <li><i class="fal fa-heart"></i> <a href="#">78</a>
                                                                    </li>
                                                                    <li><i class="fal fa-bookmark"></i> <span>10</span>
                                                                    </li>
                                                                    <li><i class="fal fa-comments-alt"></i> <a
                                                                            href="#">10</a> </li>
                                                                    <li class="fright"><i class="fal fa-calendar"></i>
                                                                        <span>25 April 2018</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                            <div class="slick-slide-item">
                                                <div class="article-masonry1">
                                                    <article class="card-post">
                                                        <div class="card-post-img fl-wrap geodir-category-img">
                                                            <a href="flipbook-details.html"><img
                                                                    src="assets/images/custom/stress1.jpg" alt=""
                                                                    class="flipbuk-card-img"></a>
                                                            <div class="geodir-category-opt">
                                                                <div class="rate-class-name">
                                                                    <span><i class="fa fa-eye"></i> &nbsp; 4500</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-post-content fl-wrap">
                                                            <h3><a href="flipbook-details.html">
                                                                    Mental Disorders: Stigma Or Something</a>
                                                                <span class="flipbuk-tags">Stress | Stress Relied</span>
                                                            </h3>
                                                            <p>If you are taking so much of work pressure or anything
                                                                which is affect your peace of mind then it becomes as a
                                                                stress and...<a class="blog-readmore"
                                                                    href="flipbook-details.html">Read More</a></p>

                                                            <div class="post-opt">
                                                                <ul>
                                                                    <li><i class="fal fa-heart"></i> <a href="#">78</a>
                                                                    </li>
                                                                    <li><i class="fal fa-bookmarklt"></i> <span>8</span>
                                                                    </li>
                                                                    <li><i class="fal fa-comments-alt"></i> <a
                                                                            href="#">10</a> </li>
                                                                    <li class="fright"><i class="fal fa-calendar"></i>
                                                                        <span>25 April 2018</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                        <!--light-carousel end-->
                                        <div class="fc-cont  lc-prev"><i class="fal fa-angle-left"></i></div>
                                        <div class="fc-cont  lc-next"><i class="fal fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--light-carousel-wrap end-->
                    </div>
                    <!--   sidebar  -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!--box-widget-wrap -->
                        <div class="box-widget-wrap fl-wrap hidden-in-ipad">
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> About Author </h3>
                                        </div>
                                        <div class="author-details-widget">
                                            <a href="#" class="img"><img src="assets/images/avatar/4.jpg" alt=""></a>
                                            <a href="#" class="details">
                                                <span class="name">Dr.Aanchal Sehrawat &nbsp; <i
                                                        class="fal fa-external-link-alt"></i></span><br>
                                                <span class="speciality spantext"><i
                                                        class="fal fa-hand-point-right">&nbsp;</i>Dermatologist</span>
                                                <span class="email spantext"><i class="fal fa-envelope-open"></i>&nbsp;
                                                    draanchal@gmail.com</span>
                                                <span class="phno spantext"><i class="fal fa-phone"></i>&nbsp;
                                                    9094483144</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap" *ngIf="flipbookDetail?.flip_book_tags?.length>0">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3>Tags </h3>
                                        </div>
                                        <div class="list-single-tags tags-stylwrap  sb-tags">
                                            <a *ngFor="let tag of flipbookDetail.flip_book_tags"
                                                class="pointer">{{tag.name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--box-widget-wrap end -->
                        <div class="show-in-ipad">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> About Author </h3>
                                                </div>
                                                <div class="author-details-widget">
                                                    <a href="#" class="img"><img src="assets/images/avatar/4.jpg"
                                                            alt=""></a>
                                                    <a href="#" class="details">
                                                        <span class="name">Dr.Aanchal Sehrawat &nbsp; <i
                                                                class="fal fa-external-link-alt"></i></span><br>
                                                        <span class="speciality spantext"><i
                                                                class="fal fa-hand-point-right">&nbsp;</i>Dermatologist</span>
                                                        <span class="email spantext"><i
                                                                class="fal fa-envelope-open"></i>&nbsp;
                                                            draanchal@gmail.com</span>
                                                        <span class="phno spantext"><i class="fal fa-phone"></i>&nbsp;
                                                            9094483144</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3>Tags </h3>
                                                </div>
                                                <div class="list-single-tags tags-stylwrap  sb-tags">
                                                    <a href="#">Heart Diseases</a>
                                                    <a href="#">Hair Growth</a>
                                                    <a href="#">Fair Skin</a>
                                                    <a href="#">Pregnancy</a>
                                                    <a href="#">health & Finess</a>
                                                    <a href="#">Food and Nutritions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="team-holder section-team fl-wrap flipbook-show">
                                        <div class="team-box">
                                            <div class="team-photo">
                                                <img src="assets/images/blogs/flipbook-sample.jpg" alt=""
                                                    class="respimg">
                                                <div class="sale-window big-sale">Flip Book</div>
                                            </div>
                                            <div class="team-info">
                                                <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                                <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                                                <h4>Heart Diseases | Healthy Heart</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                <div class="team-social">
                                                    <ul>
                                                        <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a>
                                                        </li>
                                                        <li><a href="#" target="_blank"><i
                                                                    class="fa fa-heart"></i>120</a></li>
                                                        <li><a href="#" target="_blank"><i
                                                                    class="fa fa-comments-alt"></i>17</a></li>
                                                    </ul>
                                                    <a class="team-contact_link" href="#"><i
                                                            class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <!--box-widget-item end -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget counter-widget">
                                            <div class="banner-wdget fl-wrap">
                                                <div class="overlay"></div>
                                                <div class="bg" data-bg="assets/images/blogs/rel-blog-post-3.jpg"></div>
                                                <div class="banner-wdget-content fl-wrap">
                                                    <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                                    <div class="countdown fl-wrap">
                                                        <div class="countdown-item">
                                                            <span class="days rot">200</span>
                                                            <p>Views</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="hours rot">17</span>
                                                            <p>Likes</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="minutes rot">26</span>
                                                            <p>Comments</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="seconds rot">15</span>
                                                            <p>Shares</p>
                                                        </div>
                                                    </div>
                                                    <a href="#">Watch Video Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item -->
                                    <!--box-widget-item end -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Get health tips in your inbox </h3>
                                                </div>
                                                <div class="search-widget">
                                                    <img src="assets/images/blogs/mailbox.svg" alt="" class="mail-box">
                                                    <form action="#" class="fl-wrap">
                                                        <input name="se" id="se" type="text" class="search"
                                                            placeholder="Enter your email id here" />
                                                        <button class="search-submit color2-bg" id="submit_btn"><i
                                                                class="fal fa-arrow-alt-circle-right transition send-icon"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header fnone mb-15px">
                                                    <h3> Related Questions </h3>
                                                </div>
                                                <div class="related-question-widget">
                                                    <ul>
                                                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas
                                                            refer me any oil or treatment...!! Or mediation t... <a
                                                                href="#">Read more</a></li>
                                                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas
                                                            refer me any oil or treatment...!! Or mediation t... <a
                                                                href="#">Read more</a></li>
                                                        <li><b>Hair growth problem</b>Hair growth problem...!! Pleas
                                                            refer me any oil or treatment...!! Or mediation t... <a
                                                                href="#">Read more</a></li>
                                                    </ul>
                                                    <a href="list-forums.html" class="color-bg view-all-btn">View
                                                        All</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--   sidebar end  -->
                </div>
                <!--   row end  -->
            </div>
            <!--   container  end  -->
        </section>
        <!--  section  end-->
    </div>
    <!-- content end-->
    <div class="limit-box fl-wrap"></div>
</div>