<div id="wrapper" class="list-videos">
    <!-- content-->
    <div class="content">
        <!--  section  -->
        <section class="color-bg middle-padding banner-sec">
            <div class="wave-bg wave-bg2 videos-bg"></div>
            <div class="container">
                <div class="flat-title-wrap top-banner-sec">
                    <h2><span>Our Videos</span></h2>
                    <!-- <span class="section-separator"></span> -->
                    <!-- <h3>Solve all your doubt and enrich life with great articles from top doctors around the world</h3> -->
                </div>
            </div>
        </section>
        <!--  section  end-->
        <div class="breadcrumbs-fs fl-wrap select2-show-mbl">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group text-left">
                        <select class="form-control selectsingle js-example-tags">
                            <option>-- Choose Categories --</option>
                            <optgroup label="Skin & Hair Care" class="bg-clr">
                                <option>Acne</option>
                                <option>Hair Carespan</option>
                                <option>Hair Fallspan</option>
                                <option>Hair Lossspan</option>
                                <option>Healthy Skinspan</option>
                            </optgroup>
                            <optgroup label="Nutrition & Diet">
                                <option>Diet</option>
                                <option>Food & Beverages</option>
                                <option>Healthy Eating</option>
                                <option>Vitamin & Supplements</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-fs fl-wrap select2-hide-mbl">
            <div class="container">
                <div class="breadcrumbs fl-wrap splitup-icon"><a [class.activecat]="currCategory.id == cat.id" (click)="selectCategory(cat)" *ngFor="let cat of cascadeList" class="pointer">{{cat.name}}</a>
                </div>
            </div>
        </div>
        <!-- section-->
        <section id="sec1" class="middle-padding grey-blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!--box-widget-wrap -->
                        <div class="box-widget-wrap fl-wrap search-show-mbl">
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> Search In Videos </h3>
                                        </div>
                                        <div class="search-widget">
                                            <form action="#" class="fl-wrap">
                                                <input name="se" id="se" type="text" class="search" placeholder="Search.." value="Search..." />
                                                <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search transition"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--box-widget-item end -->
                    </div>
                    <!--video content -->
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <!--post-container -->
                        <div class="post-container fl-wrap">
                            <!--article-masonry -->
                            <div class="listing-videos-card" *ngFor="let video of videoList.results">
                                <article class="card-post">
                                    <div class="card-post-img fl-wrap geodir-category-img">
                                        <a routerLink="/video/{{video.id}}"><img [src]="video.thumbnail || './../../assets/images/bg/4.jpg'" alt=""></a>
                                        <div class="geodir-category-opt">
                                            <div class="rate-class-name">
                                                <span><i class="fa fa-heart"></i> &nbsp; {{video.likes_count}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-post-content fl-wrap">
                                        <h3><a routerLink="/video/{{video.id}}">{{video.title}}</a></h3>
                                        <!-- <div class="desc" [innerHTML]="video.description.length <200 ? video.description : video.description.slice(0,200) + '...'"></div> -->
                                        <p>{{(video.description.length < 80) ? video.description : (video.description.slice(0,80) + '...')}}</p>
                                        <div class="post-author">
                                            <!-- <a href="#"><img src="assets/images/avatar/4.jpg" alt=""></a> -->
                                            <!-- <a><span class="authorcls">Author&nbsp;:&nbsp;</span> {{video.author}} -->
                                              <!-- <i class="fal fa-external-link-alt"></i></span><br> -->
                                              <!-- <span>Dermatologist</span> -->
                                            <!-- </a> -->
                                        </div>
                                        <div class="post-opt">
                                            <ul>
                                                <li><i class="fal fa-heart"></i> <a href="#">{{video.likes_count}}</a> </li>
                                                <!-- <li><i class="fal fa-share-alt"></i> <span>8</span></li> -->
                                                <li><i class="fal fa-comments-alt"></i> <a href="#">{{video.reviews_count}}</a> </li>
                                                <li class="fright"><i class="fal fa-calendar"></i> <span>{{video.created_at | date : "dd MMM yyyy hh:mm a"}}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- pagination-->
                            <div class="load_more" *ngIf="videoList?.results?.length>0">
                                <a class="load-more-button" href="#">Load more <i *ngIf="false" class="fal fa-spinner"></i> </a>
                            </div>
                            <!-- pagination end-->
                        </div>
                        <!--post-container end -->
                    </div>
                    <!-- video content end -->
                    <!--   sidebar  -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!--box-widget-wrap -->
                        <div class="box-widget-wrap fl-wrap hidden-in-ipad">
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap search-hide-mbl">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3> Search In video </h3>
                                        </div>
                                        <div class="search-widget">
                                            <form action="#" class="fl-wrap">
                                                <input name="se" id="se" (keyup)="searchTerm$.next($event.target.value)" [(ngModel)]="searchText" type="text" class="search" placeholder="Search.." />
                                                <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search transition"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap" *ngIf="currCategory?.subcategories?.length>0">
                                <div class="box-widget">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3>{{currCategory.name}}</h3>
                                        </div>
                                        <div class="box-widget-author fl-wrap">
                                            <div class="accordion">
                                                <a (click)="selectSubCategory(sub)" [class.selected]="sub.id == currSubCategory.id" *ngFor="let sub of currCategory.subcategories" class="toggle">{{sub.name}}<span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget widget-posts">
                                    <div class="box-widget-content">
                                        <div class="box-widget-item-header">
                                            <h3>Popular Videos</h3>
                                        </div>
                                        <!--box-image-widget-->
                                        <div class="box-image-widget" *ngFor="let pop of popularList">
                                            <div class="box-image-widget-media"><img [src]="pop.thumbnail" alt="">
                                                <a routerLink="/video-detail/{{pop.id}}" class="color-bg">Details</a>
                                            </div>
                                            <div class="box-image-widget-details">
                                                <h4>{{pop.title}}</h4>
                                                <p>{{(pop.description.length < 50) ? pop.description : (pop.description.slice(0,50) + '...')}}</p>
                                                <a href="">
                                                    <span class="widget-posts-date"><i class="fal fa-heart"></i>{{pop.likes_count}}</span>
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> {{pop.created_at | date : "dd MMM yyyy"}} </span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--box-image-widget end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--box-widget-wrap end -->
                        <div class="show-in-ipad">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3> Search In video </h3>
                                                </div>
                                                <div class="search-widget">
                                                    <form action="#" class="fl-wrap">
                                                        <input name="se" id="se"  type="text" class="search" placeholder="Search.." value="Search..." />
                                                        <button class="search-submit color2-bg" id="submit_btn"><i class="fal fa-search transition"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3>{{currCategory.name}}</h3>
                                                </div>
                                                <div class="box-widget-author fl-wrap">
                                                    <div class="accordion">
                                                        <a *ngFor="let sub of currCategory.subcategories" class="toggle pointer">{{sub.name}}<span></span></a>
                                                        <!-- <div class="accordion-inner">
                                                            <ul>
                                                                <li><a href="#">Acne<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Hair Carespan<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Hair Fallspan<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Hair Lossspan<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Healthy Skinspan<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                            </ul>
                                                        </div>
                                                        <a class="toggle" href="#">Cancer<span></span></a>
                                                        <div class="accordion-inner">
                                                            <ul>
                                                                <li><a href="#">Cancer<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Cancer Awareness<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Cancer Prevention<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Oral Cancer<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                            </ul>
                                                        </div>
                                                        <a class="toggle" href="#">Nutrition & Diet<span></span></a>
                                                        <div class="accordion-inner">
                                                            <ul>
                                                                <li><a href="#">Diet<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Food & Beverages<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Healthy Eating<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Vitamin & Supplements<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                            </ul>
                                                        </div>
                                                        <a class="toggle" href="#">Weight Management<span></span></a>
                                                        <div class="accordion-inner">
                                                            <ul>
                                                                <li><a href="#">Obesity<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Weight Loss<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Weight Gain<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                            </ul>
                                                        </div>
                                                        <a class="toggle" href="#">Pregnancy, Kids & Parenting<span></span></a>
                                                        <div class="accordion-inner">
                                                            <ul>
                                                                <li><a href="#">Before Pregnancy<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">During Pregnancy<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Childhood Nutrition<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Parenting<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                                <li><a href="#">Child Mental Development<span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
                                                            </ul>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
  
                                    <!--box-widget-item -->
                                    <!--box-widget-item end -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget counter-widget">
                                            <div class="banner-wdget fl-wrap">
                                                <div class="overlay"></div>
                                                <div class="bg" data-bg="assets/images/videos/rel-video-post-3.jpg"></div>
                                                <div class="banner-wdget-content fl-wrap">
                                                    <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                                    <div class="countdown fl-wrap">
                                                        <div class="countdown-item">
                                                            <span class="days rot">200</span>
                                                            <p>Views</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="hours rot">17</span>
                                                            <p>Likes</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="minutes rot">26</span>
                                                            <p>Comments</p>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <span class="seconds rot">15</span>
                                                            <p>Shares</p>
                                                        </div>
                                                    </div>
                                                    <a href="#">Watch Video Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
  
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap">
                                        <div class="box-widget widget-posts">
                                            <div class="box-widget-content">
                                                <div class="box-widget-item-header">
                                                    <h3>Popular Posts</h3>
                                                </div>
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media"><img src="assets/images/blogs/rel-video-post-1.jpg" alt="">
                                                        <a href="video-details.html" class="color-bg">Details</a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <h4>Dad, Take Care! A letter from son with heartful love</h4>
                                                        <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                        <a href="">
                                                            <span class="widget-posts-date"><i class="fal fa-eye"></i>300</span>
                                                            <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 2017 </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media"><img src="assets/images/blogs/rel-video-post-2.jpg" alt="">
                                                        <a href="video-details.html" class="color-bg">Details</a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <h4>What is going on with My Teenager?</h4>
                                                        <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                        <a href="">
                                                            <span class="widget-posts-date"><i class="fal fa-eye"></i>410</span>
                                                            <span class="widget-posts-date"><i class="fal fa-calendar"></i> 12 May 2017 </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
                                                <!--box-image-widget-->
                                                <div class="box-image-widget">
                                                    <div class="box-image-widget-media"><img src="assets/images/blogs/rel-video-post-3.jpg" alt="">
                                                        <a href="video-details.html" class="color-bg">Details</a>
                                                    </div>
                                                    <div class="box-image-widget-details">
                                                        <h4>5 Must-Know Parenting Tips For Newborn Babies</h4>
                                                        <p>A brief mental health awareness talkOn the occasion of Father's Day,</p>
                                                        <a href="">
                                                            <span class="widget-posts-date"><i class="fal fa-eye"></i>257</span>
                                                            <span class="widget-posts-date"><i class="fal fa-calendar"></i> 27 Dec 2017 </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--box-image-widget end -->
  
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                    <!--box-widget-item -->
                                    <div class="team-holder section-team fl-wrap flipbook-show">
                                        <div class="team-box">
                                            <div class="team-photo">
                                                <img src="assets/images/blogs/flipbook-sample.jpg" alt="" class="respimg sidebar-flip-img">
                                                <div class="sale-window big-sale">Flip Book</div>
                                            </div>
                                            <div class="team-info">
                                                <div class="team-dec"><i class="fal fa-chart-line"></i></div>
                                                <h3><a href="#">Best Ways to Keep Your Heart Healthy</a></h3>
                                                <h4>Heart Diseases | Healthy Heart</h4>
                                                <p class="sidebar-flip-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                <div class="team-social">
                                                    <ul>
                                                        <li><a href="#" target="_blank"><i class="fa fa-eye"></i>200</a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-heart"></i>120</a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-comments-alt"></i>17</a></li>
                                                    </ul>
                                                    <a class="team-contact_link" href="#"><i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--   sidebar end  -->
                </div>
            </div>
            <div class="limit-box fl-wrap"></div>
        </section>
        <!-- section end -->
    </div>
    <!-- content end-->
</div>